@use 'sass:color';
@use 'button';
@use 'functions';
@use 'list';
@use 'settings';

.browse-by-category {
  grid-column: 1/-1;
}

.browse-by-category-list {
  @include list.basics();
  display: flex;
  flex-flow: row wrap;
  gap: functions.px-to-rem(32px);
}

.browse-by-category-list__link {
  @include button.experimental-category-link();
}
