@use 'sass:color';
@use 'button';
@use 'functions';
@use 'list';
@use 'settings';

.search-categories {
  grid-column: 1/-1;
}

.search-categories-list {
  @include list.basics();
  display: flex;
  flex-flow: row wrap;
  gap: functions.px-to-rem(32px);
}

.search-categories-list__link {
  @include button.link(
    $text: settings.$colour-text-primary,
    $background: settings.$colour-white,
    $background-hover: settings.$colour-background-grey,
    );
  border: 1px solid settings.$colour-furniture;
}
