@use '../../sass/breakpoints';
@use '../../sass/functions';
@use '../../sass/layout';
@use '../../sass/list';
@use '../../sass/settings';
@use '../../sass/states';
@use '../../sass/typography';

$_menu-page-upper-inline-spacing: 26px;

.menu-page-container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: settings.$site-header-height auto;
  flex-grow: 1;
  height: 100vh;
}

.menu-page__close_nav {
  order: 1;
}

.menu-page-header {
  display: flex;
  order: 2;
  align-self: center;
}

.menu-page-main-content {
  display: flex;
  justify-content: center;
  order: 3;
  grid-column: 1 / -1;
  margin-bottom: 0; // TODO remove when global <main> has no margin-bottom
}

.navigation-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 1rem;
  color: settings.$colour-white;
  background-color: settings.$colour-brand;
}

.navigation-menu__title {
  @include typography.page-label();
  padding-left: functions.px-to-rem($_menu-page-upper-inline-spacing);
  margin-bottom: 1.25rem;
}

.menu-page__close_nav {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin-left: functions.px-to-rem(settings.$sciety-default-gutter);
  margin-right: functions.px-to-rem(settings.$site-header-click-target-separation);

  &::before {
    @include layout.visually-hidden();
    content: 'Close the following menu';
  }
}
