@use 'sass:math';

@use '../../sass/settings';
@use '../../sass/functions';
@use '../../sass/baseline';
@use '../../sass/button';
@use '../../sass/typography';
@use '../../sass/list';

$_inline-spacing: 16px;
$_link-max-width: 300px;
$_link-text-font-size: 14px;
$_link-min-height: 2.5rem;
$_link-inline-offset-to-align-with-header: 10px;

.site-menu__links {
  @include list.basics();
  margin-right: functions.px-to-rem($_inline-spacing);
  margin-left: functions.px-to-rem($_inline-spacing);
}

.site-menu__link {
  @include typography.button();
  display: block;
  @supports (display: flex) {
    display: flex;
  }
  align-items: center;
  min-height: $_link-min-height;
  max-width: functions.px-to-rem($_link-max-width);
  padding-left: functions.px-to-rem($_link-inline-offset-to-align-with-header);
  border-radius: settings.$border-radius;
  font-weight: bold;

  &:link,
  &:visited {
    color: settings.$colour-white;

    &:hover,
    &:active {
      background-color: settings.$colour-navigation-menu-hover;
      color: inherit;
    }
  }
}

.site-menu__link_text {
  display: inline-block;
  padding-top: math.div($_link-min-height - functions.px-to-rem($_link-text-font-size), 2);
  @supports (display: flex) {
    padding-top: 0;
  }
}
