@use 'sass:math';

@use '../../sass/settings';
@use '../../sass/functions';
@use '../../sass/button';
@use '../../sass/typography';
@use '../../sass/list';

$_inline-spacing: 16px;
$_link-max-width: 300px;
$_link-inline-offset-to-align-with-header: 10px;

.site-menu__links {
  @include list.basics();
  margin-right: functions.px-to-rem($_inline-spacing);
  margin-left: functions.px-to-rem($_inline-spacing);
}

.site-menu__link {
  @include typography.button();
  display: flex;
  align-items: center;
  max-width: functions.px-to-rem($_link-max-width);
  padding-left: functions.px-to-rem($_link-inline-offset-to-align-with-header);
  border-radius: settings.$border-radius;
  margin-bottom: 2rem;
  font-weight: bold;

  &:link,
  &:visited {
    color: settings.$colour-white;

    &:hover,
    &:active {
      color: inherit;
    }
  }
}

.site-menu__link_text {
  display: inline-block;
  padding-top: 0;
}
