@use '../../sass/settings';
@use '../../sass/functions';
@use '../../sass/layout';
@use '../../sass/breakpoints';
@use '../../sass/button';
@use '../../sass/list';
@use '../../sass/typography';
@use './common';

.home-page-groups {
  padding-top: common.$section-padding;
  padding-left: functions.px-to-rem(settings.$sciety-default-gutter);
  padding-right: functions.px-to-rem(settings.$sciety-default-gutter);
  margin: 0 auto;
  max-width: functions.px-to-rem(settings.$max-site-width);
}

.home-page-groups__title {
  @include typography.section();
  margin-bottom: 2rem;
}

.home-page-groups-list {
  @include list.basics();
  margin-bottom: functions.px-to-rem(32px);

		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		gap: functions.px-to-rem(56px) functions.px-to-rem(32px);
}

.home-page-groups-list__link {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 200px;
  height: 70px;
  display: block;
}

.home-page-groups-list__link--elife {
  background-image: url('/static/images/home-page/elife.svg');
}

.home-page-groups-list__link--prelights {
  background-image: url('/static/images/home-page/prelights.svg');
}

.home-page-groups-list__link--review-commons {
  background-image: url('/static/images/home-page/review-commons.png');
}

.home-page-groups-list__link--asapbio {
  background-image: url('/static/images/home-page/asapbio.png');
}

.home-page-groups-list__link--rrid {
  background-image: url('/static/images/home-page/rrid.png');
}

.home-page-groups-list__link--arcadia-science {
  background-image: url('/static/images/home-page/arcadia-science.svg');
}

.home-page-groups-list__link--prereview {
  background-image: url('/static/images/home-page/prereview.svg');
}

.home-page-groups__button_wrapper {
  display: flex;
  justify-content: center;
}

.home-page-groups__button {
  @include button.button-link-teal();
  margin: 0 auto;
}
