@use '../../sass/settings';
@use '../../sass/functions';
@use '../../sass/baseline';
@use '../../sass/typography';
@use '../../sass/breakpoints';
@use '../../sass/button';
@use '../../sass/states';
@use 'common';
@use 'hero-search-form';

$_arbitrary-large-amount-of-px: 9000px;

$_image-path: 'images/home-page-illustration.png';
$_colour-home-page-illustration-background: rgb(226, 230, 233);
$_image-height: 722px;
$_desired-image-width-on-wide-screens: 396px;

@mixin vertical-spacing-in-left-wrapper() {
  margin-bottom: baseline.increments(2.5);

  @include breakpoints.not-narrow() {
    margin-bottom: baseline.increments(5);
  }

}

.home-page-hero {
  max-width: settings.$max-site-width;
  margin: 0 auto;
  background-color: settings.$colour-page-background;

  @media screen and (min-width: common.$home-page-breakpoint) {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-column-gap: functions.px-to-rem(settings.$sciety-default-gutter);

    position: relative;

    &::before {
      content: '';
      border-left: $_arbitrary-large-amount-of-px solid settings.$colour-page-background;
      position: absolute;
      bottom: 0;
      left: calc(#{$_arbitrary-large-amount-of-px} * -1);
      top: 0;
      right: 0;
      z-index: -1;
    }

    &::after {
      content: '';
      border-left: $_arbitrary-large-amount-of-px solid settings.$colour-container-background;
      position: absolute;
      bottom: 0;
      left: 0;
      top: 0;
      right: calc(#{$_arbitrary-large-amount-of-px} * -1);
      z-index: -1;
    }
  }
}

.home-page-hero__content_title {
  @include typography.sizing(32px, 4.75);
  font-weight: normal;
  margin-top: baseline.increments(2.5);
  margin-bottom: 0.5rem;

  @include breakpoints.not-narrow() {
    @include typography.sizing(36px, 5.25);
    margin-bottom: baseline.increments(1.5);
  }
}

.home-page-hero__content_byline {
  @include vertical-spacing-in-left-wrapper();
  @include typography.sizing(20px, 2.75);

  @include breakpoints.not-narrow() {
    @include typography.sizing(24px, 3.5);
  }
}

.home-page-hero__section {
  @include vertical-spacing-in-left-wrapper();

  &:last-child {
    margin-bottom: 0;
  }
}

.home-page-hero__subheading {
  margin-bottom: baseline.increments(0.5);
}

.home-page-hero__video_call_to_action {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url($_image-path) no-repeat center center;
  background-size: contain;
  width: 100%;
  height: calc($_image-height / 2);

  @media screen and (min-width: common.$home-page-breakpoint) {
    max-width: functions.px-to-rem($_desired-image-width-on-wide-screens);
    height: 100%;
    margin: 0 auto;
  }
}

.home-page-hero__left_wrapper {
  padding-bottom: baseline.increments(6);
  padding-right: functions.px-to-rem(settings.$sciety-default-gutter);
  padding-left: functions.px-to-rem(settings.$sciety-default-gutter);
  padding-top: baseline.increments(2.5);

  @media screen and (min-width: common.$home-page-breakpoint) {
    grid-column: 1 / 8;
    padding-top: baseline.increments(7.5);
  }

}

.home-page-hero__right_wrapper {
  padding-right: functions.px-to-rem(settings.$sciety-default-gutter);
  padding-left: functions.px-to-rem(settings.$sciety-default-gutter);
  background-color: settings.$colour-container-background;
  padding-top: common.$section-padding;
  padding-bottom: common.$section-padding;
  width: 100%;

  @media screen and (min-width: common.$home-page-breakpoint) {
    grid-column: 8 / 13;
    width: unset;
  }
}

.home-page-hero__video_cta_text_wrapper {
  text-align: center;
  margin-top: calc(#{baseline.increments(8)} * -1);
  margin-left: functions.px-to-rem(25.6px);
}

.home-page-hero__video_cta_copy,
 
.home-page-hero__video_cta_link {
  background-color: $_colour-home-page-illustration-background;
  font-size: functions.px-to-rem(18px);
  font-weight: bold;

  @include breakpoints.not-narrow() {
    font-size: functions.px-to-rem(20px);
  } 
}

.home-page-hero__video_cta_copy {
  margin-bottom: 0; 
}

.home-page-hero__video_cta_link {
  display: inline-flex;
  align-items: center;
  gap: functions.px-to-rem(8px);

  @include states.link() {
    text-decoration: underline;
  }
}

.home-page-hero__groups_link {
  font-weight: bold;
}

.home-page-hero__above_button {
  margin-bottom: 0.5rem;
}

.home-page-hero__sign_up_button {
  @include button.button-link();
}
