@use '../../sass/settings';
@use '../../sass/card';

.list-card {
  @include card.basics();
  position: relative;
}

.list-card__title {
  @include card.title();
}

.list-card__link {
  @include card.link();

  &:hover {
    &::after {
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    }
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: settings.$border-radius;
  }
}

.list-card__meta {
  @include card.meta();
}
