@use '../../../sass/button';
@use '../../../sass/functions';
@use '../../../sass/list';
@use '../../../sass-utilities' as utilities;
@use '../../../sass/typography';
@use '../../../sass/breakpoints';
@use '../../../sass/layout';
@use '../../../sass/card';
@use '../../../sass/avatar';

.page-header--user {
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: functions.px-to-rem(24px);

  .page-header__avatar {
    @include avatar.border();
    width: avatar.$size--large;
    height: avatar.$size--large;
    flex: 0 0 avatar.$size--large;
    margin-right: functions.px-to-rem(16px);
  }

  h1 {
    margin-bottom: 0;
  }

  .page-header__handle {
    font-size: functions.px-to-rem(16px);

    @include breakpoints.not-narrow() {
      font-size: functions.px-to-rem(20px);
    }
  }
}

.static-message {
  padding-top: functions.px-to-rem(16px);
  margin-left: functions.px-to-rem(16px);
  margin-right: functions.px-to-rem(16px);

  @include breakpoints.not-narrow() {
    margin-left: 0;
    margin-right: 0;
  }
}
