@use '../sass/card';
@use '../sass/settings';
@use '../sass/typography';

$_avatar-size: 48px;

.group-activity-list {
  @include card.list();
}

.group-activity-list__item {
  @include card.list-item();
}

.evaluated-articles__subheading {
  @include typography.subheading();
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.evaluated-articles__avatar {
  width: $_avatar-size;
  height: $_avatar-size;
  border-radius: settings.$border-radius;
  border: settings.$avatar-border;
  margin-right: 0.5rem;
}

.evaluated-articles__description {
  margin-bottom: 0.5rem;
}

.evaluated-articles__meta {
  @include typography.details();
}

.evaluated-articles__page_count {
  @include typography.details();
  font-weight: bold;
  margin-bottom: 1rem;
}
