@use '../sass/breakpoints';
@use '../sass/card';
@use '../sass/layout';
@use '../sass/settings';
@use '../sass/typography';

$_avatar-size: 48px;

@mixin header-horizontal-spacing() {
  margin-left: 1rem;
  margin-right: 1rem;

  @include breakpoints.not-narrow {
    margin-left: 0;
    margin-right: 0;
  }
}

.evaluated-articles-list {
  @include card.list();
}

.evaluated-articles-list__item {
  @include card.list-item();
}

.page-header.page-header--group-evaluations {
  @include layout.page-header-top-space();
  @include header-horizontal-spacing();
  color: settings.$colour-text-primary;
  margin-bottom: 1rem;
}

.page-header--group-evaluations .page-header__subheading {
  @include typography.subheading();
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.page-header--group-evaluations .page-header__avatar {
  width: $_avatar-size;
  height: $_avatar-size;
  border-radius: settings.$border-radius;
  border: settings.$avatar-border;
  margin-right: 0.5rem;
}

.page-header--group-evaluations .page-header__description {
  margin-bottom: 0.5rem;
}

.page-header--group-evaluations .page-header__meta {
  @include typography.details();
  @include typography.list-separator();
}

.evaluated-articles__page_count {
  @include typography.details();
  @include header-horizontal-spacing();
  font-weight: bold;
  color: settings.$colour-text-primary;
  margin-bottom: 1rem;
}

.evaluated-articles__empty {
  @include header-horizontal-spacing();
  color: settings.$colour-text-primary;
}
