@use '../sass/breakpoints';
@use '../sass/card';
@use '../sass/layout';
@use '../sass/settings';
@use '../sass/typography';
@use '../sass/page-header';
@use '../sass/avatar';

.evaluated-articles-list {
  @include card.list();
}

.evaluated-articles-list__item {
  @include card.list-item();
}

.page-header.page-header--group-evaluations {
  margin-bottom: 1rem;
}

.page-header--group-evaluations .page-header__subheading {
  @include typography.subheading();
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.page-header--group-evaluations .page-header__avatar {
  @include avatar.border();
  width: avatar.$size--medium;
  height: avatar.$size--medium;
  margin-right: 0.5rem;
}

.page-header--group-evaluations .page-header__description {
  margin-bottom: 0.5rem;
}

.page-header--group-evaluations .page-header__meta {
  @include typography.details();
  @include typography.list-separator();
}

.evaluated-articles__page_count {
  @include typography.details();
  @include layout.page-content-horizontal-margins();
  font-weight: bold;
  margin-bottom: 1rem;
}

.evaluated-articles__static_message {
  @include layout.page-content-horizontal-margins();
}

.error-card {
  @include card.basics()
}