@use 'sass:math';

@use '../../sass/settings';
@use '../../sass/functions';
@use '../../sass/button';
@use '../../sass/typography';
@use '../../sass/list';
@use '../../sass/states';
@use '../../sass/breakpoints';

$_inline-spacing: 16px;
$_link-max-width: 300px;
$_link-inline-offset-to-align-with-header: 10px;

.mobile-menu {
  padding-top: functions.px-to-rem(24px);
  height: 100vh;

  @include breakpoints.site-header() {
    display: none;
  }
}

.mobile-menu__links {
  @include list.basics();
  margin-right: functions.px-to-rem($_inline-spacing);
  margin-left: functions.px-to-rem($_inline-spacing);
}

.mobile-menu__link {
  @include typography.button();
  display: inline-block;
  align-items: center;
  max-width: functions.px-to-rem($_link-max-width);
  padding-left: functions.px-to-rem($_link-inline-offset-to-align-with-header);
  border-radius: settings.$border-radius;
  margin-bottom: 2rem;
  font-weight: bold;

  &:link,
  &:visited {
    color: settings.$colour-white;

    &:hover,
    &:active {
      color: settings.$colour-accent-hover-on-dark-background;
    }
  }
}

.mobile-menu__link_text {
  display: inline-block;
  padding-top: 0;
}

.mobile-menu__back_link::after {
  content: '\A0\2190';
}

.mobile-menu__link_primary_button {
  @include button.button-link();
}

.mobile-menu__link_sign_up_button {
  @include typography.button();
  border-radius: settings.$border-radius;
  border: settings.$border-width solid settings.$colour-furniture;
  padding: 0.5rem functions.px-to-rem(12px - settings.$border-width);

  &:link,
  &:visited {
    color: settings.$colour-white;

    @include states.link() {
      background-color: settings.$colour-furniture;
      color: settings.$colour-brand;
      ;
    }
  }
}
