@use '../../../sass/functions';
@use '../../../sass/settings';
@use '../../../sass/typography';
@use '../../../sass/card';
@use '../common';

.curation-teaser {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: common.$home-page-breakpoint) {
    @supports (display: flex) {
      height: 100%;
    }
  }
}

.curation-teaser__quote_wrapper {
  position: relative;
}

.curation-teaser__quote_wrapper::before {
  content: '"';
  font-family: serif;
  font-size: functions.px-to-rem(48px);
  line-height: 1;
  position: absolute;
  left: -24px;
  top: -16px;
  color: settings.$colour-accent;
}

.curation-teaser__quote_wrapper::after {
  content: '"';
  font-family: serif;
  font-size: functions.px-to-rem(48px);
  line-height: 1;
  position: absolute;
  right: -16px;
  bottom: -20px;
  color: settings.$colour-accent;
}

/* stylelint-disable value-no-vendor-prefix */
.curation-teaser__quote {
  border-width: 0;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 10;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* stylelint-enable value-no-vendor-prefix */

.curation-teaser__strapline {
  font-weight: bold;
}
