@use '../../../sass/functions';
@use '../../../sass/typography';
@use '../../../sass/card';
@use '../common';
@use '../../../sass/scheme';

.evaluation-card {
  @include card.basics();
  display: flex;
  flex-direction: column;

  @media screen and (min-width: common.$home-page-breakpoint) {
    @supports (display: flex) {
      height: 100%;
    }
  }
}

.evaluation-card__group {
  @include typography.body();
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  order: 1;
}

.evaluation-card__title {
  @include typography.card-title();
  margin-bottom: 1rem;
  order: 2;
}

.evaluation-card__link {
  @include scheme.use-card-link-colours();
}

.evaluation-card__meta {
  @include card.meta();
  order: 3;

  @media screen and (min-width: common.$home-page-breakpoint) {
    margin-top: auto;
  }
}

.evaluation-card__avatar {
  @include card.avatar();
  margin-right: functions.px-to-rem(8px);
}
