@use '../../../sass/settings';
@use '../../../sass/functions';
@use '../../../sass/baseline';
@use '../../../sass/typography';
@use '../../../sass/breakpoints';
@use '../../../sass/layout';
@use '../../../sass/list';
@use '../../../sass/card';
@use '../common';
@use './evaluation-card';
@use './user-list-card';

.home-page-cards {
  padding-top: common.$section-padding;
  padding-bottom: 1.5rem;
  max-width: functions.px-to-rem(settings.$max-site-width);
  margin: 0 auto;

  @include breakpoints.not-narrow {
    padding-left: functions.px-to-rem(settings.$sciety-default-gutter);
    padding-right: functions.px-to-rem(settings.$sciety-default-gutter);
  }

  @media screen and (min-width: functions.px-to-em(484px)) {
    padding-bottom: 3rem;
  }
}

.home-page-cards__title {
  @include typography.section();
  @include layout.page-content-horizontal-margins();
  margin-bottom: 1.25rem;
}

.home-page-cards__cards {
  @include list.basics();
  padding-bottom: 2.5rem;
  margin-bottom: 0;

  @media screen and (min-width: common.$home-page-breakpoint) {
    @supports (display: flex) {
      display: flex;
      justify-content: space-evenly;
    }
  }
}

.home-page-cards__cards li {
  @include card.list-item;

  @media screen and (min-width: common.$home-page-breakpoint) {
    @supports (display: flex) {
      flex: 1 0;
      max-width: 384px; // maximum desired card width
      margin-bottom: 0;
      margin-right: functions.px-to-rem(24px);

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
