@use '../../sass/settings';
@use '../../sass/functions';
@use '../../sass/baseline';
@use '../../sass/card';
@use '../../sass/breakpoints';
@use '../../sass/typography';

.group-card {
  @include card.basics();
  @include card.link();
  display: flex;

  &:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  }
}

.group-card__body {
  flex-grow: 1;
}

.group-card__title {
  @include card.title();
}

.group-card__description {
  margin-bottom: baseline.increments(1);
}

.group-card__avatar {
  @include card.avatar();
  margin-left: functions.px-to-rem(32px);
}

.group-card__meta {
  @include card.meta();
}
