@use 'baseline';

$vertical-space-above-title--narrow: baseline.increments(2);
$vertical-space-above-title--wide: baseline.increments(5);

.activity-page__background--filler {
  background-color: rgb(233, 235, 240);
  width: 100vw;
  background-image: linear-gradient(180deg, rgb(207, 216, 220) 0, rgb(233, 235, 240) 8px);
}
