@use 'baseline';
@use 'settings';
@use 'typography';

.activity-page__background--filler {
  background-color: settings.$colour-page-background;
  width: 100vw;
  background-image: linear-gradient(180deg, settings.$colour-furniture 0, settings.$colour-page-background 8px);
}
