@use 'settings';
@use 'functions';
@use 'card';
@use 'typography';
@use 'breakpoints';

@use 'list';

$_optional-controls-icon-size: 24px;
$_footer-icon-separation: 16px;
$_card-padding: 16px;

/* stylelint-disable value-no-vendor-prefix */
@mixin _clamp-to-max-number-of-lines($number-of-lines) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $number-of-lines;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* stylelint-enable value-no-vendor-prefix */

.article-card {
  $_is-entire-card-linked: true;
  @include card.basics($_is-entire-card-linked);
}

.article-card__link {
  @include card.entire-card-link();
}

.article-card__title {
  @include card.title();
}

.article-card__error_message {
  margin-bottom: 0.5rem;
}

.article-card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: calc(#{functions.px-to-rem($_footer-icon-separation)} + #{$_optional-controls-icon-size});
}

.article-card__meta {
  @include card.meta();
}

.article-card__controls {
  position: absolute;
  bottom: functions.px-to-rem(12px);
  right: functions.px-to-rem($_card-padding);
}

.article-card-annotation {
  padding: functions.px-to-rem($_card-padding);
  margin-left: functions.px-to-rem($_card-padding);
  margin-right: settings.$border-radius;
  background-color: settings.$colour-highlighted-background;
  border: settings.$border-width solid settings.$colour-furniture;
  border-top: 0;
  border-bottom-left-radius: settings.$border-radius;
  border-bottom-right-radius: settings.$border-radius;

  p:last-child {
    margin-bottom: 0;
  }
}

.curation-teaser__quote_card {
  @include _clamp-to-max-number-of-lines(5);

  padding-left: functions.px-to-rem($_card-padding);
  padding-right: functions.px-to-rem($_card-padding);
  position: relative;

  &::before,
  &::after {
    position: absolute;
    font-size: functions.px-to-rem(32px);
    line-height: 0.5;
    color: settings.$colour-accent;
  }

  &::before {
    content: '\201C';
    left: 0;
    top: 8px;
  }

  &::after {
    content: '\201D';
    right: 0;
    bottom: 0;
  }

}

.card-teasers__teasers {
  @include list.basics();
  margin-bottom: 1rem;
  background-color: settings.$colour-highlighted-background;
  padding: functions.px-to-rem($_card-padding);
}

.card-teasers__teasers li {
  margin-bottom: functions.px-to-rem(48px);

  &:last-child {
    margin-bottom: 0;
  }
}

.card-teaser__heading {
  font-weight: normal;
}
