@use 'baseline';
@use 'breakpoints';
@use 'functions';
@use 'settings';
@use 'typography';

.article-tabs {
  @include typography.button();
  border-bottom: 2px solid transparent;
}

.article-tabs__tab {
  width: functions.px-to-rem(120px);
  display: inline-block;
  margin-bottom: -2px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: #37474f;
  padding-bottom: functions.px-to-rem(14px);
}

.article-tabs__link {
  &:link,
  &:visited {
    color: settings.$colour-text-primary;

    &:hover,
    &:active {
      color: settings.$colour-accent;
    }
  }
}

.article-tabs__heading {
  @include typography.button();
  border-bottom: 2px solid settings.$colour-accent;
}
