@use 'baseline';
@use 'breakpoints';
@use 'functions';
@use 'settings';
@use 'typography';

@mixin hide-top-border-touching-tabs() {
  border-top-width: 0;
  @include breakpoints.not-narrow {
    border-top-width: settings.$border-width;
  }
}

.article-tabs {
  @include typography.sizing(14px, 2.5);
  border-bottom: 2px solid settings.$colour-furniture;

  @include breakpoints.not-narrow {
    margin-bottom: baseline.increments(1.5);
  }
}

.article-tabs__tab {
  width: functions.px-to-rem(120px);
  display: inline-block;
  margin-bottom: -2px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: #37474f;
  padding-bottom: functions.px-to-rem(14px);
}

.article-tabs__link {
  &:link,
  &:visited {
    color: settings.$colour-text-primary;

    &:hover,
    &:active {
      color: settings.$colour-accent;
    }
  }
}

.article-tabs__heading {
  @include typography.sizing(14px, 2.5);
  border-bottom: 2px solid settings.$colour-accent;
}
