@use 'baseline';
@use 'button';
@use 'functions';
@use 'settings';

.article-author-list {
  font-family: settings.$font-secondary;
  padding-left: 0;
  display: flow-root;
  list-style: none;
}

.article-author-list > li {
  float: left;
  line-height: 1.5;
}

.article-author-list > li::after {
  content: ', \00a0';
}

.article-author-list > li:last-child::after {
  content: '';
}

.article-meta-data-list {
  font-family: settings.$font-secondary;
  list-style: none;
  padding-left: 0;
}

.article-meta-data-list > li {
  line-height: 1.5;
}

.article-call-to-action-link {
  font-family: settings.$font-secondary;
}

.article-abstract {
  margin-bottom: #{baseline.increments(6)};
}

.tweet-button {
  @include button.basics();
  font-family: settings.$font-secondary;
  font-size: functions.px-to-rem(14px);
  background-color: settings.$colour-teal;
  color: settings.$colour-white;
  display: inline-flex;
  align-items: center;

  &:hover {
    background-color: settings.$colour-ui-default;
    color: settings.$colour-white;
  }
}

.tweet-button__icon {
  width: functions.px-to-rem(24px);
  height: functions.px-to-rem(24px);
  border-radius: 5px;
}
