@use 'settings';
@use 'functions';
@use 'baseline';
@use 'card';
@use 'typography';
@use 'breakpoints';

@use 'list';

.article-card {
  @include card.basics();
}

.article-card__title {
  @include card.title();
}

.article-card__link {
  @include card.link();
}

.article-card__authors {
  @include list.basics();
  @include typography.sizing(14px, 2.5);
  margin-bottom: baseline.increments(1);
  font-family: settings.$font-family;
}

.article-card__author {
  @include list.author-separator-terminator();
  display: inline;
}

.article-card__meta {
  @include card.meta();

  > * {
    margin-right: 0.25rem;
  }

  > :nth-child(n+3)::before {
    content: '•';
    margin-right: 0.25rem;
  }
}
