@use 'settings';
@use 'functions';
@use 'baseline';
@use 'card';
@use 'typography';
@use 'breakpoints';

@use 'list';

.article-activity-card {
  @include card.basics();
}

.article-activity-card__title {
  @include typography.sizing(16px, 2.5);
  font-family: settings.$font-family;
  font-weight: bold;
  margin-bottom: baseline.increments(0.5);
}

.article-activity-card__link {
  color: settings.$colour-text-primary;

  &:link,
  &:visited {
    color: settings.$colour-text-primary;

    &:active,
    &:hover {
      color: settings.$colour-text-primary;
    }
  }
}

.article-activity-card__authors {
  @include list.basics();
  @include typography.sizing(14px, 2.5);
  margin-bottom: baseline.increments(1);
  font-family: settings.$font-family;
}

.article-activity-card__author {
  @include list.author-separator-terminator();
  display: inline;
}

.article-activity-card__meta {
  @include typography.sizing(12px, 2.5);
  color: settings.$colour-text-secondary;
  font-family: settings.$font-family;
  letter-spacing: 0.09px;

  > * {
    margin-right: 0.25rem;
  }

  > :nth-child(n+3)::before {
    content: '•';
    margin-right: 0.25rem;
  }
}
