@use 'settings';
@use 'functions';
@use 'baseline';
@use 'card';
@use 'typography';
@use 'breakpoints';

@use 'list';

.article-card {
  @include card.basics();
}

.article-card__title {
  @include card.title();
}

.article-card__link {
  @include card.link();
}

.article-card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article-card__meta {
  @include card.meta();
}

.article-card__controls {
  margin-left: 1rem;
}
