@use 'baseline';
@use 'breakpoints';
@use 'button';
@use 'functions';
@use 'layout';
@use 'card';
@use 'list';
@use 'settings';
@use 'typography';

.page-header.page-header--article {
  margin-top: 0;
  margin-bottom: baseline.increments(3);
}

.badge {
  font-size: functions.px-to-rem(16px);
  background-color: settings.$colour-accent;
  color: settings.$colour-white;
  display: inline-block;
  font-weight: bold;
  padding: functions.px-to-rem(2px) functions.px-to-rem(12px);
  margin-bottom: functions.px-to-rem(16px);
  border-radius: 50px;
}

.article-actions {
  display: flex;
  align-items: center;
}

.tweet-button {
  @include button.basics();
  @include typography.button();
  display: inline-flex;
  align-items: center;
  padding-right: functions.px-to-rem(5px);
  margin-right: 2em;

  &:link,
  &:visited {
    background-color: settings.$colour-teal;
    color: settings.$colour-white;

    &:hover,
    &:active {
      background-color: settings.$colour-ui-default;
      color: settings.$colour-white;
    }
  }

}

.tweet-button__icon {
  width: functions.px-to-rem(24px);
  height: functions.px-to-rem(24px);
  border-radius: 5px;
}

.save-article-form {
  display: inline-flex;
}

.save-article-button {
  @include button.basics();
  display: inline-flex;
  align-items: center;
  margin-right: 2em;
  background-color: settings.$colour-teal;
  color: settings.$colour-white;
  padding-right: functions.px-to-rem(5px);
  padding-top: 0;
  padding-bottom: 0;

  &:hover,
  &:active {
    background-color: settings.$colour-ui-default;
    color: settings.$colour-white;
  }
}

.save-article-button__icon {
  width: functions.px-to-rem(24px);
  height: functions.px-to-rem(24px);
  border-radius: 5px;
}

.saved-to-list {
  @include typography.button();
  display: flex;
  align-items: center;
}

.saved-to-list:link,
.saved-to-list:visited {
  @include typography.subtle-link();
}

.saved-to-list__icon {
  margin-right: functions.px-to-rem(3px);
}

.article-meta-wrapper {
  @include card.basics();

  margin-bottom: baseline.increments(6);
}
