@use 'baseline';
@use 'breakpoints';
@use 'button';
@use 'functions';
@use 'list';
@use 'settings';
@use 'typography';

$_vertical-space-above-title--narrow: baseline.increments(2);
$_vertical-space-above-title--wide: baseline.increments(5);

.sciety-grid.sciety-grid--article {
  @include typography.sizing(14px, 2.5);
  grid-auto-flow: unset;
  margin-left: auto;
  margin-right: auto;
  font-family: settings.$font-family;

  p {
    @include typography.sizing(14px, 2.5);
    font-family: settings.$font-family;
  }

  .article-tabs__tab {
    font-family: settings.$font-family;
  }
}

.sciety-grid--article > .page-header--article,
.sciety-grid--article > .article-tabs,
.sciety-grid--article > .main-content {
  grid-column: 1 / -1;
}

.sciety-grid--article > .page-header--article {
  margin-left: 1rem;
  margin-right: 1rem;
  padding-top: $_vertical-space-above-title--narrow;
  color: settings.$colour-text-primary;

  .page-header__title {
    @include typography.title-1();
  }
}

@include breakpoints.not-narrow {
  .sciety-grid--article > .page-header--article,
  .sciety-grid--article > .article-tabs,
  .sciety-grid--article > .main-content {
    grid-column: 3 / 11;
  }

  .sciety-grid--article > .page-header--article {
    padding-top: $_vertical-space-above-title--wide;
  }
}

.article-actions {
  display: flex;
  align-items: center;
}

.tweet-button {
  @include button.basics();
  @include typography.sizing($font-size: 14px, $line-height-in-increments: 3);
  font-family: settings.$font-secondary;
  display: inline-flex;
  align-items: center;
  padding-right: functions.px-to-rem(5px);
  margin-right: 2em;

  &:link,
  &:visited {
    background-color: settings.$colour-teal;
    color: settings.$colour-white;

    &:hover,
    &:active {
      background-color: settings.$colour-ui-default;
      color: settings.$colour-white;
    }
  }

}

.tweet-button__icon {
  width: functions.px-to-rem(24px);
  height: functions.px-to-rem(24px);
  border-radius: 5px;
}

.save-article-form {
  display: inline-flex;
}

.save-article-button {
  @include button.basics();
  @include typography.sizing($font-size: 14px, $line-height-in-increments: 3);
  font-family: settings.$font-secondary;
  display: inline-flex;
  align-items: center;
  margin-right: 2em;
  background-color: settings.$colour-teal;
  color: settings.$colour-white;
  padding-right: functions.px-to-rem(5px);
  padding-top: 0;
  padding-bottom: 0;

  &:hover,
  &:active {
    background-color: settings.$colour-ui-default;
    color: settings.$colour-white;
  }
}

.save-article-button__icon {
  width: functions.px-to-rem(24px);
  height: functions.px-to-rem(24px);
  border-radius: 5px;
}

.saved-to-list {
  @include typography.sizing($font-size: 14px, $line-height-in-increments: 3);
  display: flex;
  align-items: center;
  font-family: settings.$font-secondary;
}

.saved-to-list:link,
.saved-to-list:visited {
  @include typography.subtle-link();
}

.saved-to-list__icon {
  margin-right: functions.px-to-rem(3px);
}
