@use 'baseline';
@use 'functions';
@use 'list';
@use 'settings';
@use 'typography';

.search-results {
  font-family: settings.$font-secondary;
}

.search-results__summary {
  font-family: settings.$font-secondary;
}

.search-results-list {
  @include list.basics();
}

.search-results-list__item {
  line-height: 1.5;
  margin-bottom: baseline.increments(4);

  &:last-child {
    margin-bottom: 0;
  }
}

.search-results-list__item__link {
  font-weight: bold;

  &:link,
  &:visited {
    @include typography.subtle-link();
  }
}

.search-results-list__item__date {
  @include typography.sizing($font-size: 14px, $line-height-in-increments: 3);
  margin-bottom: baseline.increments(0.5);
}

.search-results-list__item__review-count {
  display: inline-block;
  background-color: settings.$colour-grey-one;
  border-radius: 5px;
  padding: 2px 12px;
  font-size: functions.px-to-rem(14px);
  line-height: calc(24 / 14);
}
