@use 'baseline';
@use 'button';
@use 'functions';
@use 'list';
@use 'settings';
@use 'typography';

.article-feed__list {
  @include list.basics();

  p:last-child {
    margin-bottom: 0;
  }
}

.article-feed__item {
  border: 1px solid #cfd8dc;
  border-radius: 6px;
  background-color: #fff;

  padding: baseline.increments(2) 1rem 0;

  @media screen and (min-width: 46.25em) {
    padding: baseline.increments(3) 1.5rem 0;
  }

  margin-bottom: baseline.increments(6);

  &:last-child {
    margin-bottom: 0;
  }

  h3 {
    @include typography.sizing($font-size: settings.$base-font-measure, $line-height-in-increments: 3);
    font-weight: bold;
  }
}

.article-feed__item_contents {
  margin-bottom: baseline.increments(3);
  @media screen and (min-width: 46.25em) {
    display: flex;
    grid-column: 1 / 9;
  }
}

.article-feed__item__avatar {
  width: 47px;
  height: 47px;
  border: 1px solid rgb(238, 238, 238);
  border-radius: 4px;
  flex: 0 0 47px;
  margin-right: 1.5rem;
}

.article-feed__item__date {
  font-family: Lato, sans-serif;
  color: settings.$colour-grey-two;
}

.article-feed__item__title,
p.article-feed__item__title {
  @include typography.sizing($font-size: 24px, $line-height-in-increments: 3);
  font-family: Lato, sans-serif;
  margin-bottom: baseline.increments(2);
  padding-right: functions.px-to-rem(116px);
}

.article-feed__item-toggle {
  position: absolute;
  top: 0;
  right: 0;
  outline-width: 0;
  background: none;
  cursor: pointer;
  padding: functions.px-to-rem(7px) functions.px-to-rem(13px);
  width: functions.px-to-rem(107px);
}

.article-feed__item__read_more {
  display: block;
}

.article-feed__item_body {
  position: relative;
  width: 100%;
  margin-right: 1.5rem;

  ol,
  ul {
    margin-bottom: baseline.increments(3);
  }
}

.responses {
  @media screen and (min-width: 46.25em) {
    padding-left: functions.px-to-rem(71px);
  }
}

.responses__question {
  margin-bottom: baseline.increments(1);
}

.responses__actions {
  display: flex;
  justify-content: flex-start;
}

.responses__action {
  display: flex;
  margin-right: 1rem;
  align-items: center;
}

.responses__button {
  @include button.basics();
  padding-left: 0;
  background-color: settings.$colour-white;
}
