@use 'settings';
@use 'functions';
@use 'baseline';
@use 'card';
@use 'typography';
@use 'breakpoints';

@use 'list';

$_optional-controls-icon-size: 24px;
$_footer-icon-separation: 16px;
$_card-padding: 16px;

.article-card__article {
  position: relative;
}

.article-card {
  @include card.basics();
  @include card.link();
  display: block;

  &:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  }
}

.article-card__title {
  @include card.title();
}

.article-card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: calc(functions.px-to-rem($_footer-icon-separation) + $_optional-controls-icon-size);
}

.article-card__meta {
  @include card.meta();
}

.article-card__controls {
  position: absolute;
  bottom: functions.px-to-rem(12px);
  right: functions.px-to-rem($_card-padding);
}
