@use 'baseline';
@use 'button';
@use 'functions';
@use 'list';
@use 'settings';
@use 'typography';

.article-author-list {
  @include list.basics();
  font-family: settings.$font-secondary;
  display: flow-root;
}

.article-author-list > li {
  @include typography.sizing($font-size: settings.$base-font-measure, $line-height-in-increments: 3);
  float: left;
}

.article-author-list > li::after {
  content: ', \00a0';
}

.article-author-list > li:last-child::after {
  content: '';
}

.article-meta-data-list {
  @include list.basics();
  font-family: settings.$font-secondary;
}

.article-meta-data-list > li {
  @include typography.sizing($font-size: settings.$base-font-measure, $line-height-in-increments: 3);
}

.article-call-to-action-link {
  font-family: settings.$font-secondary;
}

.article-abstract {
  margin-bottom: #{baseline.increments(6)};
}

.article-actions {
  display: flex;
  align-items: center;
}

.tweet-button {
  @include button.basics();
  @include typography.sizing($font-size: 14px, $line-height-in-increments: 3);
  font-family: settings.$font-secondary;
  display: inline-flex;
  align-items: center;
  padding-right: functions.px-to-rem(5px);
  margin-right: 2em;

  &:link,
  &:visited {
    background-color: settings.$colour-teal;
    color: settings.$colour-white;

    &:hover,
    &:active {
      background-color: settings.$colour-ui-default;
      color: settings.$colour-white;
    }
  }

}

.tweet-button__icon {
  width: functions.px-to-rem(24px);
  height: functions.px-to-rem(24px);
  border-radius: 5px;
}

.save-article-form {
  display: inline-flex;
}

.save-article-button {
  @include button.basics();
  @include typography.sizing($font-size: 14px, $line-height-in-increments: 3);
  font-family: settings.$font-secondary;
  display: inline-flex;
  align-items: center;
  margin-right: 2em;
  background-color: settings.$colour-teal;
  color: settings.$colour-white;
  padding-right: functions.px-to-rem(5px);
  padding-top: 0;
  padding-bottom: 0;

  &:hover,
  &:active {
    background-color: settings.$colour-ui-default;
    color: settings.$colour-white;
  }
}

.save-article-button__icon {
  width: functions.px-to-rem(24px);
  height: functions.px-to-rem(24px);
  border-radius: 5px;
}

.saved-to-list {
  @include typography.sizing($font-size: 14px, $line-height-in-increments: 3);
  display: flex;
  align-items: center;
  font-family: settings.$font-secondary;
}

.saved-to-list:link,
.saved-to-list:visited {
  @include typography.subtle-link();
}

.saved-to-list__icon {
  margin-right: functions.px-to-rem(3px);
}

.article-tabs {
  @include typography.sizing(14px, 2.5);
  grid-column: 1/-1;
  border-bottom: 2px solid #cfd8dc;

  @media screen and (min-width: 46.25em) {
    margin-bottom: baseline.increments(1.5);
  }
}

// TODO: remove unneeded specificity once we remove semantic.ui
.article-tabs__tab,
.article-tabs__tab:last-child {
  width: functions.px-to-rem(120px);
  display: inline-block;
  margin-bottom: -2px;
  text-align: center;
  font-family: settings.$font-secondary;
  text-transform: uppercase;
  font-weight: bold;
  color: #37474f;
  padding-bottom: functions.px-to-rem(14px);
}

.article-tabs__link {
  &:link,
  &:visited {
    color: #37474f;

    &:hover,
    &:active {
      color: #e8521e;
    }
  }
}

.article-tabs__heading {
  @include typography.sizing(14px, 2.5);
  border-bottom: 2px solid #e8521e;
}
