@use 'baseline';
@use 'settings';
@use 'typography';

.search-results {
  font-family: settings.$font-secondary;
}

.search-results__summary {
  font-family: settings.$font-secondary;
}

.search-results-list {
  list-style: none;
  padding-left: 0;
}

.search-results-list__item {
  margin-bottom: baseline.increments(4);

  &:last-child {
    margin-bottom: 0;
  }
}

.search-results-list__item__link:link,
.search-results-list__item__link:visited {
  @include typography.subtle-link();
}
