@use '../sass-utilities' as utilities;

$size--in-site-header: 25px;
$size--small: 36px;
$size--medium: 48px;
$size--large: 73px; // size of profile images returned by twitter

@mixin border() {
  border-radius: utilities.$border-radius;
  border: 3px utilities.$colour-furniture solid;
}
