@use 'settings';

$size--small: 36px;
$size--medium: 48px;
$size--large: 73px; // size of profile images returned by twitter

@mixin border() {
  border-radius: settings.$border-radius;
  border: 3px settings.$colour-furniture solid;
}
