@use 'baseline';
@use 'functions';
@use 'settings';
@use 'states';
@use 'typography';

@mixin basics () {
  border-width: 0;
  border-radius: 5px;
  cursor: pointer;
}

@mixin primary-colour {
  color: settings.$colour-white;
  background-color: settings.$colour-primary;

  &:hover,
  &:active {
    color: settings.$colour-white;
    background-color: settings.$colour-primary-hover;
  }
}

.button,
.button:link,
.button:visited {
  @include basics();
  font-size: functions.px-to-rem(settings.$base-font-measure);
  font-family: Lato, sans-serif;
  padding: functions.px-to-rem(13px) functions.px-to-rem(25px);
  font-weight: bold;
  background-color: settings.$colour-white;
  color: settings.$colour-ui-default;
  border: settings.$border-width solid currentColor;

  &:hover,
  &:active {
    background-color: settings.$colour-primary;
    color: settings.$colour-white;
    border-color: settings.$colour-primary;
  }
}

.button--small {
  font-size: functions.px-to-rem(12px);
  padding: functions.px-to-rem(9px) functions.px-to-rem(18px);
}

.button--primary {
  @include primary-colour();
}

.button--secondary:hover,
.button--secondary:active {
  background-color: settings.$colour-grey-one;
  color: settings.$colour-ui-default;
  border-color: currentColor;
}

// NEW DESIGNS (Spring 2021)

@mixin button-link-new {
  @include typography.button();
  border-radius: settings.$border-radius;
  border: settings.$border-width solid settings.$colour-accent;
  padding: baseline.increments(1) functions.px-to-rem(12px - settings.$border-width);

  &:link,
  &:visited {
    background-color: settings.$colour-accent;
    color: settings.$colour-white;

    &:active {
      border-color: settings.$colour-accent-hover;
      background-color: settings.$colour-accent;
      color: settings.$colour-white;
    }

    &:hover {
      border-color: settings.$colour-accent-hover;
      background-color: settings.$colour-accent-hover;
      color: settings.$colour-white;
    }
  }

  &:link {
    @include states.focus();
  }
}

@mixin button-new {
  @include typography.button();
  @include states.focus();
  border-radius: settings.$border-radius;
  border: settings.$border-width solid settings.$colour-accent;
  padding: baseline.increments(1) functions.px-to-rem(12px - settings.$border-width);

  background-color: settings.$colour-accent;
  color: settings.$colour-white;

  &:hover {
    border-color: settings.$colour-accent-hover;
    background-color: settings.$colour-accent-hover;
    color: settings.$colour-white;
  }
}
