@use 'functions';
@use 'settings';
@use 'states';
@use 'typography';

@mixin button {
  border-width: 0;
  border-radius: settings.$border-radius;
  padding: functions.px-to-rem(9px) functions.px-to-rem(12px);

  background-color: settings.$colour-accent;
  color: settings.$colour-white;

  &:hover {
    background-color: settings.$colour-accent-hover;
    color: settings.$colour-white;
  }
}

@mixin link-basics() {
  @include typography.button();

  display: inline-block;
  padding: functions.px-to-rem(9px) functions.px-to-rem(12px);
  border-radius: settings.$border-radius;
}

@mixin button-link {
  @include link-basics();

  &:link,
  &:visited {
    background-color: settings.$colour-accent;
    color: settings.$colour-white;

    &:active,
    &:hover {
      color: settings.$colour-white;
      text-decoration: none;
    }

    &:active {
      background-color: settings.$colour-accent;
    }

    &:hover {
      background-color: settings.$colour-accent-hover;
    }

    &:focus {
      text-decoration: none;
    }
  }

  &:link {
    @include states.focus();
  }
}

@mixin secondary-button() {
  border-width: 0;
  border-radius: settings.$border-radius;
  padding: functions.px-to-rem(9px) functions.px-to-rem(12px);

  background-color: settings.$colour-highlighted-background;
  color: settings.$colour-text-primary;

  &:hover,
  &:active {
    background-color: settings.$colour-highlighted-background-darkened;
  }
}

@mixin secondary-button-link() {
  @include link-basics();

  color: settings.$colour-text-primary;
  background-color: settings.$colour-highlighted-background;

  &:link,
  &:visited {
    color: settings.$colour-text-primary;
    background-color: settings.$colour-highlighted-background;

    &:active,
    &:hover {
      color: settings.$colour-text-primary;
      background-color: settings.$colour-highlighted-background-darkened;
      text-decoration: none;
    }

    &:active {
      background-color: settings.$colour-highlighted-background;
    }

    &:hover {
      background-color: settings.$colour-highlighted-background-darkened;
    }

    &:focus {
      text-decoration: none;
    }
  }
}
