@use 'functions';
@use 'settings';
@use 'states';
@use 'typography';

@mixin basics () {
  border-width: 0;
  border-radius: 5px;
  cursor: pointer;
}

@mixin button-link {
  @include typography.button();
  border-radius: settings.$border-radius;
  border: settings.$border-width solid settings.$colour-accent;
  padding: 0.5rem functions.px-to-rem(12px - settings.$border-width);
  display: inline-block;

  &:link,
  &:visited {
    background-color: settings.$colour-accent;
    color: settings.$colour-white;

    &:active,
    &:hover {
      border-color: settings.$colour-accent-hover;
      color: settings.$colour-white;
      text-decoration: none;
    }

    &:active {
      background-color: settings.$colour-accent;
    }

    &:hover {
      background-color: settings.$colour-accent-hover;
    }

    &:focus {
      text-decoration: none;
    }
  }

  &:link {
    @include states.focus();
  }
}

@mixin button {
  @include typography.button();
  @include states.focus();
  border-radius: settings.$border-radius;
  border: settings.$border-width solid settings.$colour-accent;
  padding: 0.5rem functions.px-to-rem(12px - settings.$border-width);

  background-color: settings.$colour-accent;
  color: settings.$colour-white;

  &:hover {
    border-color: settings.$colour-accent-hover;
    background-color: settings.$colour-accent-hover;
    color: settings.$colour-white;
  }
}

@mixin button-secondary() {
  @include button();

  background-color: settings.$colour-white;
  color: settings.$colour-accent;
}

@mixin button-teal() {
  @include basics();
  background-color: settings.$colour-teal;
  color: settings.$colour-white;
  padding: 0.5rem functions.px-to-rem(12px - settings.$border-width);

  &:hover,
  &:active {
    background-color: settings.$colour-ui-default;
    color: settings.$colour-white;
  }
}

@mixin secondary-button-link() {
  @include button-link();

  color: settings.$colour-text-primary;
  background-color: settings.$colour-highlighted-background;
  border-color: settings.$colour-highlighted-background;

  &:link,
  &:visited {
    color: settings.$colour-text-primary;
    background-color: settings.$colour-highlighted-background;

    &:active,
    &:hover {
      color: settings.$colour-text-primary;
      background-color: settings.$colour-highlighted-background-darkened;
      border-color: settings.$colour-highlighted-background-darkened;
      text-decoration: none;
    }

    &:active {
      background-color: settings.$colour-highlighted-background;
    }

    &:hover {
      background-color: settings.$colour-highlighted-background-darkened;
    }

    &:focus {
      text-decoration: none;
    }
  }
}