@use 'baseline';
@use 'breakpoints';
@use 'functions';
@use 'list';
@use 'settings';
@use 'typography';

@mixin basics () {
  background-color: settings.$colour-white;
  color: settings.$colour-text-primary;
  padding: baseline.increments(2) functions.px-to-rem(16px);

  border: settings.$border-width solid settings.$colour-furniture;
  border-left-width: 0;
  border-right-width: 0;

  @include breakpoints.not-narrow {
    border-radius: settings.$border-radius;
    border-left-width: settings.$border-width;
    border-right-width: settings.$border-width;
    padding: baseline.increments(3) functions.px-to-rem(24px);
  }
}

@mixin list() {
  @include list.basics();
  margin-top: 0;
}

@mixin list-item() {
  margin-bottom: baseline.increments(1);

  &:last-child {
    margin-bottom: 0;
  }
}
