@use 'breakpoints';
@use 'functions';
@use 'layout';
@use 'list';
@use '../sass-utilities' as utilities;
@use 'typography';
@use 'avatar';

$_card-border-radius: utilities.$border-radius;

@mixin basics ($is-entire-card-linked: false) {
  @if ($is-entire-card-linked == true) {
    position: relative;
  }
  background-color: utilities.$colour-white;
  padding: 1rem functions.px-to-rem(utilities.$default-gutter);

  border: utilities.$border-width solid utilities.$colour-furniture;
  border-left-width: 0;
  border-right-width: 0;

  @include breakpoints.not-narrow {
    border-radius: $_card-border-radius;
    border-left-width: utilities.$border-width;
    border-right-width: utilities.$border-width;
  }
}

@mixin title() {
  @include typography.card-title();
  margin-bottom: 0.25rem;
}

@mixin link () {
  color: utilities.$colour-text-primary;

  &:link,
  &:visited {
    color: utilities.$colour-text-primary;

    &:active,
    &:hover {
      color: utilities.$colour-text-primary;
    }
  }
}

@mixin entire-card-link() {
  @include link();

  &:hover {
    &::after {
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    }
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: $_card-border-radius;
  }
}

@mixin meta() {
  @include typography.details();
  @include typography.list-separator();
  color: utilities.$colour-text-secondary;
}

@mixin list() {
  @include list.basics();
  margin-top: 0;
  margin-bottom: 1.5rem;

  > li {
    margin-bottom: 0.5rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@mixin list-item() {
  margin-bottom: 0.5rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.card-list {
  @include list();
  @include layout.allow-edge-to-edge-content-when-narrow();
}

@mixin avatar() {
  @include avatar.border();
  width: avatar.$size--small;
  height: avatar.$size--small;
  flex: 0 0 avatar.$size--small;
}
