@use 'baseline';
@use 'breakpoints';
@use 'functions';
@use 'settings';
@use 'typography';

@mixin full-tab-card () {
  border: settings.$border-width solid settings.$colour-furniture;
  background-color: settings.$colour-white;
  color: settings.$colour-text-primary;

  @include breakpoints.not-narrow {
    border-radius: settings.$border-radius;
  }
}

@mixin basics () {
  background-color: settings.$colour-white;
  color: settings.$colour-text-primary;
  padding: baseline.increments(2) functions.px-to-rem(16px);

  border: settings.$border-width solid settings.$colour-furniture;
  border-left-width: 0;
  border-right-width: 0;

  @include breakpoints.not-narrow {
    border-radius: settings.$border-radius;
    border-left-width: settings.$border-width;
    border-right-width: settings.$border-width;
    padding: baseline.increments(3) functions.px-to-rem(24px);
  }
}