@use 'breakpoints';
@use 'settings';
@use 'typography';

@mixin full-tab-card () {
  border: settings.$border-width solid settings.$colour-furniture;
  background-color: settings.$colour-white;
  color: settings.$colour-text-primary;

  @include breakpoints.not-narrow {
    border-radius: settings.$border-radius;
  }

  h3 {
    @include typography.sizing($font-size: settings.$base-font-measure, $line-height-in-increments: 3);
    font-weight: bold;
  }
}
