@use 'baseline';
@use 'breakpoints';
@use 'functions';
@use 'list';
@use 'settings';
@use 'typography';
@use 'avatar';


@mixin basics () {
  background-color: settings.$colour-white;
  padding: baseline.increments(2) functions.px-to-rem(16px);

  border: settings.$border-width solid settings.$colour-furniture;
  border-left-width: 0;
  border-right-width: 0;

  @include breakpoints.not-narrow {
    border-radius: settings.$border-radius;
    border-left-width: settings.$border-width;
    border-right-width: settings.$border-width;
  }
}

@mixin title() {
  @include typography.title-2();
  margin-bottom: baseline.increments(0.5);
}

@mixin link () {
  color: settings.$colour-text-primary;

  &:link,
  &:visited {
    color: settings.$colour-text-primary;

    &:active,
    &:hover {
      color: settings.$colour-text-primary;
    }
  }
}

@mixin meta() {
  @include typography.details();
  @include typography.list-separator();
  color: settings.$colour-text-secondary;
}

@mixin list() {
  @include list.basics();
  margin-top: 0;
}

@mixin list-item() {
  margin-bottom: baseline.increments(1);

  &:last-child {
    margin-bottom: 0;
  }
}

@mixin avatar() {
  @include avatar.border();
  width: avatar.$size--small;
  height: avatar.$size--small;
  flex: 0 0 avatar.$size--small;
}


@mixin authors() {
  @include list.basics();
  margin-bottom: baseline.increments(1);
}

@mixin author() {
  @include list.author-separator-terminator();
  display: inline;
}
