@use 'settings';

:root {
  --light-mode-text-primary: #{settings.$colour-light-mode-text-primary};
  --dark-mode-text-primary: #{settings.$colour-dark-mode-text-primary};
  --text-primary: var(--light-mode-text-primary);

  --dark-mode-background-colour: #{settings.$colour-dark-mode-background};
}
