@use 'settings';

:root {
  --light-mode-text-primary: #{settings.$colour-light-mode-text-primary};
  --dark-mode-text-primary: #{settings.$colour-dark-mode-text-primary};
  --text-primary: var(--light-mode-text-primary);

  --dark-mode-background-colour: #{settings.$colour-dark-mode-background};
  --light-mode-background-colour: unset;
  --background-colour: var(--light-mode-background-colour);
}

body {
  color: var(--text-primary);
  background-color: var(--background-colour);

  @media (prefers-color-scheme: dark) {
    @at-root body {
      --text-primary: var(--dark-mode-text-primary);
      --background-colour: var(--dark-mode-background-colour);
    }
  }
}
