@use 'settings';

@mixin quote($open-quotation-left-offset) {
  position: relative;

  &::before,
  &::after {
    position: absolute;
    color: settings.$colour-accent;
    font-family: settings.$font-serif;
  }

  &::before {
    content: '\201C';
    left: $open-quotation-left-offset;
  }

  &::after {
    content: '\201D';
  }
}
