@use '../sass-utilities' as utilities;
@use 'functions';

@mixin quote(
$quotation-mark-font-size,
$open-quotation-left-offset: 0,
$open-quotation-top-offset: 0,
$close-quotation-right-offset: 0,
$close-quotation-bottom-offset: 0,
  ) {
  position: relative;

  &::before,
  &::after {
    position: absolute;
    color: utilities.$colour-accent;
    font-family: utilities.$font-serif;
    font-size: functions.px-to-rem($quotation-mark-font-size);
    line-height: 1;
  }

  &::before {
    content: '\201C';
    left: functions.px-to-rem($open-quotation-left-offset);
    top: functions.px-to-rem($open-quotation-top-offset);
  }

  &::after {
    content: '\201D';
    right: functions.px-to-rem($close-quotation-right-offset);
    bottom: functions.px-to-rem($close-quotation-bottom-offset);
  }
}
