@use 'baseline';

.sciety-grid--editorial-community > .page-header--editorial-community {
  grid-column: 1 / -1;
}

.editorial-community-page-description {
  grid-column: 1 / -1;
  margin-bottom: baseline.increments(4);
}

.editorial-community-page-side-bar {
  grid-column: 1 / -1;
}

@media screen and (min-width: 56.25em) {
  .sciety-grid--editorial-community > .editorial-community-page-description {
    grid-column: 1 / 7;
    margin-bottom: 0;
  }

  .sciety-grid--editorial-community > .editorial-community-page-side-bar {
    grid-column: 8 / -1;
  }

}
