@use 'baseline';
@use 'typography';

.sciety-grid--editorial-community > .page-header--editorial-community {
  grid-column: 1 / -1;
}

.editorial-community-page-description {
  grid-column: 1 / -1;
  margin-bottom: baseline.increments(4);
}

.editorial-community-page-side-bar {
  grid-column: 1 / -1;
}

@media screen and (min-width: 56.25em) {
  .sciety-grid--editorial-community > .editorial-community-page-description {
    grid-column: 1 / 7;
    margin-bottom: 0;
  }

  .sciety-grid--editorial-community > .editorial-community-page-side-bar {
    grid-column: 8 / -1;
  }

}

.page-header--editorial-community {
  display: flex;
  align-items: center;

  .page-header__avatar {
    width: 76px;
    height: 76px;
    flex: 0 0 76px;
    margin-right: 1rem;
    border-radius: 50%;
  }
}
