@use 'baseline';

.editorial-community-list {
  font-family: Lato, sans-serif;
  list-style: none;
  padding-left: 0;
  display: grid;
  grid-row-gap: baseline.increments(4);
  grid-column-gap: baseline.increments(3);
  justify-content: center;

  @media all and (min-width: 680px) {
    grid-template-columns: repeat(2, 284px);
  }

  @media all and (min-width: 900px) {
    grid-template-columns: minmax(min-content, 284px);
  }

}

.editorial-community-list__item {
  display: grid;
}

.editorial-community {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  margin-top: 24px;
  text-align: center;
  border: 1px solid var(--COLOUR-GREY-ONE);
  border-radius: 5px;
  padding: baseline.increments(1);
  transition: background-color 0.2s ease-out, border-color 0.1s ease-out;
  max-width: 284px;

  &:hover {
    background-color: rgba(0, 121, 107, 0.05);
    border-color: var(--COLOUR-PRIMARY-HOVER);
  }
}

.editorial-community__toggle_wrapper {
  margin-top: auto;
}

.editorial-community__avatar {
  flex: 0 0 60px;
  width: 60px;
  height: 60px;
  border: 1px solid var(--COLOUR-GREY-ONE);
  border-radius: 50%;
  margin-top: -24px;
  margin-bottom: 8px;
  transition: border-color 0.2s ease-out;

  .editorial-community:hover & {
    border-color: var(--COLOUR-PRIMARY-HOVER);
  }
}

.editorial-community__name {
  margin-bottom: baseline.increments(3);
}
