@use 'baseline';
@use 'settings';

.site-footer {
  font-family: settings.$font-secondary;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: settings.$colour-white;

  a {
    color: inherit;
  }

  a:hover {
    color: currentColor;
  }
}

.site-footer__strapline {
  background-color: rgba(49, 73, 82, 0.8);
  font-family: settings.$font-secondary;
  text-align: center;
  padding: baseline.increments(3) 1rem;
  width: 100%;
  margin-bottom: 0;
}

.site-footer__container {
  background-color: rgba(49, 73, 82, 0.9);
  width: 100%;
  margin: 0;
  padding-top: baseline.increments(3);
  padding-left: 1rem;
  padding-right: 1rem;
}

.site-footer__details {
  max-width: var(--MAX-SITE-WIDTH-REM);

  @media screen and (min-width: 48.75em) {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }
}

.site-footer__details > * {
  font-size: 0.75rem;
  @media screen and (min-width: 48.75em) {
    max-width: 33%;
  }
}

.site-footer__links_list {
  padding-left: 0;
  list-style: none;
  margin-bottom: #{baseline.increments(2)};
}

.site-footer__company_information {
  display: block;
  margin-bottom: #{baseline.increments(2)};
}

.site-footer__address {
  margin-bottom: #{baseline.increments(2)};
  font-style: normal;
}

.site-footer__copyright {
  background-color: rgb(49, 73, 82);
  padding: baseline.increments(3) 1rem;
  width: 100%;
  text-align: center;
}
