@use 'sass:color';
@use 'baseline';
@use 'list';
@use 'settings';
@use 'functions';
@use 'typography';

.site-footer {
  flex-grow: 1;
  flex-shrink: 0;
  font-family: settings.$font-secondary;
  margin-top: auto;
  color: settings.$colour-white;

  a:link,
  a:visited {
    color: inherit;

    &:hover,
    &:active {
      color: currentColor;
    }
  }
}

.site-footer__small_print {
  display: block;
  background-color: settings.$colour-teal;
  padding: baseline.increments(3) 1rem;
  width: 100%;
  text-align: center;

  .site-footer__link {
    display: block;
    text-decoration: underline;
  }
}
