@use 'baseline';

.site-footer__container {
  @media screen and (min-width: 48.75em) {
    display: flex;
    justify-content: space-between;
  }
}

.site-footer__container > * {
  font-size: 0.75rem;
  @media screen and (min-width: 48.75em) {
    max-width: 25%;
  }
}

.site-footer__links_list {
  padding-left: 0;
  list-style: none;
  margin-bottom: #{baseline.increments(2)};
}

.site-footer__company_information {
  display: block;
  margin-bottom: #{baseline.increments(2)};
}

.site-footer__address {
  margin-bottom: #{baseline.increments(2)};
  font-style: normal;
}
