@use 'functions';
@use 'settings';
@use 'typography';
@use 'button';
@use 'breakpoints';

$_microcopy-colour: settings.$colour-text-secondary;

@mixin form-with-borders-and-white-background {
  background-color: settings.$colour-white;
  padding: functions.px-to-rem(16px) functions.px-to-rem(settings.$default-gutter);

  border: settings.$border-width solid settings.$colour-furniture;
  border-left-width: 0;
  border-right-width: 0;

  @include breakpoints.not-narrow {
    border-radius: settings.$border-radius;
    border-left-width: settings.$border-width;
    border-right-width: settings.$border-width;
  }
}

.standard-form {
  @include form-with-borders-and-white-background();
}

.standard-form__error {
  border-left: 3px solid settings.$colour-alert;
  padding-left: 6px;

  p {
    color: settings.$colour-alert;
    margin-bottom: 0.5rem;
  }
}

@mixin section {
  margin-bottom: functions.px-to-rem(48px);
}

@mixin labelling {
  display: block;
  font-weight: bold;
  font-size: functions.px-to-rem(20px);
  margin-bottom: functions.px-to-rem(settings.$default-form-gutter);
}

@mixin helper-text {
  color: $_microcopy-colour;
  margin-bottom: functions.px-to-rem(settings.$default-form-gutter);
}

@mixin field {
  display: block;
  width: 100%;
  margin-bottom: functions.px-to-rem(settings.$default-form-gutter);
  padding: functions.px-to-rem(settings.$default-form-gutter);
  border: settings.$border-width solid settings.$colour-furniture;
  border-radius: settings.$border-radius;
}

@mixin constraints {
  color: $_microcopy-colour;
}

@mixin submit-button {
  @include button.primary();
  margin-right: functions.px-to-rem(settings.$default-form-element-separation);
}

@mixin cancel-button {
  @include button.secondary-link();
}
