@use 'functions';
@use 'settings';
@use 'typography';
@use 'baseline';
@use 'button';
@use 'card';
@use 'breakpoints';

@mixin form {
  @include card.basics();
}

@mixin section {
  margin-bottom: baseline.increments(6);
}

@mixin label {
  display: block;
  font-weight: bold;
  font-size: functions.px-to-rem(20px);
  margin-bottom: functions.px-to-rem(settings.$sciety-default-form-gutter);
}

@mixin helper-text {
  color: settings.$colour-text-secondary;
  margin-bottom: functions.px-to-rem(settings.$sciety-default-form-gutter);
}

@mixin field {
  display: block;
  width: 100%;
  margin-bottom: functions.px-to-rem(settings.$sciety-default-form-gutter);
  padding: functions.px-to-rem(settings.$sciety-default-form-gutter);
  border: settings.$border-width solid settings.$colour-furniture;
  border-radius: settings.$border-radius;
}

@mixin constraints {
  color: settings.$colour-text-secondary;
}

@mixin submit-button {
  @include button.button();
  margin-right: functions.px-to-rem(settings.$sciety-default-form-element-separation);
}

@mixin cancel-button {
  @include button.button-link-secondary();
}
