@use 'settings';
@use 'card';
@use 'functions';
@use 'baseline';
@use 'typography';
@use 'breakpoints';

@use 'list';

.sciety-grid--group {
  margin: 0 auto;

  > .page-header--group {
    grid-column: 1 / -1;
  }

  @include breakpoints.not-narrow {
    > .group-page-description {
      grid-column: 1 / 7;
    }

    > .group-page-side-bar {
      grid-column: 8 / -1;
    }
  }
}

.group-page-description {
  grid-column: 1 / -1;
  margin-bottom: baseline.increments(4);
  padding: 1rem;
  background-color: settings.$colour-white;
}

.group-page-side-bar {
  grid-column: 1 / -1;
  margin-bottom: baseline.increments(4);
  padding: 1rem;
  background-color: settings.$colour-white;
}

.group-page-side-bar--follow-toggle {
  margin-bottom: #{baseline.increments(3)};
}

.page-header--group {
  display: flex;
  align-items: center;

  .page-header__avatar {
    width: 76px;
    height: 76px;
    flex: 0 0 76px;
    margin-right: 1rem;
    border-radius: 50%;
  }

  .page-header__title {
    margin-bottom: 0;
  }
}

.group-activity-list {
  @include card.list();
}

.group-activity-list__item {
  @include card.list-item();
}
