@use 'baseline';
@use 'typography';

.sciety-grid--group > .page-header--group {
  grid-column: 1 / -1;
}

.group-page-description {
  grid-column: 1 / -1;
  margin-bottom: baseline.increments(4);
}

.group-page-side-bar {
  grid-column: 1 / -1;
}

.group-page-side-bar--follow-toggle {
  margin-bottom: #{baseline.increments(3)};
}

@media screen and (min-width: 56.25em) {
  .sciety-grid--group > .group-page-description {
    grid-column: 1 / 7;
    margin-bottom: 0;
  }

  .sciety-grid--group > .group-page-side-bar {
    grid-column: 8 / -1;
  }

}

.page-header--group {
  display: flex;
  align-items: center;

  .page-header__avatar {
    width: 76px;
    height: 76px;
    flex: 0 0 76px;
    margin-right: 1rem;
    border-radius: 50%;
  }

  .page-header__title {
    margin-bottom: 0;
  }
}
