@use 'list';
@use 'settings';
@use 'baseline';

.group-list {
  @include list.basics();
  margin-top: 0;
  margin-bottom: 0;
  display: grid;
  grid-row-gap: baseline.increments(4);
  grid-column-gap: baseline.increments(3);
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.group-list__item {
  display: grid;
}

.group {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  margin-top: 15px;
  text-align: center;
  border: settings.$border-width solid settings.$colour-grey-one;
  border-radius: 5px;
  color: settings.$colour-primary;
  padding: baseline.increments(1);
  transition: background-color 0.2s ease-out, border-color 0.1s ease-out;

  &:hover,
  &:active {
    background-color: settings.$colour-grey-three;
    border-color: settings.$colour-primary-hover;
    color: settings.$colour-primary-hover;
  }

  button {
    position: relative;
    z-index: 0;
  }
}

.group__link {
  &:link,
  &:visited {
    color: settings.$colour-ui-default;
  }

  &::before {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.group__avatar {
  flex: 0 0 60px;
  width: 60px;
  height: 60px;
  border: settings.$border-width solid settings.$colour-grey-one;
  border-radius: 50%;
  margin-top: -24px;
  margin-bottom: 8px;
  transition: border-color 0.2s ease-out;

  .group:hover &,
  .group:active & {
    border-color: settings.$colour-primary-hover;
  }
}

.group__name {
  margin-bottom: baseline.increments(3);
}
