@use 'settings';
@use 'functions';
@use 'baseline';
@use 'card';
@use 'breakpoints';
@use 'typography';

.group-card {
  @include card.basics();
  display: flex;
}

.group-card__body {
  flex-grow: 1;
}

.group-card__link {
  @include typography.sizing(16px, 2.5);
  font-family: settings.$font-family;
  font-weight: bold;
  color: settings.$colour-text-primary;
  display: block;
  margin-bottom: baseline.increments(0.5);

  &:link,
  &:visited {
    color: settings.$colour-text-primary;

    &:active,
    &:hover {
      color: settings.$colour-text-primary;
    }
  }
}

.group-card__description {
  margin-bottom: baseline.increments(1);
  font-family: settings.$font-family;
}

.group-card__avatar {
  width: settings.$avatar-size;
  height: settings.$avatar-size;
  border-radius: settings.$border-radius;
  flex: 0 0 settings.$avatar-size;
  margin-left: functions.px-to-rem(32px);
  border: settings.$avatar-border;
}

.group-card__meta {
  @include typography.sizing(12px, 2.5);
  color: settings.$colour-text-secondary;
  font-family: settings.$font-family;
  letter-spacing: 0.09px;

  > * {
    margin-right: 0.25rem;
  }

  > :nth-child(n+2)::before {
    content: '•';
    margin-right: 0.25rem;
  }
}
