@use 'settings';
@use 'functions';
@use 'baseline';
@use 'card';
@use 'breakpoints';
@use 'typography';

.group-card {
  @include card.basics();
  display: flex;
}

.group-card__body {
  flex-grow: 1;
}

.group-card__title {
  @include card.title();
}

.group-card__link {
  @include card.link();
}

.group-card__description {
  margin-bottom: baseline.increments(1);
}

.group-card__avatar {
  @include card.avatar();
  margin-left: functions.px-to-rem(32px);
}

.group-card__meta {
  @include card.meta();
}
