@use 'settings';
@use 'functions';
@use 'baseline';
@use 'card';
@use 'breakpoints';
@use 'typography';

.group-card {
  @include card.basics();
  display: flex;
}

.group-card__body {
  flex-grow: 1;
}

.group-card__title {
  @include card.title();
}

.group-card__link {
  @include card.link();
}

.group-card__description {
  margin-bottom: baseline.increments(1);
  font-family: settings.$font-family;
}

.group-card__avatar {
  @include card.group-avatar();
  margin-left: functions.px-to-rem(32px);
}

.group-card__meta {
  @include card.meta();

  > * {
    margin-right: 0.25rem;
  }

  > :nth-child(n+2)::before {
    content: '•';
    margin-right: 0.25rem;
  }
}
