@use 'settings';
@use 'functions';
@use 'baseline';
@use 'typography';
@use 'breakpoints';

@use 'card';
@use 'list';

.sciety-grid--group {
  margin: 0 auto;

  > .page-header--group {
    grid-column: 1 / -1;
  }

  @include breakpoints.not-narrow {
    > .group-page-description {
      grid-column: 1 / 7;
    }

    > .group-page-side-bar {
      grid-column: 8 / -1;
    }
  }
}

.group-page-description {
  grid-column: 1 / -1;
  margin-bottom: baseline.increments(4);
  padding: 1rem;
  background-color: settings.$colour-white;
}

.group-page-side-bar {
  grid-column: 1 / -1;
  margin-bottom: baseline.increments(4);
  padding: 1rem;
  background-color: settings.$colour-white;
}

.group-page-side-bar--follow-toggle {
  margin-bottom: #{baseline.increments(3)};
}

.page-header--group {
  display: flex;
  align-items: center;

  .page-header__avatar {
    width: 76px;
    height: 76px;
    flex: 0 0 76px;
    margin-right: 1rem;
    border-radius: 50%;
  }

  .page-header__title {
    margin-bottom: 0;
  }
}

.group-activity-list {
  @include list.basics();
  margin-top: 0;
}

.group-activity-list__item {
  @include card.full-tab-card();
  border-left-width: 0;
  border-right-width: 0;
  margin-bottom: baseline.increments(1);
  padding: baseline.increments(2) functions.px-to-rem(16px);
  display: flex;

  @include breakpoints.not-narrow {
    border-left-width: settings.$border-width;
    border-right-width: settings.$border-width;
    padding: baseline.increments(3) functions.px-to-rem(24px);
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.group-activity-list__card_title {
  @include typography.sizing(16px, 2.5);
  font-family: settings.$font-family;
  font-weight: bold;
  margin-bottom: baseline.increments(0.5);
}

.group-activity-list__card_link {
  color: settings.$colour-text-primary;

  &:link,
  &:visited {
    color: settings.$colour-text-primary;

    &:active,
    &:hover {
      color: settings.$colour-text-primary;
    }
  }
}

.group-activity-list__card_authors {
  @include list.basics();
  @include typography.sizing(14px, 2.5);
  margin-bottom: baseline.increments(1);
  font-family: settings.$font-family;
}

.group-activity-list__card_author {
  display: inline;

  &::after {
    content: ', ';
  }

  &:last-child::after {
    content: '.';
  }
}

.group-activity-list__card_meta {
  @include typography.sizing(12px, 2.5);
  color: settings.$colour-text-secondary;
  font-family: settings.$font-family;
  letter-spacing: 0.09px;

  > * {
    margin-right: 0.25rem;
  }

  > :nth-child(n+3)::before {
    content: '•';
    margin-right: 0.25rem;
  }
}

.group-activity-list__card {
  flex-grow: 1;
}
