@use 'baseline';
@use 'card';

.sciety-grid--home {
  margin-left: 1rem;
  margin-right: 1rem;

  > .home-page-header {
    grid-column: 1 / -1;
  }
}

.home-page-header {
  text-align: center;
  margin-bottom: #{baseline.increments(7)};
}

.home-page-feed-container {
  grid-column: 1 / -1;
}

.home-page-side-bar {
  grid-column: 1 / -1;
}

@media screen and (min-width: 56.25em) {
  .sciety-grid--home > .home-page-feed-container {
    grid-column: 1 / 9;
  }

  .sciety-grid--home > .home-page-side-bar {
    grid-column: 10 / -1;
  }
}

.your-feed__list {
  @include card.card-list();
}

.your-feed__list_item {
  @include card.card-list-item();
}
