@use 'button';
@use 'functions';
@use 'settings';
@use 'typography';

$_image-visibility-breakpoint: 60.25em;

.landing-page {
  margin: 1rem 1rem 0;

  @media screen and (min-width: $_image-visibility-breakpoint) {
    margin: 200px 3rem 0;
  }
}

.landing-page-hero {
  display: flex;
}

.landing-page-hero__content {
  @media screen and (min-width: $_image-visibility-breakpoint) {
    margin-top: 60px;
    padding-right: 2rem;
  }
}

.landing-page-hero__content__title,
.landing-page-hero__content__byline {
  color: settings.$colour-text-primary;
  font-family: settings.$font-family;
}

.landing-page-hero__content__title {
  @include typography.sizing(36px, 5.25);
  font-weight: bold;
  letter-spacing: 0.26px;
}

.landing-page-hero__image {
  display: none;

  @media screen and (min-width: $_image-visibility-breakpoint) {
    @supports(display: flex) {
      display: block;
    }
    width: 100%;
    max-width: 690px; // magic number to align with login button
  }
}

.landing-page-calls-to-action * {
  color: settings.$colour-text-primary;
  font-family: settings.$font-family;
}

.landing-page-calls-to-action__title {
  @include typography.sizing(24px, 3.5);
  font-weight: bold;
  letter-spacing: 0.17px;
}

.landing-page-calls-to-action__login_button {
  @include button.button-new();
  display: inline-block;
  text-align: center;
  width: functions.px-to-rem(192px);
  margin-right: 1.5rem;
  padding-top: 13px;
  padding-bottom: 13px;
}

.landing-page-calls-to-action__subscribe_button {
  @include button.button-new();
  display: inline-block;
  width: functions.px-to-rem(192px);
  text-align: center;
  padding-top: 13px;
  padding-bottom: 13px;

  &:link,
  &:visited {
    background-color: settings.$colour-white;
    color: settings.$colour-accent;

    &:active {
      background-color: settings.$colour-white;
      color: settings.$colour-accent;
    }
  }
}
