@use 'button';
@use 'functions';
@use 'settings';
@use 'typography';
@use 'baseline';

$_image-visibility-breakpoint: 60.25em;

.landing-page {
  margin-top: 1rem;
  flex-grow: 1;

  @media screen and (min-width: $_image-visibility-breakpoint) {
    margin-top: 200px;
  }
}

.landing-page-hero {
  display: flex;
  margin-left: 1rem;
  margin-right: 1rem;
  justify-content: center;
  max-width: functions.px-to-rem(1300px); // Magic number

  @media screen and (min-width: $_image-visibility-breakpoint) {
    margin-left: 3rem;
    margin-right: 3rem;
  }
}

.landing-page-hero__content {
  @media screen and (min-width: $_image-visibility-breakpoint) {
    margin-top: 60px;
    padding-right: 2rem;
  }
}

.landing-page-hero__content__title,
.landing-page-hero__content__byline {
  color: settings.$colour-text-primary;
  font-family: settings.$font-family;
}

.landing-page-hero__content__title {
  @include typography.sizing(36px, 5.25);
  font-weight: bold;
  letter-spacing: 0.26px;
}

.landing-page-hero__image {
  display: none;

  @media screen and (min-width: $_image-visibility-breakpoint) {
    @supports(display: flex) {
      display: block;
    }
    width: 100%;
    max-width: 690px; // magic number to align with login button
  }
}

.landing-page-calls-to-action {
  background-color: settings.$colour-component-background;
  padding: baseline.increments(5) 1rem baseline.increments(3);
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: $_image-visibility-breakpoint) {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.landing-page-calls-to-action * {
  color: settings.$colour-text-primary;
  font-family: settings.$font-family;
}

.landing-page-calls-to-action__title {
  @include typography.sizing(24px, 3.5);
  font-weight: bold;
  letter-spacing: 0.17px;
}

.landing-page-call-to-action__text {
  margin-bottom: baseline.increments(5);
}

.landing-page-calls-to-action__buttons {
  text-align: center;
}

@mixin landing-page-button() {
  @include button.button-new();
  display: inline-block;
  width: functions.px-to-rem(192px);
  text-align: center;
  margin: 0 0.75rem 1.5rem;
  padding-top: 13px;
  padding-bottom: 13px;
}

.landing-page-calls-to-action__login_button {
  @include landing-page-button();
}

.landing-page-calls-to-action__subscribe_button {
  @include landing-page-button();

  &:link,
  &:visited {
    background-color: settings.$colour-white;
    color: settings.$colour-accent;

    &:active {
      background-color: settings.$colour-white;
      color: settings.$colour-accent;
    }
  }
}
