@use 'sass-utilities' as utilities;
@use 'functions';
@use 'breakpoints';

@mixin visually-hidden() {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  user-select: none;
}

@mixin visually-unhidden() {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: unset;
  position: static;
  width: auto;
  user-select: unset;
}

@mixin page-content-horizontal-margins() {
  margin-left: functions.px-to-rem(utilities.$default-gutter);
  margin-right: functions.px-to-rem(utilities.$default-gutter);

  @include breakpoints.not-narrow {
    margin-left: 0;
    margin-right: 0;
  }
}

@mixin allow-edge-to-edge-content-when-narrow() {
  margin-left: utilities.$default-gutter * -1;
  margin-right: utilities.$default-gutter * -1;

  @include breakpoints.not-narrow {
    margin-left: 0;
    margin-right: 0;
  }
}

.visually-hidden {
  @include visually-hidden();
}

@mixin page-header-top-space() {
  padding-top: 1rem;

  @include breakpoints.not-narrow {
    padding-top: 2.5rem;
  }
}

.sciety-grid-two-columns {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-column-gap: functions.px-to-rem(utilities.$default-gutter);
  grid-auto-rows: min-content;
  grid-auto-flow: column;

  > * {
    grid-column: 1 / -1;

    @include breakpoints.two-column-display {
      grid-column: 1 / 9;
    }
  }
}

.sciety-grid-two-columns {
  width: 100%;
  max-width: functions.px-to-rem(utilities.$max-site-width);
  flex-grow: 1;
  @include breakpoints.not-narrow {
    margin: 0 auto;
    padding: 0 functions.px-to-rem(utilities.$default-gutter);
  }
}

@mixin column-two() {
  @include breakpoints.two-column-display {
    grid-column: 9 / 13;
    grid-row: 2;
  }
}

@mixin page-container() {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  main {
    flex-grow: 1;
  }
}
