@use 'settings';
@use 'functions';
@use 'baseline';
@use 'breakpoints';

$_column-gap: functions.px-to-rem(20px);

@mixin visually-hidden() {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  user-select: none;
}

@mixin page-content-horizontal-margins() {
  margin-left: 1rem;
  margin-right: 1rem;

  @include breakpoints.not-narrow {
    margin-left: 0;
    margin-right: 0;
  }
}

.visually-hidden {
  @include visually-hidden();
}

@mixin page-header-top-space() {
  padding-top: baseline.increments(2);

  @include breakpoints.not-narrow {
    padding-top: baseline.increments(5);
  }
}

@supports (display: grid) {
  .sciety-grid-two-columns {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: $_column-gap;
    grid-auto-rows: min-content;
    grid-auto-flow: column;

    > * {
      grid-column: 1 / -1;

      @include breakpoints.two-column-display {
        grid-column: 1 / 9;
      }
    }
  }
}

.sciety-grid-two-columns {
  width: 100%;
  max-width: functions.px-to-rem(settings.$max-site-width);
  flex-grow: 1;
  @include breakpoints.not-narrow {
    margin: 0 $_column-gap;
  }
}

@mixin column-two() {
  @include breakpoints.two-column-display {
    grid-column: 9 / 13;
    grid-row: 2;
  }
}
