@use 'settings';
@use 'functions';
@use 'baseline';
@use 'breakpoints';

@mixin visually-hidden() {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  user-select: none;
}

@mixin basic-horizontal-spacing() {
  margin-left: 1rem;
  margin-right: 1rem;

  @include breakpoints.not-narrow {
    margin-left: 0;
    margin-right: 0;
  }
}

.visually-hidden {
  @include visually-hidden();
}

@mixin page-header-top-space() {
  padding-top: baseline.increments(2);

  @include breakpoints.not-narrow {
    padding-top: baseline.increments(5);
  }
}
