@use 'settings';
@use 'functions';
@use 'baseline';
@use 'breakpoints';

@mixin visually-hidden() {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  user-select: none;
}

.visually-hidden {
  @include visually-hidden();
}

@supports (display: grid) {
  .sciety-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 20px;
    grid-auto-rows: min-content;
    grid-auto-flow: column;
  }
}

.sciety-grid {
  max-width: functions.px-to-rem(settings.$max-site-width);
  margin: 0 1rem;
  flex-grow: 1;
}

@mixin page-header-top-space() {
  padding-top: baseline.increments(2);

  @include breakpoints.not-narrow {
    padding-top: baseline.increments(5);
  }
}
