@use 'baseline';
@use 'card';
@use 'layout';

.sciety-grid--logged-in-home-page {
  @include layout.sciety-grid-columns();
  margin-left: 1rem;
  margin-right: 1rem;
}

.logged-in-home-page-header {
  @include layout.page-header-top-space();
  margin-bottom: #{baseline.increments(7)};
}

.your-feed__list {
  @include card.list();
}

.your-feed__list_item {
  @include card.list-item();
}
