@use 'baseline';
@use 'breakpoints';
@use 'button';
@use 'functions';
@use 'layout';
@use 'list';
@use 'settings';
@use 'states';
@use 'typography';

$_site-header-nav-height: 60px;

$_menu-page-upper-inline-spacing: 26px;

.menu-page-container {
  flex-grow: 1;
  height: 100vh;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: $_site-header-nav-height auto;
}

.menu-page__close_nav {
  order: 1;
}

.utility-bar--menu-page {
  order: 2;
}

.menu-page-main-content {
  order: 3;
  grid-column: 1 / -1;
  margin-bottom: 0; // TODO remove when global <main> has no margin-bottom
}

.navigation-menu {
  color: settings.$colour-white;
  background-color: settings.$colour-navigation-menu-background;
  width: 100%;
  font-family: settings.$font-family;
  padding-top: baseline.increments(2);
  display: flex;
  flex-direction: column;
}

.navigation-menu__title {
  @include typography.sizing(20px, 3);
  font-weight: bold;
  letter-spacing: 0.14px;
  padding-left: functions.px-to-rem($_menu-page-upper-inline-spacing);
  margin-bottom: baseline.increments(2.5);
}

.menu-page__close_nav {
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: functions.px-to-rem($_menu-page-upper-inline-spacing - 4px);

  &::before {
    @include layout.visually-hidden();
    content: 'Close the following menu';
  }
}
