@use 'settings';
@use 'typography';

.navigation-menu {
  color: settings.$colour-white;
  background-color: settings.$colour-text-primary;
  width: 100%;

  a:link,
  a:visited {
    color: settings.$colour-white;
    background-color: settings.$colour-text-primary;

    a:hover,
    a:active {
      color: inherit;
      background-color: inherit;
    }
  }
}

.navigation-menu__title {
  @include typography.sizing(20px, 3);
  font-weight: bold;
  letter-spacing: 0.14px;
  font-family: settings.$font-family;
}

.site-header__close_nav {
  &::before {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    user-select: none;
    content: 'Close the following menu';
  }
}
