@use 'settings';

.sciety-grid--meta > .page-header--article,
.sciety-grid--meta > .article-tabs,
.sciety-grid--meta > .main-content {
  grid-column: 1 / -1;
}

@media screen and (min-width: settings.$breakpoint-narrow) {
  .sciety-grid.sciety-grid--meta > .main-content {
    grid-column: 1 / 9;

    &.main-content--article {
      grid-column: 1 / -1;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: auto auto;

      .article-abstract {
        grid-column: 1 / 9;
      }

      .article-meta {
        grid-column: 1 / 9;
      }

      // TODO: move to article-feed partial as part of layout refactor
      .article-feed {
        grid-column: 1 / 9;
        grid-row: 2;
      }
    }
  }
}
