@use 'baseline';
@use 'breakpoints';
@use 'article-tabs';
@use 'card';
@use 'functions';
@use 'list';
@use 'settings';
@use 'typography';

.main-content--meta {
  @include card.basics();
  @include article-tabs.hide-top-border-touching-tabs();

  margin-bottom: baseline.increments(6);
}

.article-author-list {
  @include list.basics();

  + * {
    clear: left;
  }

  @supports (display: flow-root) {
    display: flow-root;

    + * {
      clear: unset;
    }
  }
}

.article-author-list > li {
  @include list.author-separator-terminator();
  @include typography.sizing($font-size: 14px, $line-height-in-increments: 2.5);
  float: left;
  font-weight: bold;
}

.article-meta-data-list {
  @include list.basics();
  font-family: settings.$font-secondary;
}

.article-meta-data-list__link {
  @include typography.sizing($font-size: 14px, $line-height-in-increments: 2.5);
}

.article-abstract {
  margin-bottom: baseline.increments(4);
}

.full-article-button,
.full-article-button:link,
.full-article-button:visited {
  @include typography.button();
  border-radius: settings.$border-radius;
  cursor: pointer;
  padding: functions.px-to-rem(8px);
  display: block;
  text-align: center;
  color: settings.$colour-text-primary;
  border: settings.$border-width solid currentColor;

  &:hover,
  &:active {
    background-color: settings.$colour-primary;
    color: settings.$colour-white;
    border-color: settings.$colour-primary;
  }
}
