@use 'baseline';
@use 'list';
@use 'settings';
@use 'typography';
@use 'functions';

$vertical-space-above-title--narrow: baseline.increments(2);
$vertical-space-above-title--wide: baseline.increments(5);

.sciety-grid.sciety-grid--meta {
  @include typography.sizing(14px, 2.5);
  grid-auto-flow: unset;
  margin-left: auto;
  margin-right: auto;
  font-family: Ubuntu, sans-serif;

  h1 {
    @include typography.sizing(20px, 3);
    font-family: Ubuntu, sans-serif;
  }

  p {
    @include typography.sizing(14px, 2.5);
    font-family: Ubuntu, sans-serif;
  }

  .article-tabs__tab {
    font-family: Ubuntu, sans-serif;
  }
}

.sciety-grid--meta > .page-header--article,
.sciety-grid--meta > .article-tabs,
.sciety-grid--meta > .main-content {
  grid-column: 1 / -1;
}

.sciety-grid--meta > .page-header--article {
  margin-left: 1rem;
  margin-right: 1rem;
  padding-top: $vertical-space-above-title--narrow;
  color: settings.$colour-activity-page-text;
}

@media screen and (min-width: settings.$breakpoint-narrow) {
  .sciety-grid.sciety-grid--meta h1 {
    @include typography.sizing(26px, 3.75);
  }

  .sciety-grid--meta > .page-header--article,
  .sciety-grid--meta > .article-tabs,
  .sciety-grid--meta > .main-content {
    grid-column: 3/11;
  }

  .sciety-grid--meta > .page-header--article {
    padding-top: $vertical-space-above-title--wide;
  }
}

.sciety-grid--meta .main-content--article {
  border: 1px solid settings.$colour-article-border;
  border-left-width: 0;
  border-right-width: 0;
  background-color: settings.$colour-white;
  margin-bottom: baseline.increments(1);
  color: settings.$colour-activity-page-text;

  padding: baseline.increments(2) functions.px-to-rem(16px);
  @media screen and (min-width: settings.$breakpoint-narrow) {
    padding: baseline.increments(3) functions.px-to-rem(24px);
  }

  &:first-child {
    border-top-width: 0;
  }

  @media screen and (min-width: settings.$breakpoint-narrow) {
    border-radius: settings.$border-radius;
    border-left-width: 1px;
    border-right-width: 1px;

    &:first-child {
      border-top-width: 1px;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  h3 {
    @include typography.sizing($font-size: settings.$base-font-measure, $line-height-in-increments: 3);
    font-weight: bold;
  }
}

.article-author-list {
  @include list.basics();
  font-family: settings.$font-secondary;
  display: flow-root;
}

.article-author-list > li {
  @include typography.sizing($font-size: settings.$base-font-measure, $line-height-in-increments: 3);
  float: left;
  font-weight: bold;
}

.article-author-list > li::after {
  content: ', \00a0';
}

.article-author-list > li:last-child::after {
  content: '';
}

.article-meta-data-list {
  @include list.basics();
  font-family: settings.$font-secondary;
}

.article-meta-data-list > li {
  @include typography.sizing($font-size: settings.$base-font-measure, $line-height-in-increments: 3);
}

.article-abstract {
  margin-bottom: #{baseline.increments(6)};
}

.meta-page__background--filler {
  background-color: settings.$colour-activity-page-background;
  width: 100vw;
  background-image: linear-gradient(180deg, settings.$colour-article-border 0, settings.$colour-activity-page-background 8px);
}

.full-article-button,
.full-article-button:link,
.full-article-button:visited {
  @include typography.sizing(14px);
  border-radius: 5px;
  cursor: pointer;
  padding: functions.px-to-rem(8px);
  font-weight: bold;
  display: block;
  text-align: center;
  color: settings.$colour-activity-page-text;
  border: 1px solid currentColor;

  &:hover,
  &:active {
    background-color: settings.$colour-primary;
    color: settings.$colour-white;
    border-color: settings.$colour-primary;
  }
}
