@use 'baseline';
@use 'breakpoints';
@use 'card';
@use 'functions';
@use 'list';
@use 'settings';
@use 'typography';

.main-content--meta {
  @include card.full-tab-card();
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 0;
  margin-bottom: baseline.increments(6);
  padding: baseline.increments(2) functions.px-to-rem(16px);

  @include breakpoints.from-narrow {
    padding: baseline.increments(3) functions.px-to-rem(24px);
    border-width: settings.$border-width;
  }
}

.article-author-list {
  @include list.basics();
  font-family: settings.$font-secondary;

  + * {
    clear: left;
  }

  @supports (display: flow-root) {
    display: flow-root;

    + * {
      clear: unset;
    }
  }
}

.article-author-list > li {
  @include typography.sizing($font-size: 14px, $line-height-in-increments: 2.5);
  float: left;
  font-weight: bold;
}

.article-author-list > li::after {
  content: ', \00a0';
}

.article-author-list > li:last-child::after {
  content: '';
}

.article-meta-data-list {
  @include list.basics();
  font-family: settings.$font-secondary;
}

.article-meta-data-list__link {
  @include typography.sizing($font-size: 14px, $line-height-in-increments: 2.5);
}

.article-abstract {
  margin-bottom: baseline.increments(4);
}

.meta-page__background--filler {
  background-color: settings.$colour-page-background;
  width: 100%;
}

.full-article-button,
.full-article-button:link,
.full-article-button:visited {
  @include typography.sizing(14px, 14/8);
  border-radius: settings.$border-radius;
  cursor: pointer;
  padding: functions.px-to-rem(8px);
  font-weight: bold;
  display: block;
  text-align: center;
  color: settings.$colour-text-primary;
  border: settings.$border-width solid currentColor;

  &:hover,
  &:active {
    background-color: settings.$colour-primary;
    color: settings.$colour-white;
    border-color: settings.$colour-primary;
  }
}
