@use 'settings';
@use 'baseline';
@use 'states';
@use 'typography';

html {
  font-size: unset;
}

body {
  font-family: settings.$font-family;
  font-size: settings.$base-font-measure;
  line-height: 1.5;
  margin: 0;
  color: settings.$colour-text-primary;
}

p {
  @include typography.body-2();
  margin-top: 0;
  margin-bottom: #{baseline.increments(3)};
}

h1 {
  @include typography.heading-1();
  margin-top: 0;
  margin-bottom: #{baseline.increments(2)};
}

h2 {
  @include typography.heading-2();
  margin-top: 0;
  margin-bottom: #{baseline.increments(2)};
}

h3 {
  @include typography.heading-3();
  margin-top: 0;
  margin-bottom: #{baseline.increments(2)};
}

h4 {
  @include typography.heading-4();
  margin-top: 0;
  margin-bottom: #{baseline.increments(2)};
}

h5 {
  @include typography.heading-5();
  margin-top: 0;
  margin-bottom: #{baseline.increments(2)};
}

h6 {
  @include typography.heading-6();
  margin-top: 0;
  margin-bottom: #{baseline.increments(2)};
}

blockquote {
  border-left: 8px solid settings.$colour-grey-one;
  margin-left: 1.5rem;
  padding-left: 1rem;
}

ul {
  margin-top: 0;
}

li {
  @include typography.body-2();
}

a:link {
  text-decoration: none;
}

a:link,
a:visited {
  color: settings.$colour-primary;

  &:hover,
  &:active {
    color: settings.$colour-primary-hover;
  }
}

a[href],
button,
input {
  @include states.focus();
}

button {
  @include typography.button();
}

/*
Prevent styling of <a> elements that aren't links
*/

a:not([href]) {
  color: inherit;
  text-decoration: inherit;
}

/*
Use real subscript and superscript characters where possible
*/

@supports (font-variant-position: sub) {
  sub {
    font-size: inherit;
    font-variant-position: sub;
    position: static;
  }
}

@supports (font-variant-position: super) {
  sup {
    font-size: inherit;
    font-variant-position: super;
    position: static;
  }
}

p:last-child {
  margin-bottom: 1em;
}

table {
  border-top: settings.$border-width solid settings.$colour-grey-two;
  border-bottom: settings.$border-width solid settings.$colour-grey-two;
  margin-bottom: baseline.increments(3);
}

td,
th {
  padding: baseline.increments(0.5) 0.25rem;
  vertical-align: top;

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }

  tr:first-child & {
    padding-top: 0;
  }

  tr:last-child & {
    padding-bottom: 0;
  }
}

address {
  @include typography.body-2();
  font-style: normal;
  margin-bottom: #{baseline.increments(2)};
}

*,
::after,
::before {
  box-sizing: border-box;
}

