@use 'settings';
@use 'baseline';
@use 'layout';
@use 'typography';
@use 'breakpoints';

.page-header {
  @include layout.page-header-top-space();
  @include layout.basic-horizontal-spacing();
  margin-bottom: #{baseline.increments(6)};
}

.page-header__title {
  @include typography.title-1();
}

.page-header__identity {
  display: flex;
  align-items: center;
  margin-bottom: baseline.increments(3);

  h1 {
    margin-bottom: 0;
  }
}
