@use 'settings';
@use 'states';

:root {
  // text colours
  --light-mode-text-primary: #{settings.$colour-light-mode-text-primary};
  --dark-mode-text-primary: #{settings.$colour-dark-mode-text-primary};
  --text-primary: var(--light-mode-text-primary);

  // backgrounds
  --light-mode-background-colour: #{settings.$colour-light-mode-background};
  --dark-mode-background-colour: #{settings.$colour-dark-mode-background};
  --background-colour: var(--light-mode-background-colour);

  // site header / utility bar specific
  --light-mode-colour-text-navigation-link: #{settings.$colour-text-navigation-link};
  --dark-mode-colour-text-navigation-link: var(--dark-mode-text-primary);
  --text-navigation-link: var(--light-mode-colour-text-navigation-link);


  // furniture
  --light-mode-furniture-colour: #{settings.$colour-furniture};
  --dark-mode-furniture-colour: #{settings.$colour-dark-furniture};
  --furniture-colour: var(--light-mode-furniture-colour);

  // icons
  --light-mode-icon-colour: #{settings.$colour-light-icon};
  --dark-mode-icon-colour: #{settings.$colour-dark-icon};
  --icon-colour: var(--light-mode-icon-colour);

  // site header logo text
  --light-mode-site-header-logo-text: #{settings.$colour-light-mode-site-header-logo-text};
  --dark-mode-site-header-logo-text: #{settings.$colour-dark-mode-site-header-logo-text};
  --site-header-logo-text: var(--light-mode-site-header-logo-text);
}

@mixin set-colours($property, $colour-variable-to-use, $dark-mode-colour) {
  #{$property}: var($colour-variable-to-use);

  @media (prefers-color-scheme: dark) {
    @at-root & {
     #{$colour-variable-to-use}: var($dark-mode-colour);
    }
  }
}

@mixin set-standard-text-colours() {
  @include set-colours(color, --text-primary, --dark-mode-text-primary);
}

@mixin set-site-header-link-colours() {
  @include set-colours(color, --text-navigation-link, --dark-mode-colour-text-navigation-link);
}

// extracted from normalise.scss
body {
  @include set-colours(background-color, --background-colour, --dark-mode-background-colour);
  @include set-standard-text-colours();
}

// extracted and adapted from site-header/_index.scss
.site-header {
  --light-mode-site-header-background-colour-1: #{settings.$colour-light-mode-site-header-background-1};
  --site-header-background-colour-1: var(--light-mode-site-header-background-colour-1);
  @include set-colours(background-color, --site-header-background-colour-1, --dark-mode-background-colour)
}

.site-header__white_box_padding,
.site-header__white_box {
  --light-mode-site-header-background-colour-2: #{settings.$colour-light-mode-site-header-background-2};
  --site-header-background-colour-2: var(--light-mode-site-header-background-colour-2);
  @include set-colours(background-color, --site-header-background-colour-2, --dark-mode-background-colour);
}

// extracted from utility-bar.scss
.utility-bar-user-profile {
  &:link,
  &:visited {
    @include set-colours(color, --text-primary, --dark-mode-text-primary);

    &:hover,
    &:active {
      color: inherit;
    }
  }
}

.utility-bar__list_nav_link {
  &:link,
  &:visited {
    @include set-site-header-link-colours();
    @include states.link() {
      @include set-standard-text-colours();
      @include set-colours(border-color, --text-primary, --dark-mode-text-primary);
    }
  }

}
