@use 'settings';

@mixin light () {
    --colour-site-header-background: #{settings.$colour-white};
    --colour-text-primary: #{settings.$colour-text-primary};
    --colour-text-navigation-link: #{settings.$colour-brand};
    --colour-site-header-border: #{settings.$colour-furniture};
}

@mixin dark () {
    --colour-site-header-background: #{settings.$colour-brand};
    --colour-text-primary: #{settings.$colour-white};
    --colour-text-navigation-link: #{settings.$colour-white};
    --colour-site-header-border: #{settings.$colour-brand};
}
