@use '../sass-utilities' as utilities;

@mixin light () {
    --colour-site-header-background: #{utilities.$colour-white};
    --colour-text-primary: #{utilities.$colour-text-primary};
    --colour-text-navigation-link: #{utilities.$colour-brand};
    --colour-site-header-border: #{utilities.$colour-furniture};
}

@mixin dark () {
    --colour-site-header-background: #{utilities.$colour-brand};
    --colour-text-primary: #{utilities.$colour-white};
    --colour-text-navigation-link: #{utilities.$colour-white};
    --colour-site-header-border: #{utilities.$colour-brand};
}
