@use 'baseline';
@use 'button';
@use 'settings';
@use 'functions';
@use 'typography';

.search-form {
  margin-bottom: #{baseline.increments(6)};
}

.search-form__inputs {
  display: flex;
}

.search-form__input::placeholder {
  @include typography.sizing($font-size: settings.$base-font-measure, $line-height-in-increments: 3);
  color: settings.$colour-grey-one;
}

.search-form__input {
  border: 1px solid settings.$colour-grey-one;
  border-right-color: transparent;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: functions.px-to-rem(13px) functions.px-to-rem(25px);
  flex: 1 1 functions.px-to-rem(80px);
  min-width: functions.px-to-rem(80px);
  width: 100%;
}

.search-form__input:focus {
  border-color: settings.$colour-primary;
  border-right-color: transparent;
  outline: none;
}

.search-form__button {
  border: 1px solid settings.$colour-ui-default;
  border-radius: 0 5px 5px 0;
  cursor: pointer;

  color: settings.$colour-ui-default;
  background-color: settings.$colour-white;

  font-weight: bold;
  padding: 11px 9px 5px 10px;
  flex: 0 0 functions.px-to-rem(32px);

  &:hover,
  &:active {
    color: settings.$colour-white;
    background-color: settings.$colour-primary;
    border-color: settings.$colour-primary;
  }
}

.search-form__icon {
  fill: settings.$colour-ui-default;
}

.search-form__button:hover,
.search-form__button:active {
  .search-form__icon {
    fill: settings.$colour-white;
  }
}
