@use 'baseline';
@use 'breakpoints';
@use 'card';
@use 'functions';
@use 'list';
@use 'settings';
@use 'typography';

$_vertical-space-above-title--narrow: baseline.increments(2);
$_vertical-space-above-title--wide: baseline.increments(5);
$_search-form-text-inline-padding: 12px;
$_search-form-inline-margin: settings.$base-font-measure;
$_clear-button-inline-size: 48px;

.sciety-grid--search-results > .page-header--search-results {
  grid-column: 1 / -1;
  color: settings.$colour-text-primary;
  margin: 0 1rem;

  @include breakpoints.from-narrow {
    margin: 0;
    grid-column: 3/11;
  }
}

.page-heading--search {
  @include typography.sizing(20px, 3);
  font-family: settings.$font-family;
  font-weight: bold;
  letter-spacing: 0.14px;
  padding-top: $_vertical-space-above-title--narrow;
  margin-bottom: baseline.increments(1.5);

  @include breakpoints.from-narrow {
    padding-top: $_vertical-space-above-title--wide;

    margin-left: functions.px-to-rem($_search-form-text-inline-padding + settings.$border-width);
    @supports(display: grid) {
      margin-left: unset;
    }
  }
}

.sciety-grid.sciety-grid--search-results {
  @include typography.sizing(14px, 2.5);
  grid-auto-flow: unset;
  margin-left: auto;
  margin-right: auto;
  font-family: settings.$font-family;

  h1 {
    @include typography.sizing(20px, 3);
    font-family: settings.$font-family;
  }
}

.search-form {
  grid-column: 1 / -1;
  margin-left: functions.px-to-rem($_search-form-inline-margin);
  margin-right: functions.px-to-rem($_search-form-inline-margin);
  margin-bottom: baseline.increments(1.5);
  position: relative;

  @include breakpoints.from-narrow {
    grid-column: 3/11;
    margin-left: 0;
    margin-right: 0;
  }
}

.search-form__text {
  @include typography.sizing(14px, 1.75);
  border: settings.$border-width solid settings.$colour-furniture;
  border-radius: settings.$border-radius;
  height: baseline.increments(6);
  width: 100%;
  padding-top: baseline.increments(17/8);
  padding-bottom: baseline.increments(17/8);
  padding-left: functions.px-to-rem($_search-form-text-inline-padding);
  padding-right: functions.px-to-rem($_clear-button-inline-size);
  font-family: settings.$font-family;
  letter-spacing: 0.1px;
  color: settings.$colour-text-primary;
}

.search-form__text::placeholder {
  color: inherit;
  opacity: 0.6;
}

.search-form__clear {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 0;
  background-color: transparent;
  border-width: 0;
  cursor: pointer;
  width: functions.px-to-rem($_clear-button-inline-size);
}

.search-form__clear_icon {
  display: block;
  margin: 0 auto;
}

.sciety-grid--search-results > .search-results {
  grid-column: 1 / -1;

  @include breakpoints.from-narrow {
    grid-column: 3/11;
  }
}

.search-results__summary {
  margin-left: functions.px-to-rem($_search-form-inline-margin + $_search-form-text-inline-padding + settings.$border-width);
  font-family: settings.$font-family;

  @include breakpoints.from-narrow {
    margin-left: functions.px-to-rem($_search-form-text-inline-padding + settings.$border-width);
  }
}

.search-results__query {
  font-weight: bold;
}

.search-results-list {
  @include list.basics();
  margin-top: 0;
}

.search-results-list__item {
  @include card.full-tab-card();
  border-left-width: 0;
  border-right-width: 0;
  margin-bottom: baseline.increments(1);
  padding: baseline.increments(2) functions.px-to-rem(16px);
  display: flex;

  @include breakpoints.from-narrow {
    border-left-width: settings.$border-width;
    border-right-width: settings.$border-width;
    padding: baseline.increments(3) functions.px-to-rem(24px);
  }

  &:first-child {
    border-top-width: 0;

    @include breakpoints.from-narrow {
      border-top-width: settings.$border-width;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.search-results-page__background--filler {
  background-color: settings.$colour-page-background;
  width: 100%;
}

.search-results-list__item__link {
  @include typography.sizing(16px, 2.5);
  font-family: settings.$font-family;
  font-weight: bold;
  color: settings.$colour-text-primary;
  display: block;
  margin-bottom: baseline.increments(0.5);

  &:link,
  &:visited {
    color: settings.$colour-text-primary;

    &:active,
    &:hover {
      color: settings.$colour-text-primary;
    }
  }
}

.search-results-list__item__description {
  margin-bottom: baseline.increments(1);
  font-family: settings.$font-family;
}

.search-results-list__item__avatar {
  width: settings.$avatar-size;
  height: settings.$avatar-size;
  border-radius: settings.$border-radius;
  flex: 0 0 settings.$avatar-size;
  margin-left: functions.px-to-rem(32px);
  border: settings.$avatar-border;
}

.search-results-list__item__meta {
  @include list.basics();
  @include typography.sizing(12px, 2.5);
  color: settings.$colour-text-secondary;
  font-family: settings.$font-family;
  letter-spacing: 0.09px;
  display: inline;

  > :nth-child(n+2)::before {
    content: '•';
    margin-right: 0.25rem;
  }
}

.search-results-list__item__meta__item {
  display: inline;
  margin-right: 0.25rem;
}

.search-results-list__item_container {
  flex-grow: 1;
}
