@use 'baseline';
@use 'button';

.search-form {
  margin-bottom: #{baseline.increments(6)};
}

.search-form__inputs {
  display: flex;
}

.search-form__input::placeholder {
  color: var(--COLOUR-GREY-ONE);
  font-size: var(--BASE-FONT-REM);
}

.search-form__input {
  border: 1px solid var(--COLOUR-GREY-ONE);
  border-right-color: transparent;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: calc((13 / var(--BASE-FONT-MEASURE)) * 1rem) calc((25 / var(--BASE-FONT-MEASURE)) * 1rem);
  flex: 1 1 calc((80 / var(--BASE-FONT-MEASURE)) * 1rem);
  min-width: calc((80 / var(--BASE-FONT-MEASURE)) * 1rem);
  width: 100%;
}

.search-form__input:focus {
  border-color: var(--COLOUR-PRIMARY);
  border-right-color: transparent;
  outline: none;
}

.search-form__button {
  @include button.basics();
  @include button.primary-colour();

  font-weight: bold;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 9px 9px 7px 10px;
  flex: 0 0 calc((32 / var(--BASE-FONT-MEASURE)) * 1rem);
}
