$base-font-measure: 16px;
$base-line-increment: 0.5rem;
$max-site-width: 1200px;
$colour-primary: rgb(207, 69, 0);
$colour-primary-hover: rgb(181, 56, 24);
$colour-teal: rgb(49, 73, 82);
$colour-grey-one: rgb(224, 225, 226);
$colour-grey-two: rgb(90, 90, 90);
$colour-grey-three: rgb(247, 247, 247);
$colour-ui-default: rgb(33, 33, 33);
$font-secondary: Lato, sans-serif;
$breakpoint-narrow: 46.25em;
$border-radius: 6px;
$border-width: 1px;
$focus-width: 3px;

$colour-brand: rgb(75, 96, 106);
$colour-accent: rgb(206, 72, 26);
$colour-accent-hover: rgb(155, 54, 19);
$colour-focus: rgb(245, 218, 209);
$colour-text-primary: rgb(52, 67, 74);
$colour-navigation-menu-background: $colour-text-primary;
$colour-navigation-menu-hover: rgb(70, 82, 89);
$colour-text-secondary: $colour-brand;
$colour-page-background: rgb(233, 235, 240);
$colour-component-background: rgb(239, 242, 243);
$colour-landing-page-search: rgb(249, 249, 249);
$colour-furniture: rgb(207, 216, 220);
$colour-white: rgb(255, 255, 255);

$avatar-size: 36px;
$avatar-border: 3px $colour-furniture solid;

$drawer-width: 260px;

$font-family: Ubuntu, sans-serif;

$site-header-height: 62px;
$menu-icons-left-spacing: 22px;
