$base-font-measure: 16;
$base-line-increment: 0.5rem;
$colour-primary: rgb(0, 121, 107);
$colour-primary-very-light: rgba(0, 121, 107, 0.05);
$colour-primary-hover: rgb(3, 89, 79);
$colour-grey-one: rgb(224, 225, 226);
$colour-grey-two: rgb(90, 90, 90);
$font-secondary: Lato, sans-serif;
