$base-font-measure: 16px;
$base-line-increment: 0.5rem;
$max-site-width: 1200px;
$colour-primary: rgb(207, 69, 0);
$colour-primary-very-light: rgba(0, 121, 107, 0.05);
$colour-primary-hover: rgb(181, 56, 24);
$colour-teal: rgb(49, 73, 82);
$colour-grey-one: rgb(224, 225, 226);
$colour-grey-two: rgb(90, 90, 90);
$colour-grey-three: rgb(247, 247, 247);
$colour-ui-default: rgb(33, 33, 33);
$colour-white: rgb(255, 255, 255);
$font-secondary: Lato, sans-serif;
$breakpoint-narrow: 46.25em;
$border-radius: 6px;

$colour-activity-page-text: rgb(55, 71, 79);
$colour-activity-page-background: rgb(233, 235, 240);
$colour-activity-feed-teal-one: rgb(96, 125, 139);
$colour-activity-feed-teal-two: rgb(69, 90, 100);
$colour-activity-feed-toggle: rgb(232, 82, 30);
$colour-activity-feed-responses-background: rgb(239, 242, 243);
$colour-article-border: rgb(207, 216, 220);
$colour-overlay: rgba(0, 0, 0, 0.05);
