$base-font-measure: 16px;
$max-site-width: 1200px;

// Only used in article actions. Do not use them in new code.
$colour-teal: rgb(49, 73, 82);
$colour-ui-default: rgb(33, 33, 33);

$border-radius: 6px;
$border-width: 1px;
$focus-width: 3px;

$colour-brand: rgb(75, 96, 106);
$colour-accent: rgb(206, 72, 26);
$colour-accent-hover: rgb(155, 54, 19);
$colour-alert: rgb(159, 0, 0);
$colour-focus: rgb(245, 218, 209);
$colour-text-primary: rgb(36, 42, 51);
$colour-navigation-menu-background: rgb(52, 67, 74);
$colour-text-navigation-link: rgb(52, 67, 74);
$colour-navigation-menu-hover: rgb(70, 82, 89);
$colour-text-secondary: $colour-brand;
$colour-page-background: rgb(233, 235, 240);
$colour-component-background: rgb(239, 242, 243);
$colour-furniture: rgb(207, 216, 220);
$colour-white: rgb(255, 255, 255);
$colour-site-header-background-darker: rgb(243, 244, 246);
$colour-accent-hover-on-dark-background: rgb(234, 122, 83);
$colour-container-background: rgb(212 221 224);

$colour-light-mode-text-primary: $colour-text-primary;
$colour-light-mode-background: $colour-white;
$colour-dark-mode-text-primary: $colour-white;
$colour-dark-mode-background: $colour-navigation-menu-background;

$sciety-default-gutter: 20px;
$sciety-default-form-gutter: 8px;
$sciety-default-form-vertical-spacing: 24px;
$sciety-default-form-element-separation: 16px;

$font-family: Ubuntu, sans-serif;

$site-header-height: 62px;

$site-header-click-target-separation: 22px;
$navigation-link-border-distance: 4px;
$navigation-link-border-width: 2px;
