@use 'baseline';
@use 'functions';
@use 'settings';

.site-header {
  flex-grow: 0;
  flex-shrink: 0;
  margin-bottom: #{baseline.increments(8)};
  display: flex;
  justify-content: center;
}

.site-header__wrapper {
  // TODO: move to top level as private member & use instead of 690 below x 2
  $logo-breakpoint: 690;
  margin-left: 1rem;
  margin-right: 1rem;
  max-width: functions.px-to-rem(settings.$max-site-width);
  flex-grow: 1;

  @media screen and (min-width: functions.px-to-rem(690px)) {
    @supports (display: flex) {
      display: flex;
    }
  }
}

.site-header__logo_link {
  padding-top: baseline.increments(1);
  display: block;

  @media screen and (min-width: functions.px-to-rem(690px)) {
    padding-top: functions.px-to-rem(14px);
    display: inline;
    flex: 0 0 150px;
    margin-right: functions.px-to-rem(50px);
  }
}

.site-header__logo {
  max-width: 150px;
}

.site-header__nav {
  flex-grow: 1;
}

.site-header__nav_list {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  padding-left: 0;
  margin-top: baseline.increments(2);
  margin-bottom: 0;
}

.site-header__nav_list_item {
  padding-right: 1.5rem;
  line-height: 2.5rem;
  flex-shrink: 0;
  font-size: 1.125rem;
  font-family: settings.$font-secondary;

  &:last-child {
    margin-left: auto;
    padding-right: 0;
  }
}

.site-header__nav_list_link {
  color: settings.$colour-ui-default;

  &:hover {
    color: settings.$colour-primary;
  }
}
