@use 'baseline';
@use 'button';
@use 'breakpoints';
@use 'functions';
@use 'layout';
@use 'list';
@use 'settings';
@use 'states';
@use 'typography';

$_top-nav-shadow-height: 9px;
$_site-header-height: settings.$site-header-height + $_top-nav-shadow-height;
$_search-icon-size: functions.px-to-rem(28px);

.site-header {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 2;
  justify-content: center;
  padding-bottom: baseline.increments(1);
  font-family: settings.$font-family;
  color: settings.$colour-text-primary;
  background-color: settings.$colour-white;
  width: 100%;

  @supports (display: flex) {
    width: unset;
  }

  @include breakpoints.from-narrow() {
    grid-column: 2;
    width: calc(100% - 300px); // Drawer width is 300px

    @supports (display: flex) {
      width: unset;
    }
  }

  &:not(.site-header--menu) {
    background-image: linear-gradient(0deg, rgb(233, 235, 240) 0, rgb(207, 216, 220) $_top-nav-shadow-height - 1, #fff $_top-nav-shadow-height);
    height: functions.px-to-rem($_site-header-height);
  }
}

.site-header__inner {
  margin-left: functions.px-to-rem(settings.$menu-icons-left-spacing);
  padding-top: 15px;
  flex-grow: 1;

  @supports (display: flex) {
    max-width: functions.px-to-rem(settings.$max-site-width);
    display: flex;
    align-items: center;
    padding-top: 0;
  }
}

.site-header__menu_link {
  display: inline-block;
  float: left;
  @supports (display: flex) {
    display: flex;
    float: none;
  }

  @include breakpoints.from-narrow() {
    display: none;
  }

  &::before {
    @include layout.visually-hidden();
    content: 'Open the menu';
  }

}
