@use 'baseline';
@use 'button';
@use 'breakpoints';
@use 'functions';
@use 'layout';
@use 'list';
@use 'settings';
@use 'states';
@use 'typography';

$_top-nav-shadow-height: 9px;
$_site-header-height: 62px + $_top-nav-shadow-height;
$_search-icon-size: functions.px-to-rem(28px);

.site-header {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 2;
  justify-content: center;
  padding-bottom: baseline.increments(1);
  font-family: settings.$font-family;
  color: settings.$colour-text-primary;
  background-color: settings.$colour-white;

  @include breakpoints.from-narrow() {
    padding-top: baseline.increments(1);

    &:not(.site-header--menu) {
      background-image: linear-gradient(0deg, rgb(233, 235, 240) 0, rgb(207, 216, 220) $_top-nav-shadow-height - 1, #fff $_top-nav-shadow-height);
      height: functions.px-to-rem($_site-header-height);
      padding-top: 0;
    }
  }

  a {
    @include states.focus();
  }
}

.site-header__wrapper {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: baseline.increments(2);
  max-width: functions.px-to-rem(settings.$max-site-width);
  flex-grow: 1;

  @supports (display: flex) {
    display: flex;
    align-items: center;
  }

  @include breakpoints.from-narrow() {
    margin-top: 0;
  }
}

.site-header__menu_link {
  display: flex;

  @include breakpoints.from-narrow() {
    display: none;
  }

  &::before {
    @include layout.visually-hidden();
    content: 'Open the menu';
  }

}
