@use 'settings';
@use 'functions';
@use 'baseline';
@use 'button';
@use 'typography';
@use 'list';

$_icon-size: 24px;
$_icon-inline-offset: 12px;
$_inline-spacing: 16px;
$_link-max-width: 300px;
$_link-text-font-size: 14px;
$_link-min-height: baseline.increments(5);

.site-menu__links {
  @include list.basics();
  margin-right: functions.px-to-rem($_inline-spacing);
  margin-left: functions.px-to-rem($_inline-spacing);
}

.site-menu__link {
  @include typography.sizing($_link-text-font-size, 1.75);
  display: block;
  @supports (display: flex) {
    display: flex;
  }
  align-items: center;
  min-height: $_link-min-height;
  max-width: functions.px-to-rem($_link-max-width);
  background-size: functions.px-to-rem($_icon-size);
  background-repeat: no-repeat;
  background-position: functions.px-to-rem($_icon-inline-offset) center;
  padding-left: functions.px-to-rem($_icon-inline-offset * 2 + $_icon-size);
  border-radius: settings.$border-radius;
  font-weight: bold;
  letter-spacing: 0.1px;

  &:link,
  &:visited {
    color: settings.$colour-white;

    &:hover,
    &:active {
      background-color: settings.$colour-navigation-menu-hover;
      color: inherit;
    }
  }
}

.site-menu__link_text {
  display: inline-block;
  padding-top: ($_link-min-height - functions.px-to-rem($_link-text-font-size)) / 2;
  @supports (display: flex) {
    padding-top: 0;
  }
}

.site-menu__link--home {
  background-image: url('/static/images/home.svg');
}

.site-menu__link--groups {
  background-image: url('/static/images/groups.svg');
}

.site-menu__link--blog {
  background-image: url('/static/images/blog.svg');
}

.site-menu__link--about {
  background-image: url('/static/images/info.svg');
}

.site-menu__link--profile {
  background-image: url('/static/images/profile.svg');
}

.site-menu__footer {
  margin-top: auto;
  margin-bottom: baseline.increments(2);
  margin-left: functions.px-to-rem($_inline-spacing);
  margin-right: functions.px-to-rem($_inline-spacing);
}

.site-menu__feedback_button {
  @include button.button-new();
  display: inline-block;
  margin-bottom: baseline.increments(3);
}

.site-menu__small_print {
  @include typography.sizing(12px, 2);
  letter-spacing: 0.09px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  a:link {
    @include typography.sizing(12px, 2);
    font-weight: normal;
    letter-spacing: 0.09px;
    text-decoration: underline;
  }

  a:link,
  a:visited {
    color: inherit;

    a:hover,
    a:active {
      color: inherit;
    }
  }
}
