@use 'baseline';
@use 'functions';
@use 'list';
@use 'settings';
@use 'typography';

.site-header {
  flex-grow: 0;
  flex-shrink: 0;
  margin-bottom: #{baseline.increments(8)};
  display: flex;
  justify-content: center;
}

.site-header__wrapper {
  // TODO: move to top level as private member & use instead of 690 below x 2
  $logo-breakpoint: 690;
  margin-left: 1rem;
  margin-right: 1rem;
  max-width: functions.px-to-rem(settings.$max-site-width);
  flex-grow: 1;

  @media screen and (min-width: functions.px-to-rem(690px)) {
    @supports (display: flex) {
      display: flex;
    }
  }
}

.site-header__logo_link {
  padding-top: baseline.increments(1);
  display: block;

  @media screen and (min-width: functions.px-to-rem(690px)) {
    padding-top: functions.px-to-rem(14px);
    display: inline;
    flex: 0 0 150px;
    margin-right: functions.px-to-rem(50px);
  }
}

.site-header__logo {
  max-width: 150px;
}

.site-header__nav {
  flex-grow: 1;
}

.site-header__nav_list {
  @include list.basics();
  display: flex;
  justify-content: flex-start;
  margin-top: baseline.increments(2);
  margin-bottom: 0;
}

.site-header__nav_list_item {
  @include typography.sizing($font-size: 18px, $line-height-in-increments: 5);
  padding-right: 1.5rem;
  flex-shrink: 0;
  font-family: settings.$font-secondary;

  &:nth-last-child(2) {
    margin-left: auto;
    padding-right: 0;

    @media screen and (min-width: settings.$breakpoint-narrow) {
      padding-right: 1.5rem;
    }
  }

  &:last-child {
    padding-right: 0;
  }
}

.site-header__nav_list_item--search,
.site-header__nav_list_item--search a {
  display: flex;
  align-items: center;
}

.site-header__nav_list__search_icon {
  width: functions.px-to-rem(28px);
  height: functions.px-to-rem(28px);
}

.site-header__nav_list_link {
  &:link,
  &:visited {
    color: settings.$colour-ui-default;

    &:hover,
    &:active {
      color: settings.$colour-primary;
    }
  }
}

.feedback-button {
  @media screen and (max-width: settings.$breakpoint-narrow) {
    display: none;
  }
}

