@use 'baseline';
@use 'button';
@use 'breakpoints';
@use 'functions';
@use 'list';
@use 'settings';
@use 'typography';

$_flyout-menu-icon-size: 24px;
$_flyout-menu-icon-inline-padding: 12px;
$_flyout-menu-inline-padding: 16px;
$_flyout-menu-text-inline-padding: 16px; // TODO: bad name
$_menu-link-max-width: 300px;

.page-container {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;

  @include breakpoints.from-narrow() {
    grid-template-columns: functions.px-to-rem(260px) 1fr;
  }
}

.flyout-menu {
  display: none;
  position: sticky;
  top: 0;
  background-color: settings.$colour-text-primary;
  color: settings.$colour-white;
  width: 100%;
  height: 100vh;
  font-family: settings.$font-family;
  padding-top: baseline.increments(19/8);

  @include breakpoints.from-narrow() {
    display: flex;
    flex-direction: column;
    grid-column: 1/1;
    grid-row: 1/-1;
  }
}

.flyout-menu__logo_link {
  margin-left: functions.px-to-rem(27px);
  margin-bottom: baseline.increments(4.5);
}

.flyout-menu__logo {
  display: block;
}

.flyout-menu__feedback_button {
  @include button.button-new();
  display: inline-block;
  margin-bottom: baseline.increments(3);
}

.flyout-menu__small_print {
  @include typography.sizing(12px, 2);
  letter-spacing: 0.09px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  a:link {
    @include typography.sizing(12px, 2);
    font-weight: normal;
    letter-spacing: 0.09px;
    text-decoration: underline;
  }

  a:link,
  a:visited {
    color: inherit;

    a:hover,
    a:active {
      color: inherit;
    }
  }
}

.flyout-menu__footer {
  margin-top: auto;
  margin-bottom: baseline.increments(2);
  margin-left: functions.px-to-rem($_flyout-menu-text-inline-padding);
  margin-right: functions.px-to-rem($_flyout-menu-text-inline-padding);
}
