@use 'baseline';
@use 'button';
@use 'breakpoints';
@use 'functions';
@use 'list';
@use 'settings';
@use 'typography';

$_drawer-logo-left-spacing: 27px;
$_drawer-icon-size: 24px;
$_drawer-icon-inline-padding: 12px;
$_drawer-width: 260px;
$_drawer-inline-padding: 16px;

.page-container {
  min-height: 100vh;
  @supports (display: grid) {
    display: grid;
  }
  grid-template-rows: auto 1fr;

  @include breakpoints.from-narrow() {
    grid-template-columns: functions.px-to-rem($_drawer-width) 1fr;
  }
}

.drawer {
  max-width: 300px;
  float: left;
  @supports (display: grid) {
    max-width: none;
    float: none;
  }
  display: none;
  position: sticky;
  top: 0;
  background-color: settings.$colour-navigation-menu-background;
  color: settings.$colour-white;
  width: 100%;
  height: 100vh;
  font-family: settings.$font-family;
  padding-top: baseline.increments(19/8);

  @include breakpoints.from-narrow() {
    display: flex;
    flex-direction: column;
    grid-column: 1/1;
    grid-row: 1/-1;
  }
}

.drawer__logo_link {
  align-self: flex-start;
  margin-left: functions.px-to-rem($_drawer-logo-left-spacing);
  margin-bottom: baseline.increments(4.5);
}

.drawer__logo {
  display: block;
}

.page-content {
  display: block;
  margin-left: 300px;

  @supports (display: flex) {
    display: flex;
    justify-content: center;
    margin-left: unset;
  }

  @include breakpoints.from-narrow() {
    grid-column: 2;
  }
}
