@use 'baseline';
@use 'settings';

$_avatar-size: 47px;
$_avatar-border-width: 1px;

.summary-feed-item {
  font-family: settings.$font-secondary;

  @media screen and (min-width: 46.25em) {
    @supports (display: flex) {
      display: flex;
    }
  }
}

.summary-feed-item__link {
  color: inherit;
}

.summary-feed-item__link:hover {
  color: settings.$colour-primary;
}

.summary-feed-item__avatar {
  width: $_avatar-size;
  height: $_avatar-size;
  border: $_avatar-border-width solid settings.$colour-grey-one;
  border-radius: 50%;
  flex: 0 0 $_avatar-size;
  margin-right: 1.5rem;
}

.summary-feed-item__date {
  color: settings.$colour-grey-two;
}

.summary-feed-item__title {
  margin-bottom: baseline.increments(2);
}
