@use 'baseline';
@use 'breakpoints';
@use 'settings';
@use 'typography';

$_avatar-size: 47px;
$_avatar-border-width: settings.$border-width;

.summary-feed-item {

  @include breakpoints.not-narrow {
    @supports (display: flex) {
      display: flex;
    }
  }
}

.summary-feed-item__link:link,
.summary-feed-item__link:visited {
  @include typography.subtle-link();
}

.summary-feed-item__avatar {
  width: $_avatar-size;
  height: $_avatar-size;
  border: $_avatar-border-width solid settings.$colour-grey-one;
  border-radius: 50%;
  flex: 0 0 $_avatar-size;
  margin-right: 1.5rem;
}

.summary-feed-item__date {
  color: settings.$colour-grey-two;
}

.summary-feed-item__title {
  margin-bottom: baseline.increments(2);
}
