@use 'baseline';
@use 'functions';
@use 'settings';
@use 'breakpoints';

@mixin sizing ($font-size, $line-height-in-increments: 3) {
  $font-size-in-rem: functions.px-to-rem($font-size);
  $line-height-in-rem: baseline.increments($line-height-in-increments);

  font-size: $font-size-in-rem;
  line-height: $line-height-in-rem / $font-size-in-rem;
}

@mixin subtle-link () {
  color: inherit;

  &:hover,
  &:active {
    color: settings.$colour-primary;
  }
}

@mixin headline() {
  font-family: settings.$font-family;
  font-size: functions.px-to-rem(32px);
  line-height: 1.2;
  font-weight: bold;

  @include breakpoints.not-narrow() {
    font-size: functions.px-to-rem(36px);
  }
}

@mixin title-1 () {
  font-family: settings.$font-family;
  font-size: functions.px-to-rem(20px);
  line-height: 1.2;
  font-weight: bold;

  @include breakpoints.not-narrow() {
    font-size: functions.px-to-rem(26px);
  }
}

@mixin title-2 () {
  font-family: settings.$font-family;
  font-size: functions.px-to-rem(16px);
  line-height: 1.2;
  font-weight: bold;
}

@mixin page-label () {
  font-family: settings.$font-family;
  font-size: functions.px-to-rem(20px);
  line-height: 1.2;
  font-weight: bold;
}
