@use 'sass:math';

@use 'baseline';
@use 'functions';
@use 'settings';
@use 'breakpoints';

@mixin sizing ($font-size, $line-height-in-increments: 3) {
  $font-size-in-rem: functions.px-to-rem($font-size);
  $line-height-in-rem: baseline.increments($line-height-in-increments);

  font-size: $font-size-in-rem;
  line-height: math.div($line-height-in-rem, $font-size-in-rem);
}

@mixin subtle-link () {
  color: inherit;

  &:hover,
  &:active {
    color: settings.$colour-primary;
  }
}

@mixin headline() {
  font-family: settings.$font-family;
  font-size: functions.px-to-rem(32px);
  line-height: 1.2;
  font-weight: bold;

  @include breakpoints.not-narrow() {
    font-size: functions.px-to-rem(36px);
  }
}

@mixin section() {
  font-family: settings.$font-family;
  font-size: functions.px-to-rem(24px);
  line-height: 1.2;
  font-weight: bold;
}

@mixin title-1 () {
  font-family: settings.$font-family;
  font-size: functions.px-to-rem(20px);
  line-height: 1.2;
  font-weight: bold;

  @include breakpoints.not-narrow() {
    font-size: functions.px-to-rem(26px);
  }
}

@mixin title-2 () {
  font-family: settings.$font-family;
  font-size: functions.px-to-rem(16px);
  line-height: 1.2;
  font-weight: bold;
}

@mixin page-label () {
  font-size: functions.px-to-rem(20px);
}

@mixin subheading () {
  font-family: settings.$font-family;
  font-size: functions.px-to-rem(14px);
  line-height: 1.4;
  font-weight: bold;
}

@mixin body-1 () {
  font-family: settings.$font-family;
  font-size: functions.px-to-rem(16px);
  line-height: 1.4;
}

@mixin body-2 () {
  font-family: settings.$font-family;
  font-size: functions.px-to-rem(14px);
  line-height: 1.4;
}

@mixin button () {
  font-family: settings.$font-family;
  font-size: functions.px-to-rem(14px);
  font-weight: bold;
  line-height: 1;
}

@mixin details () {
  font-family: settings.$font-family;
  font-size: functions.px-to-rem(12px);
  line-height: 1.2;
}

@mixin heading-base() {
  font-family: settings.$font-family;
  font-weight: bold;
  line-height: 1.2;
}

@mixin heading-1 () {
  @include heading-base();
  font-size: functions.px-to-rem(20px);

  @include breakpoints.not-narrow() {
    font-size: functions.px-to-rem(26px);
  }
}

@mixin heading-2 () {
  @include heading-base();
  font-size: functions.px-to-rem(18px);
}

@mixin heading-3 () {
  @include heading-base();
  font-size: functions.px-to-rem(16px);
}

@mixin heading-4 () {
  @include heading-base();
  font-size: functions.px-to-rem(15px);
}

@mixin heading-5 () {
  @include heading-base();
  font-size: functions.px-to-rem(14px);
}

@mixin heading-6 () {
  @include heading-base();
  font-size: functions.px-to-rem(14px);
  font-style: italic;
}

@mixin list-separator() {
  > * {
    margin-right: 0.25rem;
  }

  > :nth-child(n+3)::before {
    content: '•';
    margin-right: 0.25rem;
  }
}
