@use 'baseline';

.hive-grid--user > .page-header--user {
  grid-column: 1 / -1;
}

.page-header--user {
  display: flex;
  align-items: center;

  .page-header__avatar {
    width: 48px;
    height: 48px;
    flex: 0 0 48px;
    margin-right: 1rem;
    border-radius: 50%;
  }

  .page-header__handle {
    font-size: calc((26 / var(--BASE-FONT-MEASURE)) * 1rem);
    color: #666;
  }
}

.user-page-contents {
  grid-column: 1 / -1;
}

@media screen and (min-width: 56.25em) {
  .hive-grid--user > .user-page-contents {
    grid-column: 1 / 8;
  }
}

