@use 'baseline';
@use 'functions';
@use 'list';
@use 'settings';
@use 'typography';
@use 'breakpoints';

$_inline-margin: 1rem;

.sciety-grid.sciety-grid--user {
  margin-left: auto;
  margin-right: auto;
}

.sciety-grid--user > .page-header--user {
  grid-column: 1 / -1;

  @include breakpoints.not-narrow {
    grid-column: 3 / 11;
  }
}

.page-header--user {
  display: flex;
  align-items: center;
  margin-left: $_inline-margin;
  margin-right: $_inline-margin;

  @include breakpoints.not-narrow {
    margin-left: 0;
    margin-right: 0;
  }

  .page-header__avatar {
    width: 48px;
    height: 48px;
    flex: 0 0 48px;
    margin-right: 1rem;
    border-radius: 50%;
  }

  .page-header__handle {
    @include typography.page-label();
  }
}

.user-page-contents {
  grid-column: 1 / -1;

  @include breakpoints.not-narrow {
    grid-column: 3 / 11;
  }
}

.followed-groups {
  margin-left: $_inline-margin;
  margin-right: $_inline-margin;
  margin-bottom: #{baseline.increments(6)};

  @include breakpoints.not-narrow {
    margin-left: 0;
    margin-right: 0;
  }
}

.followed-groups__list {
  padding-left: 0;
}

.followed-groups__item {
  display: flex;
  align-items: center;
  margin-bottom: baseline.increments(1);
}

.followed-groups__item_link:link,
.followed-groups__item_link:visited {
  @include typography.subtle-link();
  flex: 1 1 auto;
  padding-right: functions.px-to-rem(6px);
}

// TODO: extract to avatar mixin
$_avatar-size: 47px;
$_avatar-border-width: settings.$border-width;

.followed-groups__item_avatar {
  width: $_avatar-size;
  height: $_avatar-size;
  border: $_avatar-border-width solid settings.$colour-grey-one;
  border-radius: 50%;
  flex: 0 0 $_avatar-size;
  margin-right: 1.5rem;
}

.saved-articles {
  @include list.basics();
}

.saved-articles__header {
  margin-left: $_inline-margin;
  margin-right: $_inline-margin;

  @include breakpoints.not-narrow {
    margin-left: 0;
    margin-right: 0;
  }
}

.saved-articles__item {
  margin-bottom: baseline.increments(2);
}

.saved-articles__link:link,
.saved-articles__link:visited {
  @include typography.subtle-link();
}
