@use 'baseline';
@use 'functions';

.sciety-grid--user {
  grid-auto-rows: min-content;
}

.sciety-grid--user > .page-header--user {
  grid-column: 1 / -1;
}

.page-header--user {
  display: flex;
  align-items: center;

  .page-header__avatar {
    width: 48px;
    height: 48px;
    flex: 0 0 48px;
    margin-right: 1rem;
    border-radius: 50%;
  }

  .page-header__handle {
    font-size: functions.px-to-rem(26px);
    color: rgb(102, 102, 102);
  }
}

.user-page-contents {
  grid-column: 1 / -1;
}

@media screen and (min-width: 56.25em) {
  .sciety-grid--user > .user-page-contents {
    grid-column: 1 / 8;
  }
}

