@use 'functions';
@use 'list';
@use 'button';
@use 'baseline';
@use 'settings';
@use 'states';
@use 'typography';
@use 'layout';
@use 'breakpoints';

$_search-icon-size: functions.px-to-rem(24px);
$_site-header-inline-end-margin: 8px;

.utility-bar {
  margin-right: functions.px-to-rem($_site-header-inline-end-margin);
  flex-grow: 1;
  align-self: center;
  float: right;
  @supports (display: flex) {
    float: none;
  }
}

.utility-bar__list {
  @include list.basics();
  display: flex;
  justify-content: flex-start;
  margin-bottom: 0;
}

.utility-bar__list_item {
  @include typography.button();
  padding-right: 1.5rem;
  flex-shrink: 0;
  display: flex;
  align-items: center;

  &:first-child {
    margin-left: auto;
  }

  &:last-child {
    padding-right: 0;
  }
}

.utility-bar__list__search_link {
  display: flex;
  align-items: center;
  border-radius: settings.$border-radius;
  border: settings.$border-width solid settings.$colour-furniture;
  padding: baseline.increments(0.5) functions.px-to-rem(12px - settings.$border-width);

  &:link,
  &:visited {
    color: settings.$colour-navigation-menu-background;

    &:active,
    &:hover {
      color: settings.$colour-navigation-menu-background;
    }
  }

  @include states.link() {
    background-color: settings.$colour-furniture;
  }
}

.utility-bar__list__search_icon {
  width: $_search-icon-size;
  height: $_search-icon-size;
}

.utility-bar__list__search_label {
  @include layout.visually-hidden();

  @include breakpoints.not-narrow() {
    @include layout.visually-unhidden();
    padding-left: functions.px-to-rem(5px);
  }
}

.utility-bar__list_link_button {
  @include button.button-link();
}

.utility-bar__list_link_sign_up_button {
  @include typography.button();
  border-radius: settings.$border-radius;
  border: settings.$border-width solid settings.$colour-furniture;
  padding: baseline.increments(1) functions.px-to-rem(12px - settings.$border-width);

  &:link,
  &:visited {
    color: settings.$colour-navigation-menu-background;

    &:active,
    &:hover {
      background-color: settings.$colour-furniture;
      color: settings.$colour-navigation-menu-background;
    }
  }

  &:link {
    @include states.focus();
  }
}
