@use 'settings';
@use 'baseline';
@use 'group';
@use 'summary-feed-list';
@use 'summary-feed-item';
@use 'footer';
@use 'functions';
@use 'group-page';
@use 'page-header';
@use 'user-page';
@use 'home-page';
@use 'button';
@use 'homepage-search-form';
@use 'article-search-page';
@use 'site-header';
@use 'about-page';
@use 'article-page';
@use 'article-tabs';
@use 'activity-page';
@use 'activity-feed';
@use 'meta-page';
@use 'search-results-page';
@use 'list';
@use 'typography';

@import url('https://fonts.googleapis.com/css?family=Lato:ital,wght@0,400;0,700;1,400&subset=latin,latin-ext&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400&display=swap');

/*
Prevent styling of <a> elements that aren't links
*/

a:not([href]) {
  color: inherit;
  text-decoration: inherit;
}

/*
Use real subscript and superscript characters where possible
*/

@supports (font-variant-position: sub) {
  sub {
    font-size: inherit;
    font-variant-position: sub;
    position: static;
  }
}

@supports (font-variant-position: super) {
  sup {
    font-size: inherit;
    font-variant-position: super;
    position: static;
  }
}

p:last-child {
  margin-bottom: 1em;
}

table {
  border-top: settings.$border-width solid settings.$colour-grey-two;
  border-bottom: settings.$border-width solid settings.$colour-grey-two;
  margin-bottom: baseline.increments(3);
}

td,
th {
  padding: baseline.increments(0.5) 0.25rem;
  vertical-align: top;

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }

  tr:first-child & {
    padding-top: 0;
  }

  tr:last-child & {
    padding-bottom: 0;
  }
}

*,
::after,
::before {
  box-sizing: border-box;
}

.follower {
  display: flex;
  align-items: center;
  max-width: 250px;
}

.follower__avatar {
  border-radius: 50%;
  margin-right: 8px;
  flex: 0 0 40px;
}

.follower__handle {
  padding-top: 2px;
  color: rgb(0, 0, 0);
}

html {
  font-size: unset;
}

body,
p {
  @include typography.sizing($font-size: settings.$base-font-measure, $line-height-in-increments: 3);
  font-family: 'Noto Serif', serif;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  // TODO: this isn't necessarily the color we want, but we are making explicit
  // what semantic ui sets
  color: rgba(0, 0, 0, 0.87);
}

main {
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  margin-bottom: baseline.increments(6);
}

p {
  @include typography.sizing($font-size: settings.$base-font-measure, $line-height-in-increments: 3);
  margin-top: 0;
  margin-bottom: #{baseline.increments(3)};
  font-weight: 400;
}

h1 {
  @include typography.sizing($font-size: 38px, $line-height-in-increments: 5.7);
  font-family: Lato, sans-serif;
  margin-top: 0;
  margin-bottom: #{baseline.increments(2)};
  font-weight: 400;
}

h2 {
  @include typography.sizing($font-size: 30px, $line-height-in-increments: 4.5);
  font-family: Lato, sans-serif;
  margin-top: 0;
  margin-bottom: #{baseline.increments(2)};
  font-weight: 400;
}

h3 {
  @include typography.sizing($font-size: 26px, $line-height-in-increments: 4);
  font-family: Lato, sans-serif;
  margin-top: 0;
  margin-bottom: #{baseline.increments(2)};
  font-weight: 400;
}

h4 {
  @include typography.sizing($font-size: 22px, $line-height-in-increments: 3.3);
  font-family: Lato, sans-serif;
  margin-top: 0;
  margin-bottom: #{baseline.increments(2)};
  font-weight: 400;
}

h5 {
  @include typography.sizing($font-size: 18px, $line-height-in-increments: 2.7);
  font-family: Lato, sans-serif;
  margin-top: 0;
  margin-bottom: #{baseline.increments(2)};
  font-weight: 400;
}

h6 {
  @include typography.sizing(settings.$base-font-measure, $line-height-in-increments: 2.4);
  font-family: Lato, sans-serif;
  margin-top: 0;
  margin-bottom: #{baseline.increments(2)};
  font-weight: 400;
}

blockquote {
  border-left: 8px solid settings.$colour-grey-one;
  margin-left: 1.5rem;
  padding-left: 1rem;
}

ul {
  margin-top: 0;
}

a:link,
a:visited {
  color: settings.$colour-primary;
  text-decoration: none;

  &:hover,
  &:active {
    color: settings.$colour-primary-hover;
  }
}

.feed__image {
  margin: 0 auto;
  padding-top: #{baseline.increments(3)};
  display: block;
  width: 80%;
}

.follow-toggle {
  margin-bottom: #{baseline.increments(3)};
}

@supports (display: grid) {
  .sciety-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 20px;
    grid-auto-rows: min-content;
    grid-auto-flow: column;
  }
}

.sciety-grid {
  max-width: functions.px-to-rem(settings.$max-site-width);
  margin: 0 1rem;
  flex-grow: 1;
}

.sciety-grid--simple > * {
  grid-column: 1 / -1;
}

.u-call-to-action-link {
  font-family: Lato, sans-serif;
}

.hidden {
  display: none;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  user-select: none;
}

.followers {
  margin-bottom: #{baseline.increments(8)};
}
