@use 'settings';
@use 'functions';
@use 'baseline';
@use 'normalise';
@use 'layout';

@use 'site-menu';
@use '../about-page';
@use '../legal-page';
@use '../groups-page';
@use '../group-page';
@use '../group-evaluations-page';
@use 'page-header';
@use '../sciety-feed-page';
@use '../user-page';
@use '../user-list-page';
@use '../my-feed-page';
@use 'button';
@use 'site-header';
@use 'article-page';
@use '../home-page';
@use '../follow/follow-toggle';
@use '../http/error-page';
@use 'activity-feed';
@use 'menu-page';
@use 'meta-page';
@use '../search-results-page';
@use 'list';
@use 'typography';
@use 'states';
@use 'utility-bar';
@use 'article-card';
@use '../shared-components/drawer';
@use '../shared-components/pagination-controls';
@use '../shared-components/standard-page-layout';
@use '../shared-components/tabs';
@use '../shared-components/group-card';
@use '../shared-components/card-authors';
@use 'supplementary';

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400&display=swap');

body {
  min-height: 100vh;
}

.hidden {
  display: none;
}
