@use 'settings';
@use 'functions';
@use 'baseline';
@use 'normalise';
@use 'layout';

@use 'standard-page-layout';
@use 'site-menu';
@use 'group';
@use 'group-page';
@use 'page-header';
@use '../user-page';
@use 'logged-in-home-page';
@use 'button';
@use 'site-header';
@use 'about-page';
@use 'article-page';
@use '../landing-page';
@use '../follow/follow-toggle';
@use '../http/error-page';
@use 'activity-feed';
@use 'menu-page';
@use 'meta-page';
@use '../search-results-page';
@use 'groups-page';
@use 'group-card';
@use 'list';
@use 'typography';
@use 'states';
@use 'utility-bar';
@use 'article-card';
@use '../shared-components/tabs';

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400&display=swap');

body {
  min-height: 100vh;
}

.sciety-grid--simple > * {
  grid-column: 1 / -1;
}

.hidden {
  display: none;
}

.followers {
  margin-bottom: #{baseline.increments(8)};
}
