@use 'settings';
@use 'functions';
@use 'baseline';
@use 'normalise';
@use 'layout';

@use 'standard-page-layout';
@use 'site-menu';
@use 'group';
@use 'summary-feed-list';
@use 'summary-feed-item';
@use 'group-page';
@use 'page-header';
@use 'user-page';
@use 'home-page';
@use 'button';
@use 'site-header';
@use 'about-page';
@use 'article-page';
@use 'article-tabs';
@use 'activity-feed';
@use 'menu-page';
@use 'meta-page';
@use 'search-results-page';
@use 'list';
@use 'typography';
@use 'states';
@use 'utility-bar';

@import url('https://fonts.googleapis.com/css?family=Lato:ital,wght@0,400;0,700;1,400&subset=latin,latin-ext&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400&display=swap');

.follower {
  display: flex;
  align-items: center;
  max-width: 250px;
}

.follower__avatar {
  border-radius: 50%;
  margin-right: 8px;
  flex: 0 0 40px;
}

.follower__handle {
  padding-top: 2px;
  color: rgb(0, 0, 0);
}

body {
  min-height: 100vh;
}

.feed__image {
  margin: 0 auto;
  padding-top: #{baseline.increments(3)};
  display: block;
  width: 80%;
}

@supports (display: grid) {
  .sciety-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 20px;
    grid-auto-rows: min-content;
    grid-auto-flow: column;
  }
}

.sciety-grid {
  max-width: functions.px-to-rem(settings.$max-site-width);
  margin: 0 1rem;
  flex-grow: 1;
}

.sciety-grid--simple > * {
  grid-column: 1 / -1;
}

.u-call-to-action-link {
  font-family: Lato, sans-serif;
}

.hidden {
  display: none;
}

.followers {
  margin-bottom: #{baseline.increments(8)};
}
