@use 'settings';
@use 'baseline';
@use 'editorial-community';
@use 'summary-feed-list';
@use 'summary-feed-item';
@use 'footer';
@use 'functions';
@use 'editorial-community-page';
@use 'page-header';
@use 'user-page';
@use 'home-page';
@use 'button';
@use 'search-form';
@use 'article-search-page';
@use 'site-header';
@use 'about-page';
@use 'article-feed';
@use 'article-page';
@use 'activity-page';
@use 'list';
@use 'typography';

/* Sciety imports, not Semantic-UI */
@import url('https://fonts.googleapis.com/css?family=Lato:ital,wght@0,400;0,700;1,400&subset=latin,latin-ext&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400&display=swap');

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Styles that override Semantic UI
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/*
Prevent styling of <a> elements that aren't links
*/

a:not([href]) {
  color: inherit;
  text-decoration: inherit;
}

/*
Make sure that links inside a .ui.menu that use <ol> or <ul> retain the intended styling
*/

.ui.menu > .item a:not(.ui) {
  color: inherit;
  text-decoration: inherit;
}

.ui.menu > .item a:hover:not(.ui) {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.03);
  color: rgba(0, 0, 0, 0.95);
}

.ui.text.menu > .item a:hover:not(.ui) {
  opacity: 1;
  background-color: transparent;
}

.ui.menu:not(.vertical) .item > .button.button--primary {
  color: rgb(255, 255, 255);
  font-size: functions.px-to-rem(settings.$base-font-measure);
  padding: functions.px-to-rem(13px) functions.px-to-rem(25px);
}

.ui.menu:not(.vertical) .item > .button.button--primary:hover {
  background-color: settings.$colour-primary-hover;
}

.ui.items > .item > .content > a.header:hover {
  color: settings.$colour-primary-hover;
}

/*
Use real subscript and superscript characters where possible
*/

@supports (font-variant-position: sub) {
  sub {
    font-size: inherit;
    font-variant-position: sub;
    position: static;
  }
}

@supports (font-variant-position: super) {
  sup {
    font-size: inherit;
    font-variant-position: super;
    position: static;
  }
}

/*
Reset <fieldset> in a .ui.form
*/

.ui.form fieldset {
  border-width: 0;
  margin: 0;
  padding: 0;
}

/*
Make sure that .ui.list that use <ol> or <ul> don't have bullets or numbers without using .bulleted or .ordered
*/

ol.ui,
ul.ui {
  @include list.basics();
}

ol.ui.list:not(.bulleted):not(.ordered),
ul.ui.list:not(.bulleted):not(.ordered) {
  margin-left: 0;
}

ol.ui.list:not(.bulleted):not(.ordered) li::before,
ul.ui.list:not(.bulleted):not(.ordered) li::before {
  content: '';
}

p:last-child {
  margin-bottom: 1em;
}

/*
Fix the vertical alignment in the event feed
*/
.ui.feed>.event>.content .date {
  display: block;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Styles that supplement Semantic UI
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/*
Allow a form <legend> to be a .ui.header
*/

legend.ui.header {
  display: block;
  width: 100%;
}

/*
Allow commas on the end of each .ui.list .item by adding .comma.separated
*/

.ui[class*='comma separated'].horizontal.list:not(.bulleted):not(.ordered) > .item {
  margin-left: 0;
}

.ui[class*='comma separated'].horizontal.list:not(.bulleted):not(.ordered) > .item::before {
  margin: 0;
}

.ui[class*='comma separated'].list > .item::after {
  content: ',\0a0';
  display: inline;
  visibility: inherit;
}

.ui[class*='comma separated'].list > .item:last-child::after {
  content: '.';
}

table {
  border-top: 1px solid settings.$colour-grey-two;
  border-bottom: 1px solid settings.$colour-grey-two;
  margin-bottom: baseline.increments(3);
}

td,
th {
  padding: baseline.increments(0.5) 0.25rem;
  vertical-align: top;

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }

  tr:first-child & {
    padding-top: 0;
  }

  tr:last-child & {
    padding-bottom: 0;
  }
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Styles that are independent of Semantic UI
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

*,
::after,
::before {
  box-sizing: border-box;
}

.follower {
  display: flex;
  align-items: center;
  max-width: 250px;
}

.follower__avatar {
  border-radius: 50%;
  margin-right: 8px;
  flex: 0 0 40px;
}

.follower__handle {
  padding-top: 2px;
  color: rgb(0, 0, 0);
}

html {
  font-size: unset;
}

body,
p {
  @include typography.sizing($font-size: settings.$base-font-measure, $line-height-in-increments: 3);
  font-family: 'Noto Serif', serif;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  // TODO: this isn't necessarily the color we want, but we are making explicit
  // what semantic ui sets
  color: rgba(0, 0, 0, 0.87);
}

main {
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  margin-bottom: baseline.increments(6);
}

p {
  @include typography.sizing($font-size: settings.$base-font-measure, $line-height-in-increments: 3);
  margin-top: 0;
  margin-bottom: #{baseline.increments(3)};
  font-weight: 400;
}

h1 {
  @include typography.sizing($font-size: 38px, $line-height-in-increments: 5.7);
  font-family: Lato, sans-serif;
  margin-top: 0;
  margin-bottom: #{baseline.increments(2)};
  font-weight: 400;
}

h2 {
  @include typography.sizing($font-size: 30px, $line-height-in-increments: 4.5);
  font-family: Lato, sans-serif;
  margin-top: 0;
  margin-bottom: #{baseline.increments(2)};
  font-weight: 400;
}

h3 {
  @include typography.sizing($font-size: 26px, $line-height-in-increments: 4);
  font-family: Lato, sans-serif;
  margin-top: 0;
  margin-bottom: #{baseline.increments(2)};
  font-weight: 400;
}

h4 {
  @include typography.sizing($font-size: 22px, $line-height-in-increments: 3.3);
  font-family: Lato, sans-serif;
  margin-top: 0;
  margin-bottom: #{baseline.increments(2)};
  font-weight: 400;
}

h5 {
  @include typography.sizing($font-size: 18px, $line-height-in-increments: 2.7);
  font-family: Lato, sans-serif;
  margin-top: 0;
  margin-bottom: #{baseline.increments(2)};
  font-weight: 400;
}

h6 {
  @include typography.sizing(settings.$base-font-measure, $line-height-in-increments: 2.4);
  font-family: Lato, sans-serif;
  margin-top: 0;
  margin-bottom: #{baseline.increments(2)};
  font-weight: 400;
}

blockquote {
  border-left: 8px solid settings.$colour-grey-one;
  margin-left: 1.5rem;
  padding-left: 1rem;
}

ul {
  margin-top: 0;
}

a:link,
a:visited {
  color: settings.$colour-primary;
  text-decoration: none;

  &:hover,
  &:active {
    color: settings.$colour-primary-hover;
  }
}

.feed__image {
  margin: 0 auto;
  padding-top: #{baseline.increments(3)};
  display: block;
  width: 80%;
}

.follow-toggle {
  margin-bottom: #{baseline.increments(3)};
}

@supports (display: grid) {
  .sciety-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 20px;
    grid-auto-rows: min-content;
    grid-auto-flow: column;
  }
}

.sciety-grid {
  max-width: functions.px-to-rem(settings.$max-site-width);
  margin: 0 1rem;
  flex-grow: 1;
}

.sciety-grid--simple > * {
  grid-column: 1 / -1;
}

.sciety-grid--article > .page-header--article,
.sciety-grid--article > .article-tabs,
.sciety-grid--article > .main-content {
  grid-column: 1 / -1;
}

@media screen and (min-width: 56.25em) {
  .sciety-grid--article > .main-content {
    grid-column: 1 / 9;

    &.main-content--article {
      grid-column: 1 / -1;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: auto auto;

      .article-abstract {
        grid-column: 1 / 9;
      }

      .article-meta {
        grid-column: 1 / 9;
      }

      // TODO: move to article-feed partial as part of layout refactor
      .article-feed {
        grid-column: 1 / 9;
        grid-row: 2;
      }
    }
  }
}

.sciety-grid--activity {
  grid-auto-flow: unset;
  margin-left: auto;
  margin-right: auto;
  font-family: Ubuntu, sans-serif;

  h1 {
    font-family: Ubuntu, sans-serif;
  }

  .article-tabs__tab {
    font-family: Ubuntu, sans-serif;
  }
}

.sciety-grid--activity > .page-header--article,
.sciety-grid--activity > .article-tabs,
.sciety-grid--activity > .main-content {
  grid-column: 1 / -1;
}

.sciety-grid--activity > .page-header--article {
  margin-left: 1rem;
  margin-right: 1rem;
  padding-top: activity-page.$vertical-space-above-title--narrow;
}

@media screen and (min-width: 56.25em) {
  .sciety-grid--activity > .page-header--article,
  .sciety-grid--activity > .article-tabs,
  .sciety-grid--activity > .main-content {
    grid-column: 3/11;
  }

  .sciety-grid--activity > .page-header--article {
    padding-top: activity-page.$vertical-space-above-title--wide;
  }

  .sciety-grid--activity > .main-content {
    &.main-content--article {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: auto auto;

      // TODO: move to article-feed partial as part of layout refactor
      .article-feed {
        grid-column: 1 / -1;
        grid-row: 2;
      }
    }
  }
}

.u-call-to-action-link {
  font-family: Lato, sans-serif;
}

.hidden {
  display: none;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  user-select: none;
}

.followers {
  margin-bottom: #{baseline.increments(8)};
}
