/.adr/
/.docker/
/.eslint/
/.github/
/.jest/
/.stylelint/
/build/
/backstop_data/
/helm/
/node_modules/
/.env
/.gcp-ncrc-key.json
/.gitignore
/LICENSE.md
/Makefile
/README.md
/static/*.css
/static/*.css.map
