# set to `true` for testing
USE_STUB_ADAPTERS=

# set to true to be able to login by specifying a userId
USE_STUB_LOGIN=

# add `info` to filter out `debug` level logs
LOG_LEVEL=

# get it from the 1Password Sciety team vault at https://sciety.1password.com
CROSSREF_API_BEARER_TOKEN=

# get it from the 1Password Sciety team vault at https://sciety.1password.com
PRELIGHTS_FEED_KEY=

# Bearer token for ingestion of evaluations to Sciety, and making POST requests to production and staging
# get it from the 1Password Sciety team vault at https://sciety.1password.com
SCIETY_TEAM_API_BEARER_TOKEN=
