coverage/
/.eslint/
/.jest/
/.jest-taiko/
/.stylelint/
/build/
/backstop_data/bitmaps_test/
/backstop_data/html_report/
/feature-test/screenshots/*.png
/node_modules/
/.env
/.gcp-ncrc-key.json
/helm/*/charts/
/static/*.css
/static/*.css.map
/.purgecss/
events.json
events-staging.json
