coverage/
/.eslint/
.eslint-cache
/.jest/
/.jest-taiko/
/.jest-non-taiko-feature-test/
/.stylelint/
/build/
/backstop_data/bitmaps_test/
/backstop_data/html_report/
/data/exploratory-test-from-*.csv*
/feature-test/screenshots/*.png
/node_modules/
/.env
/generated.env
/.gcp-ncrc-key.json
*.log
.mk-*
/static/*.css
/static/*.css.map
/.purgecss/
events.json
events-staging.json
events.bq-schema.json
temp-evaluations.jsonl
/logs/
/venv/
