{
  "extends": "stylelint-config-sass-guidelines",
  "rules": {
    "order/properties-alphabetical-order": null,
    "selector-class-pattern": null,
    "selector-no-qualifying-type": null,
    "selector-max-compound-selectors": null
  }
}
