@use '../../../sass/card';
@use '../../../sass/functions';
@use 'breakpoints';

.article-abstract {
  margin-bottom: 3rem;

  @include breakpoints.not-narrow {
    padding-right: 0;
    padding-left: 0;
  }
}
