@use 'functions';
@use 'settings';
@use 'button';
@use 'breakpoints';

$_label-font-size: functions.px-to-rem(20px);
$_microcopy-colour: settings.$colour-text-secondary;
$_text-input-height: 3rem;
$_clear-button-inline-size: 48px;

.error-summary {
  border: settings.$border-width solid settings.$colour-alert;
  padding: functions.px-to-rem(settings.$default-form-gutter);
  margin-bottom: functions.px-to-rem(48px);

  p {
    color: settings.$colour-alert;
  }

  ul {
    color: settings.$colour-alert;
    margin-top: 0;
  }
}

.standard-form {
  background-color: settings.$colour-white;
  padding: functions.px-to-rem(16px)
    functions.px-to-rem(settings.$default-gutter);

  border: settings.$border-width solid settings.$colour-furniture;
  border-left-width: 0;
  border-right-width: 0;

  @include breakpoints.not-narrow {
    border-radius: settings.$border-radius;
    border-left-width: settings.$border-width;
    border-right-width: settings.$border-width;
  }

  button[type="submit"] {
    @include button.primary();
    margin-right: functions.px-to-rem(
      settings.$default-form-element-separation
    );
  }

  dl {
    padding: functions.px-to-rem(12px) 0;
    margin-bottom: 1.5rem;
    font-size: $_label-font-size;

    @include breakpoints.not-narrow() {
      display: grid;
      grid-template-columns: 2fr 8fr;
      column-gap: functions.px-to-rem(settings.$default-gutter);
    }

    dt {
      font-weight: bold;
    }

    dd {
      margin-left: 0;
      margin-bottom: functions.px-to-rem(6px);
    }
  }

  section {
    margin-bottom: functions.px-to-rem(settings.$default-form-vertical-spacing);
  }
}

.standard-form__sub_heading {
  display: block;
  font-weight: bold;
  font-size: $_label-font-size;
  margin-bottom: functions.px-to-rem(settings.$default-form-gutter);
}

.standard-form__sub_heading_secondary_text {
  font-weight: normal;
}

.standard-form__helper_text {
  color: $_microcopy-colour;
  margin-bottom: functions.px-to-rem(settings.$default-form-gutter);
}

.standard-form__constraints {
  color: $_microcopy-colour;
}

.standard-form__labelled_selectable_control {
  display: flex;
  align-items: center;
  margin-bottom: functions.px-to-rem(8px);
}

.standard-form__cancel {
  @include button.secondary-link();
}

.standard-form__full_width_text_input {
  border: settings.$border-width solid settings.$colour-furniture;
  border-radius: settings.$border-radius;
  height: $_text-input-height;
  width: 100%;
  padding-top: functions.px-to-rem(17px);
  padding-bottom: functions.px-to-rem(17px);
  padding-left: functions.px-to-rem(12px);
  padding-right: functions.px-to-rem($_clear-button-inline-size);
  margin-bottom: functions.px-to-rem(8px);
  color: settings.$colour-text-primary;
}
