@use '../../sass/list';

.article-list {
  @include list.basics();
  margin-top: 0;
  margin-bottom: 1.5rem;

  > li {
    margin-bottom: 0.5rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
