@use 'settings';

@mixin top($distance) {
  border-top: settings.$border-width solid settings.$colour-furniture;
  padding-top: $distance;
}
@mixin bottom($distance) {
  border-bottom: settings.$border-width solid settings.$colour-furniture;
  padding-bottom: $distance;
}
