apiVersion: batch/v1
kind: CronJob
metadata:
  name: {{ .Release.Name }}--ingestion
  labels:
    {{- include "sciety.labels" . | nindent 4 }}
    app.kubernetes.io/component: ingestion
spec:
  schedule: "*/30 * * * *"
  concurrencyPolicy: "Forbid"
  startingDeadlineSeconds: 720
  jobTemplate:
    spec:
      template:
        metadata:
          labels:
            {{- include "sciety.selectorLabels" . | nindent 12 }}
            app.kubernetes.io/component: ingestion
        spec:
          containers:
          - name: app
            resources:
              requests:
                cpu: 100m
                memory: 150Mi
            image: "{{ .Values.images.frontend.repository }}:{{ .Values.images.frontend.tag }}"
            command: ["sh", "-c", "node ./build/ingest/legacy/update-event-data && wget --quiet https://hc-ping.com/{{ .Values.healthchecksPingKey }}/{{ .Release.Name | replace "--" "-" }}-ingestion || echo 'Done'"]
            envFrom:
            - configMapRef:
                name: {{ .Release.Name }}--public-env-vars
            - secretRef:
                name: {{ .Release.Name }}--secret-env-vars
            env:
              - name: INGESTION_TARGET_APP
                value: "https://{{ .Values.hostname }}"
              - name: PREREVIEW_BEARER_TOKEN
                value: {{ .Values.prereviewBearerToken }}
              - name: EXPERIMENT_ENABLED
                value: "{{ .Values.experimentEnabled }}"
            volumeMounts:
              - name: gcp-ncrc-key
                mountPath: "/var/run/secrets/app"
                readOnly: true
          volumes:
            - name: gcp-ncrc-key
              secret:
                secretName: ncrc-sheet-key
          restartPolicy: Never
