@use 'breakpoints';
@use 'button';
@use '../../sass/card';
@use '../../sass/functions';
@use 'settings';
@use '../../sass/layout';

.create-user-account-form-page__container {
  @include layout.page-container();
  background-color: settings.$colour-background-grey;
}

.create-user-account-form-page__main {
  margin-bottom: functions.px-to-rem(48px);
}

.create-user-account-form-wrapper {
  @include breakpoints.not-narrow {
    margin: 0 auto;
    max-width: functions.px-to-rem(304px);
  }
}

.create-user-account-form {
  @include layout.allow-edge-to-edge-content-when-narrow();
  @include card.basics();
}

.create-user-account-form__label {
  display: block;
  font-weight: bold;
  margin-bottom: functions.px-to-rem(settings.$default-form-gutter);
}

.create-user-account-form__input {
  display: block;
  margin-bottom: functions.px-to-rem(settings.$default-form-vertical-spacing);
  padding: functions.px-to-rem(settings.$default-form-gutter);
  border: settings.$border-width solid settings.$colour-furniture;
  border-radius: settings.$border-radius;
  width: 100%;
}

.create-user-account-form__submit {
  @include button.primary();
  margin-right: functions.px-to-rem(settings.$default-form-element-separation);
}

.create-user-account-form__handle {
  display: flex;
  align-items: center;
  margin-bottom: functions.px-to-rem(settings.$default-form-vertical-spacing);

  .create-user-account-form__handle-url {
    background-color: settings.$colour-form-addon-background;
    padding: functions.px-to-rem(settings.$default-form-gutter);
    border-top: settings.$border-width solid settings.$colour-furniture;
    border-left: settings.$border-width solid settings.$colour-furniture;
    border-bottom: settings.$border-width solid settings.$colour-furniture;
    border-top-left-radius: settings.$border-radius;
    border-bottom-left-radius: settings.$border-radius;
    line-height: normal;
    color: settings.$colour-text-secondary;
  }

  .create-user-account-form__input {
    width: 100%;
    margin-bottom: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

}
