@use '../../../sass/functions';
@use '../../../sass/card';
@use 'breakpoints';
@use '../../../sass/typography';
@use '../../../sass/layout';

.user-card {
  $_is-entire-card-linked: true;
  @include card.basics($_is-entire-card-linked);
  display: flex;
}

.user-card__body {
  flex-grow: 1;
}

.user-card__title {
  @include card.title();
}

.user-card__link {
  @include card.entire-card-link();
}

.user-card__handle {
  margin-bottom: 0.5rem;
}

.user-card__avatar {
  @include card.avatar();
  margin-left: functions.px-to-rem(32px);
}

.user-card__meta {
  @include card.meta();
}
