@import "https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Noto+Serif&display=swap";

*, *:before, *:after {
  box-sizing: border-box;
}

:root {
  font-size: 100%;
  line-height: 1.15;
  min-width: 320px;
}

body {
  background-color: rgb(255, 255, 255);
  color: rgb(33, 33, 33);
  font-family: "Noto Serif", serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  padding: 0 1.125rem;
  margin: 0 auto;
  max-width: 69.625rem;
}

h1, h2, h3 {
  font-family: "Noto Sans", Arial, Helvetica, sans-serif;
  font-weight: 600;
  margin-top: 0;
}

h1 {
  font-size: 2.25rem;
  line-height: 1.33333;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 1.625rem;
  line-height: 1.15385;
  margin-bottom: 1.125rem;
}

h3 {
  font-size: 1.4375rem;
  line-height: 1.04348;
  margin-bottom: 1.5rem;
}

main > article {
  display: grid;
  grid-column-gap: 1.125rem;
  grid-row-gap: 1.125rem;
  grid-template-areas:
    "header"
    "secondary"
    "primary"
  ;
}

@media (min-width: 56.25em) {
  main > article {
    grid-template-areas:
      "header  header"
      "primary secondary"
    ;
    grid-template-columns: [main-start] 3fr 1fr [main-end];
  }
}

main > article > header {
  grid-area: header;
}

main > article > .content {
  grid-area: primary;
}

main > article > aside {
  grid-area: secondary;
}

.author-list {
  list-style-type: none;
  margin-bottom: 1.5rem;
  padding-left: 0;
}

.author-list li {
  display: inline;
}

.author-list li:after {
  content: ",\a0";
}

.author-list li:last-child:after {
  content: "";
}
