@use '../../../sass/functions';
@use '../../../sass/list';
@use '../../../sass/layout';
@use '../../../sass/settings';
@use '../../../sass/typography';
@use '../../../sass/breakpoints';
@use '../../../sass/card';
@use 'common';

$_arbitrary-large-amount-of-px: 9000px;

/* stylelint-disable value-no-vendor-prefix */
@mixin _clamp-to-max-number-of-lines($number-of-lines) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $number-of-lines;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* stylelint-enable value-no-vendor-prefix */

.curation-teasers {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: calc(2 * #{common.$section-vertical-separation});
  padding-bottom: common.$section-vertical-separation;
  padding-top: common.$section-vertical-separation;
  max-width: functions.px-to-rem(settings.$max-site-width);
  background-color: settings.$colour-page-background;

  @include breakpoints.not-narrow {
    padding-left: functions.px-to-rem(settings.$sciety-default-gutter);
    padding-right: functions.px-to-rem(settings.$sciety-default-gutter);
  }

  @media screen and (min-width: common.$home-page-breakpoint) {
    position: relative;

    &::before {
      content: '';
      border-left: $_arbitrary-large-amount-of-px solid settings.$colour-page-background;
      position: absolute;
      bottom: 0;
      left: calc(#{$_arbitrary-large-amount-of-px} * -1);
      top: 0;
      right: 0;
      z-index: -1;
    }

    &::after {
      content: '';
      border-left: $_arbitrary-large-amount-of-px solid settings.$colour-page-background;
      position: absolute;
      bottom: 0;
      left: 0;
      top: 0;
      right: calc(#{$_arbitrary-large-amount-of-px} * -1);
      z-index: -1;
    }
  }
}

.curation-teasers__title {
  @include typography.section();
  @include layout.page-content-horizontal-margins();
  margin-bottom: functions.px-to-rem(20px);
}

.curation-teasers__teasers {
  @include list.basics();
  margin-bottom: 0;

  @media screen and (min-width: common.$home-page-breakpoint) {
    display: flex;
    justify-content: center;
  }

  @media screen and (min-width: common.$home-page-breakpoint) {
    @supports (display: flex) {
      display: flex;
      justify-content: space-evenly;
    }
  }
}

.curation-teasers__teasers li {
  margin-bottom: functions.px-to-rem(8px);

  &:last-child {
    margin-bottom: 0;
  }

  @media screen and (min-width: common.$home-page-breakpoint) {
    @supports (display: flex) {
      flex: 1 0;
      margin-bottom: 0;
      margin-right: functions.px-to-rem(24px);
      max-width: functions.px-to-rem(384px);

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.curation-teaser {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: functions.px-to-rem(16px);

  @media screen and (min-width: common.$home-page-breakpoint) {
    @supports (display: flex) {
      height: 100%;
    }
  }
}

.curation-teaser__quote_wrapper {
  position: relative;

  &::before,
  &::after {
    position: absolute;
    color: settings.$colour-accent;
    font-family: serif;
    font-size: functions.px-to-rem(48px);
    line-height: 1;
  }

  &::before {
    content: '\201C';
    left: -24px;
    top: -16px;
  }

  &::after {
    content: '\201D';
    right: -24px;
    bottom: 0;
  }

}

.curation-teaser__quote {
  @include _clamp-to-max-number-of-lines(10);
  
  margin: 0;
  margin-bottom: functions.px-to-rem(24px);
  padding-left: 0;
  border-width: 0;
}

.curation-teaser__strapline {
  font-weight: bold;
}
