@use '../../../sass/functions';
@use '../../../sass/list';
@use '../../../sass/layout';
@use 'settings';
@use '../../../sass/typography';
@use 'breakpoints';
@use '../../../sass/card';
@use '../../../sass/curation-statement';
@use 'common';

$_arbitrary-large-amount-of-px: 9000px;

/* stylelint-disable value-no-vendor-prefix */
@mixin _clamp-to-max-number-of-lines($number-of-lines) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $number-of-lines;
  overflow: hidden;
  text-overflow: ellipsis;

  p {
    display: inline;
  }
}
/* stylelint-enable value-no-vendor-prefix */

.curation-teasers {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: common.$section-vertical-separation;
  padding-top: common.$section-vertical-separation;
  max-width: common.$home-page-section-max-width;
  background-color: settings.$colour-curation-teasers-background;

  @include breakpoints.not-narrow {
    padding-left: functions.px-to-rem(settings.$default-gutter);
    padding-right: functions.px-to-rem(settings.$default-gutter);
  }

  @media screen and (min-width: common.$home-page-breakpoint) {
    position: relative;

    &::before {
      content: '';
      border-left: $_arbitrary-large-amount-of-px solid settings.$colour-curation-teasers-background;
      position: absolute;
      bottom: 0;
      left: calc(#{$_arbitrary-large-amount-of-px} * -1);
      top: 0;
      right: 0;
      z-index: -1;
    }

    &::after {
      content: '';
      border-left: $_arbitrary-large-amount-of-px solid settings.$colour-curation-teasers-background;
      position: absolute;
      bottom: 0;
      left: 0;
      top: 0;
      right: calc(#{$_arbitrary-large-amount-of-px} * -1);
      z-index: -1;
    }
  }
}

.curation-teasers__title {
  @include layout.page-content-horizontal-margins();
  @include common.section-heading-on-not-narrow();
  margin-bottom: functions.px-to-rem(20px);
}

.curation-teasers__teasers {
  @include list.basics();
  margin-bottom: 0;

  @media screen and (min-width: common.$home-page-breakpoint) {
    display: flex;
    justify-content: center;
  }

  @media screen and (min-width: common.$home-page-breakpoint) {
    display: flex;
    justify-content: space-evenly;
  }
}

.curation-teasers__teasers li {
  margin-bottom: functions.px-to-rem(8px);

  &:last-child {
    margin-bottom: 0;
  }

  @media screen and (min-width: common.$home-page-breakpoint) {
    flex: 1 0;
    margin-bottom: 0;
    margin-right: functions.px-to-rem(24px);
    max-width: functions.px-to-rem(384px);

    &:last-child {
      margin-right: 0;
    }
  }
}

.curation-teaser {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: functions.px-to-rem(16px);

  @media screen and (min-width: common.$home-page-breakpoint) {
    height: 100%;
  }
}

.curation-teaser__quote_wrapper {
  @include curation-statement.quote(
    $quotation-mark-font-size: 48px,
    $open-quotation-left-offset: -24px,
    $open-quotation-top-offset: -16px,
    $close-quotation-right-offset: -24px,
  );
}

.curation-teaser__quote {
  @include _clamp-to-max-number-of-lines(10);

  margin: 0;
  margin-bottom: functions.px-to-rem(24px);
  padding-left: 0;
  border-width: 0;
}

.curation-teaser__strapline {
  font-weight: bold;
}
