@use '../../../sass/settings';
@use '../../../sass/functions';
@use '../../../sass/typography';
@use '../../../sass/breakpoints';
@use '../../../sass/button';
@use '../../../sass/states';
@use 'common';
@use 'hero-search-form';

@mixin _enough-space-for-sciety-triangles() {
  @media screen and (min-width: functions.px-to-em(1700px)) { @content; }
}

@mixin _vertical-spacing-in-hero() {
  margin-bottom: functions.px-to-rem(20px);

  @include breakpoints.not-narrow() {
    margin-bottom: functions.px-to-rem(40px);
  }

}

.home-page-hero-wrapper {
  margin-bottom: common.$section-vertical-separation;
  background-color: settings.$colour-brand;
  display: grid;
  grid-template-columns: 1fr auto 1fr;

  &::before,
  &::after {
    content: '';
    display: block;
    background-color: settings.$colour-brand;

    @include _enough-space-for-sciety-triangles {
      background-repeat: no-repeat;
      background-size: contain;
      opacity: 0.1;
    }
  }

  &::before {
    @include _enough-space-for-sciety-triangles {
      background-image: url('/static/images/home-page/sciety-pattern-left.svg');
      background-position: 0 0;
    }
  }

  &::after {
    @include _enough-space-for-sciety-triangles {
      background-image: url('/static/images/home-page/sciety-pattern-right.svg');
      background-position: 100% 0;
    }
  }

}

.home-page-hero {
  color: settings.$colour-white;
  padding-bottom: functions.px-to-rem(48px);
  padding-right: functions.px-to-rem(settings.$sciety-default-gutter);
  padding-left: functions.px-to-rem(settings.$sciety-default-gutter);
  padding-top: functions.px-to-rem(20px);
  max-width: fit-content;
  justify-self: center;

  @media screen and (min-width: common.$home-page-breakpoint) {
    padding-top: functions.px-to-rem(193px);
    padding-bottom: functions.px-to-rem(235px);
  }
}

.home-page-hero__content_title {
  @include typography.sizing(32px, 38px);
  margin-top: functions.px-to-rem(20px);
  margin-bottom: functions.px-to-rem(8px);
  text-align: center;

  @include breakpoints.not-narrow() {
    @include typography.sizing(54px, 62px);
    margin-bottom: functions.px-to-rem(40px);
    margin-top: 0;
  }
}

.home-page-hero__content_byline {
  @include _vertical-spacing-in-hero();
  @include typography.sizing(20px, 26px);
  text-align: center;

  @include breakpoints.not-narrow() {
    @include typography.sizing(24px, 28px);
    margin-bottom: functions.px-to-rem(76px);
  }
}

.home-page-hero__section {
  @include _vertical-spacing-in-hero();
  display: flex;
  justify-content: center;

  &:last-child {
    margin-bottom: 0;
  }
}
