@use 'functions';
@use 'settings';
@use 'breakpoints';
@use '../../../shared-sass/typography';
@use 'common';

$_value-statements-max-width: functions.px-to-rem(996px);

.home-page-value-statements-wrapper {
  color: settings.$colour-white;
  background-color: settings.$colour-value-statement-background;
  padding-top: common.$section-vertical-separation;
  padding-bottom: common.$section-vertical-separation;
  margin-bottom: common.$section-vertical-separation;
}

.home-page-value-statements {
  padding-left: functions.px-to-rem(settings.$default-gutter);
  padding-right: functions.px-to-rem(settings.$default-gutter);
  margin-left: auto;
  margin-right: auto;
  max-width: $_value-statements-max-width;
}

.home-page-value-statements__title {
  @include common.section-heading-on-not-narrow();
}

.home-page-value-statement {
  margin-bottom: 4rem;

  @include breakpoints.not-narrow() {
    display: flex;
    align-items: center;
  }
}

.home-page-value-statement.home-page-value-statement--reverse-order {
  @include breakpoints.not-narrow() {
    flex-direction: row-reverse;
  }
}

.home-page-value-statement__copy {
  @include breakpoints.not-narrow() {
    width: 50ch;
    margin-right: 4rem;
  } 

  .home-page-value-statement--reverse-order & {
    @include breakpoints.not-narrow() {
      margin-right: 0;
      margin-left: 4rem;
    }
  }
}

.home-page-value-statement__heading {
  @include breakpoints.not-narrow() {
    font-size: functions.px-to-rem(22px);
  }
}

.home-page-value-statement__image {
  width: 100%;
  max-width: 490px;
  height: auto;
  max-height: 365px;
}
