@use 'functions';
@use 'button';

$_pagination-controls-horizontal-spacing: functions.px-to-rem(2px);

.pagination-controls {
  text-align: center;
}

.pagination-controls__next_link {
  margin-bottom: functions.px-to-rem(16px);

  @include button.secondary-link;
}

.pagination-controls__page_count {
  margin-left: $_pagination-controls-horizontal-spacing;
  margin-right: $_pagination-controls-horizontal-spacing;
}
