@use 'button';
@use 'functions';

.home-page-hero__ctas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: functions.px-to-rem(16px);
}

.home-page-hero-explore-evaluated-preprints-link {
  @include button.primary-link();
}

.home-page-hero-browse-evaluating-groups-link {
  @include button.secondary-link();
}
