@use 'button';
@use 'functions';

.home-page-hero__ctas {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: functions.px-to-rem(16px);
}

.home-page-hero-explore-reviewed-preprints-link {
  @include button.primary-link();
}

.home-page-hero-browse-reviewing-groups-link {
  @include button.secondary-link();
}