@use 'sass:math';

@use 'breakpoints';
@use 'button';
@use '../../sass/card';
@use '../../sass/contain-image';
@use 'functions';
@use '../../sass/layout';
@use '../../sass/list';
@use 'typography';


$_common-space-beneath: 0.5rem;

.page-header.page-header--search-results {
  margin-top: 0;
  margin-bottom: 0;
}

.related-groups {
  @include layout.column-two();

  @include breakpoints.two-column-display {
    grid-row: 3;
    padding-left: functions.px-to-rem(40px);
  }
}

.related-groups__list {
  @include list.basics()
}

.related-groups__list_item {
  margin-bottom: functions.px-to-rem(16px);
}

.search-results {
  margin-bottom: functions.px-to-rem(48px);
}

.search-results__header {
  @include typography.details();
  margin-bottom: $_common-space-beneath;
}

.search-results__page_count {
  @include typography.details();
  font-weight: 400;
  margin-bottom: $_common-space-beneath;
}

.search-results__header_details {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.search-results__header_details_item {
  margin-bottom: $_common-space-beneath;

  &:first-child {
    margin-right: 1rem;
  }
}
