@use 'sass:math';

@use '../../sass/baseline';
@use '../../sass/breakpoints';
@use '../../sass/button';
@use '../../sass/card';
@use '../../sass/form';
@use '../../sass/functions';
@use '../../sass/layout';
@use '../../sass/list';
@use '../../sass/settings';
@use '../../sass/typography';

$_search-form-vertical-spacing: baseline.increments(1);
$_search-form-text-height: baseline.increments(6);
$_search-form-text-inline-padding: 12px;
$_inline-margin: settings.$base-font-measure;
$_clear-button-inline-size: 48px;

.page-header.page-header--search-results {
  margin-top: 0;
  margin-bottom: 0;
}

.search-form__form {
  @include form.form();
  margin-bottom: baseline.increments(6);
}

.search-form__section {
  @include form.section();
}

.search-form__positioning_context {
  position: relative;
}

.search-form__text-input-label {
  @include form.label();
}

.search-form__text {
  border: settings.$border-width solid settings.$colour-furniture;
  border-radius: settings.$border-radius;
  height: $_search-form-text-height;
  width: 100%;
  padding-top: baseline.increments(math.div(17, 8));
  padding-bottom: baseline.increments(math.div(17, 8));
  padding-left: functions.px-to-rem($_search-form-text-inline-padding);
  padding-right: functions.px-to-rem($_clear-button-inline-size);
  margin-bottom: $_search-form-vertical-spacing;
  color: settings.$colour-text-primary;
}

.search-form__text::placeholder {
  color: inherit;
  opacity: 0.6;
}

.search-form__label {
  @include typography.body();
  display: inline-block;
  margin-bottom: $_search-form-vertical-spacing;
}

.search-form__clear {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;
  background-color: transparent;
  border-width: 0;
  cursor: pointer;
  width: functions.px-to-rem($_clear-button-inline-size);
  height: $_search-form-text-height;
}

.search-form__clear_icon {
  display: block;
  margin: 0 auto;
}

.search-form__submit {
  @include button.button();
  display: block;
}

.search-results__page_count {
  @include typography.details();
  font-weight: 400;
  padding-top: 1rem;
  margin-bottom: 1rem;
  margin-left: functions.px-to-rem($_inline-margin);

  @include breakpoints.not-narrow() {
    margin-left: 0;
  }

}

.search-results-list {
  @include card.list();
  margin-bottom: 1.5rem;
}

.search-results-list__item {
  @include card.list-item();
}
