@use '../../sass/settings';
@use '../../sass/functions';
@use '../../sass/card';
@use '../../sass/typography';
@use '../../sass/curation-statement';
@use '../../sass/breakpoints';

@use '../../sass/list';

$_optional-controls-icon-size: 24px;
$_footer-icon-separation: 16px;
$_card-padding: 16px;

.article-card {
  $_is-entire-card-linked: true;
  @include card.basics($_is-entire-card-linked);
}

.article-card__link {
  @include card.entire-card-link();
}

.article-card__title {
  @include card.title();
}

.article-card__error_message {
  margin-bottom: functions.px-to-rem(8px);
}

.article-card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: calc(#{functions.px-to-rem($_footer-icon-separation)} + #{$_optional-controls-icon-size});
}

.article-card__meta {
  @include card.meta();
}

.article-card__controls {
  position: absolute;
  bottom: functions.px-to-rem(12px);
  right: functions.px-to-rem($_card-padding);
}

.article-card-annotation {
  padding: functions.px-to-rem($_card-padding);
  margin-left: functions.px-to-rem($_card-padding);
  margin-right: settings.$border-radius;
  background-color: settings.$colour-background-grey;
  border: settings.$border-width solid settings.$colour-furniture;
  border-top: 0;
  border-bottom-left-radius: settings.$border-radius;
  border-bottom-right-radius: settings.$border-radius;

  p:last-child {
    margin-bottom: 0;
  }
}

.article-card-teasers {
  @include list.basics();
  margin-bottom: functions.px-to-rem(16px);
  background-color: settings.$colour-background-grey;
  padding: functions.px-to-rem($_card-padding);
}

.article-card-teasers__teaser {
  margin-bottom: functions.px-to-rem(48px);

  &:last-child {
    margin-bottom: 0;
  }
}

.article-card-teasers__teaser_heading {
  font-weight: normal;
}

.article-card-teasers__teaser_quote {
  @include curation-statement.quote();
  @include typography.curation-statement();
  padding-left: functions.px-to-rem($_card-padding);
  padding-right: functions.px-to-rem($_card-padding);

  &::before,
  &::after {
    font-size: functions.px-to-rem(32px);
    line-height: 0.5;
  }

  &::before {
    left: 0;
    top: 8px;
  }

  &::after {
    right: 0;
    bottom: 0;
  }
}
