@use '../../sass-utilities' as utilities;
@use '../../sass/typography';
@use '../../sass/functions';

.success-banner {
  border: utilities.$border-width-wide solid utilities.$colour-success;
  margin-bottom: functions.px-to-rem(48px);

  p {
    padding: functions.px-to-rem(utilities.$default-form-gutter);
  }
}

.success-banner__heading {
  padding: functions.px-to-rem(utilities.$default-form-gutter);
  background-color: utilities.$colour-success;
  color: utilities.$colour-white;

  h2 {
    @include typography.heading-3();
    margin-bottom: 0;
  }
}