@use '../../sass/settings';
@use '../../sass/typography';
@use '../../sass/functions';

.success-banner {
  border: 5px solid #00703c;
  margin-bottom: functions.px-to-rem(48px);

  p {
    padding: functions.px-to-rem(settings.$default-form-gutter);
  }
}

.success-banner__heading {
  padding: functions.px-to-rem(settings.$default-form-gutter);
  background-color: #00703c;
  color: settings.$colour-white;

  h2 {
    @include typography.heading-3();
    margin-bottom: 0;
  }
}