@use 'settings';
@use '../../sass/typography';
@use '../../sass/functions';

.success-banner {
  border: settings.$border-width-wide solid settings.$colour-success;
  margin-bottom: functions.px-to-rem(48px);

  p {
    padding: functions.px-to-rem(settings.$default-form-gutter);
  }
}

.success-banner__heading {
  padding: functions.px-to-rem(settings.$default-form-gutter);
  background-color: settings.$colour-success;
  color: settings.$colour-white;

  h2 {
    @include typography.heading-3();
    margin-bottom: 0;
  }
}
