@use 'settings';
@use 'functions';
@use 'card';
@use '../../sass/curation-statement';
@use 'breakpoints';
@use '../../sass/list';
@use './card-authors';

$_optional-controls-icon-size: 24px;
$_footer-icon-separation: 16px;
$_card-padding: 16px;

.article-card {
  position: relative;
  background-color: settings.$colour-white;
  padding-top: 2rem;
  padding-bottom: 2.5rem;
  border-bottom: settings.$border-width solid settings.$colour-furniture;
}

.article-card-content {
  grid-column: 1/9;
}

.article-card__title {
  font-family: settings.$font-family;
  font-size: functions.px-to-rem(20px);
  line-height: 1.3;
  font-weight: bold;
  margin-bottom: 1rem;

  @include breakpoints.not-narrow() {
    font-size: functions.px-to-rem(24px);
  }
}

.article-card__error_message {
  margin-bottom: functions.px-to-rem(8px);
}

.article-card__reviewing_groups {
  font-weight: bold;
}

.article-card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: calc(#{functions.px-to-rem($_footer-icon-separation)} + #{$_optional-controls-icon-size});
}

.article-card__meta {
  @include card.meta();
}

.article-card__controls {
  display: flex;
  gap: functions.px-to-rem(settings.$click-target-separation);
  align-items: center;
  margin-top: functions.px-to-rem(16px);
}


.article-card-teasers {
  @include list.basics();
  margin-bottom: functions.px-to-rem(24px);
  background-color: settings.$colour-background-grey;
  padding: functions.px-to-rem($_card-padding);
}

.article-card-teasers__teaser {
  margin-bottom: functions.px-to-rem(48px);

  &:last-child {
    margin-bottom: 0;
  }
}

.article-card-teasers__teaser_heading {
  font-weight: bold;
}

.article-card-teasers__teaser_quote {
  @include curation-statement.quote(
    $quotation-mark-font-size: 32px,
    $close-quotation-bottom-offset: -8px,
  );
  padding-left: functions.px-to-rem($_card-padding);
  padding-right: functions.px-to-rem($_card-padding);
}
