@import url('https://fonts.googleapis.com/css?family=Lato:ital,wght@0,400;0,700;1,400&subset=latin,latin-ext&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400&display=swap');

:root {
  --BASE-FONT-MEASURE: 16;
  --BASE-FONT-PX: calc(var(--BASE-FONT-MEASURE) * 1px);
  --BASE-FONT-REM: 1rem;
  --VERTICAL-INCREMENT: calc(var(--BASE-FONT-REM) / 2);
  --TWO-INCREMENTS: calc(var(--VERTICAL-INCREMENT) * 2);
  --THREE-INCREMENTS: calc(var(--VERTICAL-INCREMENT) * 3);
  --GRID-COLUMN-COUNT: 12;
}

html {
  font-size: var(--BASE-FONT-PX);
}
body,
p
{
  font-family: "Noto Serif", serif;
  font-size: var(--BASE-FONT-REM);
}

p {
  margin-top: 0;
  margin-bottom: var(--THREE-INCREMENTS);
  line-height: 1.5;
  font-weight: 400;
  color: #333;
}

h1 {
  font-family: Lato, sans-serif;
  font-size: calc((38 / 16) * 1rem);
  margin-top: 0;
  margin-bottom: var(--TWO-INCREMENTS);
  line-height: 1.2;
  font-weight: 400;
}

h2 {
  font-family: Lato, sans-serif;
  font-size: calc((30 / 16) * 1rem);
  margin-top: 0;
  margin-bottom: var(--TWO-INCREMENTS);
  line-height: 1.2;
  font-weight: 400;
}

h3 {
  font-family: Lato, sans-serif;
  font-size: calc((26 / 16) * 1rem);
  margin-top: 0;
  margin-bottom: var(--TWO-INCREMENTS);
  line-height: 1.2;
  font-weight: 400;
}

h4 {
  font-family: Lato, sans-serif;
  font-size: calc((22 / 16) * 1rem);
  margin-top: 0;
  margin-bottom: var(--TWO-INCREMENTS);
  line-height: 1.2;
  font-weight: 400;
}

h5 {
  font-family: Lato, sans-serif;
  font-size: calc((18 / 16) * 1rem);
  margin-top: 0;
  margin-bottom: var(--TWO-INCREMENTS);
  line-height: 1.2;
  font-weight: 400;
}

h6 {
  font-family: Lato, sans-serif;
  font-size: var(--BASE-FONT-REM);
  margin-top: 0;
  margin-bottom: var(--TWO-INCREMENTS);
  line-height: 1.2;
  font-weight: 400;
}

.site-nav-list {
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: space-between;

}

.site-nav-list > li {
  font-family: Lato, sans-serif;
  color: #333;
  flex: 0 0 auto;
  font-size: calc((14 / var(--BASE-FONT-PX)) * 1rem);
  padding-right: 2rem;
}

.site-nav-list > li:last-child {
  margin-left: auto;
  padding-right: 0;
}

.site-nav-list a {
  color: inherit;
  text-decoration: none;
}
@supports (display: grid) {
  .grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
  }
}

.grid {
  max-width: calc((1200 / var(--BASE-FONT-MEASURE)) * 1rem);
  margin: 0 auto;
}

.site-header {
  max-width: calc((1200 / var(--BASE-FONT-MEASURE)) * 1rem);
  margin: 0 auto;
}

.grid--article > .main-content {
  grid-column: 3 / 11;
}

