@use 'sass:math';

@use '../sass/baseline';
@use '../sass/breakpoints';
@use '../sass/card';
@use '../sass/functions';
@use '../sass/layout';
@use '../sass/list';
@use '../sass/settings';
@use '../sass/typography';

$_search-form-text-inline-padding: 12px;
$_inline-margin: settings.$base-font-measure;
$_clear-button-inline-size: 48px;

.sciety-grid--search-results > .page-header--search-results {
  @include layout.page-header-top-space();
  color: settings.$colour-text-primary;
  margin: 0 1rem;

  @include breakpoints.not-narrow {
    margin: 0;
  }
}

.page-heading--search {
  @include typography.page-label();
  margin-bottom: baseline.increments(1.5);

  @include breakpoints.not-narrow {
    margin-left: functions.px-to-rem($_search-form-text-inline-padding + settings.$border-width);
    @supports(display: grid) {
      margin-left: unset;
    }
  }
}

.search-form {
  margin-left: functions.px-to-rem($_inline-margin);
  margin-right: functions.px-to-rem($_inline-margin);
  margin-bottom: baseline.increments(3);

  @include breakpoints.not-narrow {
    margin-left: 0;
    margin-right: 0;
  }
}

.search-form__form {
  margin-bottom: baseline.increments(1);
  position: relative;
}

.search-form__text {
  border: settings.$border-width solid settings.$colour-furniture;
  border-radius: settings.$border-radius;
  height: baseline.increments(6);
  width: 100%;
  padding-top: baseline.increments(math.div(17, 8));
  padding-bottom: baseline.increments(math.div(17, 8));
  padding-left: functions.px-to-rem($_search-form-text-inline-padding);
  padding-right: functions.px-to-rem($_clear-button-inline-size);
  color: settings.$colour-text-primary;
}

.search-form__text::placeholder {
  color: inherit;
  opacity: 0.6;
}

.search-form__clear {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 0;
  background-color: transparent;
  border-width: 0;
  cursor: pointer;
  width: functions.px-to-rem($_clear-button-inline-size);
}

.search-form__clear_icon {
  display: block;
  margin: 0 auto;
}

.search-results__page_count {
  @include typography.details();
  color: settings.$colour-text-primary;
  padding-top: 1rem;
  margin-bottom: 1rem;
  margin-left: functions.px-to-rem($_inline-margin);

  @include breakpoints.not-narrow() {
    margin-left: 0;
  }

}

.search-results-list {
  @include card.list();
  margin-bottom: 1.5rem;
}

.search-results-list__item {
  @include card.list-item();
}
