@use '../../sass/settings';
@use '../../sass/functions';
@use '../../sass/button';

.annotation-form-article-title {
  font-weight: bold;
}

.annotation-form-list-name {
  font-weight: bold;
}

.annotation-form-content {
  width: 100%;
  margin-bottom: functions.px-to-rem(8px);
}

.annotation-form-controls {
  display: flex;
}

.annotation-form-submit {
  @include button.primary();
}

.annotation-form-reset {
  @include button.secondary();
  margin-left: auto;
}
