@use '../../sass/settings';
@use '../../sass/functions';
@use '../../sass/button';

.annotation-form-article-title {
  font-weight: normal;
}

.annotation-form-list-name {
  font-weight: normal;
}

.annotation-form-controls {
  display: flex;
}

.annotation-form-submit {
  @include button.primary();
}
