@use 'sass:math';

@use 'button';
@use '../../sass/form';
@use 'functions';
@use 'settings';
@use 'typography';
@use '../../sass/layout';

$_text-input-height: 3rem;
$_clear-button-inline-size: 48px;

.search-form {
  @include layout.allow-edge-to-edge-content-when-narrow();

  margin-bottom: functions.px-to-rem(48px);
}

.search-form__positioning_context {
  position: relative;
}

.search-form__text {
  border: settings.$border-width solid settings.$colour-furniture;
  border-radius: settings.$border-radius;
  height: $_text-input-height;
  width: 100%;
  padding-top: functions.px-to-rem(17px);
  padding-bottom: functions.px-to-rem(17px);
  padding-left: functions.px-to-rem(12px);
  padding-right: functions.px-to-rem($_clear-button-inline-size);
  margin-bottom: functions.px-to-rem(8px);
  color: settings.$colour-text-primary;
}

.search-form__checkbox_label {
  @include typography.body();
  display: inline-block;
  margin-bottom: functions.px-to-rem(8px);
}

.search-form__clear {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;
  background-color: transparent;
  border-width: 0;
  cursor: pointer;
  width: functions.px-to-rem($_clear-button-inline-size);
  height: $_text-input-height;
}

.search-form__clear_icon {
  display: block;
  margin: 0 auto;
}

.search-form__submit {
  @include button.primary();
  display: block;
}
