@use 'settings';
@use 'functions';
@use 'breakpoints';

.sciety-grid-two-columns {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-column-gap: functions.px-to-rem(settings.$default-gutter);
  grid-auto-rows: min-content;
  grid-auto-flow: column;

  width: 100%;
  max-width: functions.px-to-rem(settings.$max-site-width);

  flex-grow: 1;

  @include breakpoints.not-narrow {
    margin: 0 auto;
    padding: 0 functions.px-to-rem(settings.$default-gutter);
  }

  > * {
    grid-column: 1 / -1;

    @include breakpoints.two-column-display {
      grid-column: 1 / 9;
    }
  }
}
