@use '../sass/settings';

.error-page {
  background-color: settings.$colour-page-background;
  color: settings.$colour-text-primary;
  padding-top: 2.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
