@use 'sass-utilities' as utilities;
@use '../../../sass/functions';
@use '../../../sass/breakpoints';
@use '../../../sass/layout';
@use '../tab-panel-content';

.group-page-about {
  @include tab-panel-content.top-vertical-spacing();
  margin-bottom: 1.5rem;
  padding-bottom: 1rem;
  background-color: utilities.$colour-white;

  @include breakpoints.not-narrow {
    border-radius: utilities.$border-radius;
  }
}

.group-page-pref {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: functions.px-to-rem(6px);
  font-size: functions.px-to-rem(14px);
  border-top: 1px solid utilities.$colour-furniture;
  border-bottom: 1px solid utilities.$colour-furniture;
  padding: functions.px-to-rem(12px) 0;
  margin-bottom: 1.5rem;

  dt {
    font-weight: bold;
  }

  dd {
    margin-left: 0;
  }
}

.our-lists__article_count {
  padding-left: 1rem;
  padding-right: 1rem;
}

.our-lists__updated_label {
  display: block;

  @include breakpoints.not-narrow {
    display: inline;
  }
}
