@use '../sass/baseline';
@use '../sass/breakpoints';
@use '../sass/button';
@use '../sass/card';
@use '../sass/functions';
@use '../sass/list';
@use '../sass/settings';
@use '../sass/typography';

.article-authors-and-abstract-and-link {
  @include card.basics();

  margin-bottom: baseline.increments(6);
}

.article-author-list {
  @include list.basics();

  + * {
    clear: left;
  }

  @supports (display: flow-root) {
    display: flow-root;

    + * {
      clear: unset;
    }
  }
}

.article-author-list > li {
  @include list.author-separator-terminator();
  float: left;
  font-weight: bold;
}

.full-article-button {
  @include button.button-link();
  display: inline-block;
  margin-bottom: baseline.increments(2);
}
