@use '../sass/baseline';
@use '../sass/breakpoints';
@use '../sass/card';
@use '../sass/functions';
@use '../sass/list';
@use '../sass/settings';
@use '../sass/typography';

.article-authors-and-abstract-and-link {
  @include card.basics();

  margin-bottom: baseline.increments(6);
}

.article-author-list {
  @include list.basics();

  + * {
    clear: left;
  }

  @supports (display: flow-root) {
    display: flow-root;

    + * {
      clear: unset;
    }
  }
}

.article-author-list > li {
  @include list.author-separator-terminator();
  float: left;
  font-weight: bold;
}

.full-article-button,
.full-article-button:link,
.full-article-button:visited {
  @include typography.button();
  border-radius: settings.$border-radius;
  cursor: pointer;
  padding: functions.px-to-rem(8px);
  display: block;
  text-align: center;
  color: settings.$colour-text-primary;
  border: settings.$border-width solid currentColor;
  margin-bottom: baseline.increments(2);

  &:hover,
  &:active {
    background-color: settings.$colour-primary;
    color: settings.$colour-white;
    border-color: settings.$colour-primary;
  }
}
