@use '../sass/baseline';
@use '../sass/breakpoints';
@use '../sass/list';

.page-header.page-header--article {
  margin-top: 0;
  margin-bottom: baseline.increments(3);
}

.article-author-list {
  @include list.basics();
  margin-top: 0;
  margin-bottom: 0;
  
  + * {
    clear: left;
  }

  @supports (display: flow-root) {
    display: flow-root;

    + * {
      clear: unset;
    }
  }
}

.article-author-list > li {
  @include list.author-separator-terminator();
  float: left;
  font-weight: bold;
}
