@use '../sass/baseline';
@use '../sass/breakpoints';
@use '../sass/button';
@use '../sass/functions';
@use '../sass/layout';
@use '../sass/card';
@use '../sass/list';
@use '../sass/settings';
@use '../sass/typography';

@use 'activity-feed';
@use 'authors-and-abstract';

.page-header.page-header--article {
  margin-top: 0;
  margin-bottom: baseline.increments(3);
  grid-column: 1 / -1;

  @include breakpoints.two-column-display {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 20px;
  }
}

.page-header__title {
  @include breakpoints.two-column-display() {
    grid-column: 1 / 9;
  }
}

.full-article-button {
  @include button.button-link();
  display: inline-block;
  margin-bottom: baseline.increments(2);
}

.article-actions {
  max-width: max-content;
  grid-column: 9 / 13;
}

.tweet-button {
  @include button.basics();
  @include typography.button();
  display: inline-flex;
  align-items: center;
  padding-right: functions.px-to-rem(5px);
  margin-right: 2em;

  &:link,
  &:visited {
    background-color: settings.$colour-teal;
    color: settings.$colour-white;

    &:hover,
    &:active {
      background-color: settings.$colour-ui-default;
      color: settings.$colour-white;
    }
  }

}

.tweet-button__icon {
  width: functions.px-to-rem(24px);
  height: functions.px-to-rem(24px);
  border-radius: 5px;
}

.save-article-form {
  display: inline-flex;
}

.save-article-button {
  @include button.basics();
  display: inline-flex;
  align-items: center;
  margin-right: 2em;
  background-color: settings.$colour-teal;
  color: settings.$colour-white;
  padding-right: functions.px-to-rem(5px);
  padding-top: 0;
  padding-bottom: 0;

  &:hover,
  &:active {
    background-color: settings.$colour-ui-default;
    color: settings.$colour-white;
  }
}

.save-article-button__icon {
  width: functions.px-to-rem(24px);
  height: functions.px-to-rem(24px);
  border-radius: 5px;
}

.saved-to-list {
  @include typography.button();
  display: flex;
  align-items: center;
}

.saved-to-list:link,
.saved-to-list:visited {
  @include typography.subtle-link();
}

.saved-to-list__icon {
  margin-right: functions.px-to-rem(3px);
}
