@use '../sass/settings';
@use '../sass/functions';
@use '../sass/baseline';
@use '../sass/typography';
@use 'common';

.home-page-calls-to-action {
  @include common.container-horizontal-spacing();
  padding-top: common.$section-top-padding;
  padding-bottom: baseline.increments(3);
  background-color: settings.$colour-component-background;

  @supports (display: flex) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media screen and (min-width: 30.25em) {
    padding-bottom: baseline.increments(6);
  }
}

.home-page-calls-to-action__title {
  @include typography.section();
}

.home-page-call-to-action__text {
  @include typography.body-1();
  margin-bottom: baseline.increments(5);
}

.home-page-calls-to-action__buttons {
  text-align: center;
  margin-bottom: baseline.increments(5);
}

.home-page-calls-to-action__login_button {
  @include common.primary-button();
}

.home-page-calls-to-action__subscribe_button {
  @include common.secondary-button();
}

.home-page-calls-to-action__byline {
  @include typography.body-1();
  margin-bottom: 0;
}
