@use 'sass:math';

@use '../sass/functions';
@use '../sass/settings';

@use '../sass/baseline';
@use '../sass/button';

$home-page-breakpoint: 60.25em + (math.div(settings.$drawer-width, settings.$base-font-measure) * 1em);

$section-top-padding: baseline.increments(5);

$_page-gutter--small: 1rem;
$_page-gutter--large: 3rem;

@mixin container-horizontal-spacing() {
  padding-left: $_page-gutter--small;
  padding-right: $_page-gutter--small;

  @media screen and (min-width: $home-page-breakpoint) {
    padding-left: $_page-gutter--large;
    padding-right: $_page-gutter--large;
  }
}

@mixin primary-button() {
  @include button.button-link();
  display: inline-block;
  width: functions.px-to-rem(192px);
  text-align: center;
  padding-top: baseline.increments(1.625);
  padding-bottom: baseline.increments(1.625);
  margin: 0 0.75rem baseline.increments(3);

  @media screen and (min-width: 30.25em) {
    margin-bottom: 0;
  }
}

@mixin secondary-button() {
  @include primary-button();

  &:link,
  &:visited {
    background-color: settings.$colour-white;
    color: settings.$colour-accent;

    &:active {
      background-color: settings.$colour-white;
      color: settings.$colour-accent;
    }
  }
}
