@use 'sass:math';

@use '../sass/settings';
@use '../sass/functions';

@use '../sass/baseline';
@use '../sass/typography';
@use '../sass/breakpoints';

@use '../sass/button';
@use '../sass/list';
@use 'common';


$_search-form-gutter: 4px;
$_search-button-width: functions.px-to-rem(70px);

.home-page-hero {
  @include common.container-horizontal-spacing();
  display: flex;
  justify-content: space-around;
}

.home-page-hero__search_form {
  width: 100%;
  max-width: functions.px-to-rem(400px); // limit form width to match width of preceding copy
  position: relative;
  margin-bottom: baseline.increments(1);
}

.home-page-hero__search_text {
  width: 100%;
  height: baseline.increments(6);
  border: settings.$border-width solid settings.$colour-furniture;
  border-radius: settings.$border-radius;
  padding-top: baseline.increments(math.div(17, 8));
  padding-bottom: baseline.increments(math.div(17, 8));
  padding-left: functions.px-to-rem($_search-form-gutter);
  padding-right: $_search-button-width + 2 * functions.px-to-rem($_search-form-gutter);
  color: settings.$colour-text-primary;
  background-color: settings.$colour-home-page-search;
}

.home-page-hero__search_button {
  @include button.button();
  position: absolute;
  top: $_search-form-gutter;
  bottom: $_search-form-gutter;
  right: $_search-form-gutter;
  width: $_search-button-width;
}

.home-page-hero__content {
  margin-bottom: baseline.increments(4);

  @media screen and (min-width: common.$home-page-breakpoint) {
    margin-top: baseline.increments(7.5); // Offset content from top of image
    padding-right: 2rem;
  }
}

.home-page-hero__content_title {
  @include typography.headline();
}

.home-page-hero__content_byline {
  @include typography.body-1();
}

.home-page-hero__picture {
  max-width: functions.px-to-rem(512px);
  display: flex;
  align-items: flex-end;
}

.home-page-hero__image {
  display: none;

  @media screen and (min-width: common.$home-page-breakpoint) {
    @supports(display: flex) {
      display: block;
    }
    width: 100%;
  }
}

.home-page-hero__statistics {
  @include list.basics();
  margin-bottom: 1.5rem;
  display: flex;
  flex-wrap: wrap;
}

.home-page-hero__statistic {
  @include typography.body-1();
}

.home-page-hero__statistic_link {
  display: flex;
  align-items: baseline;
}

.home-page-hero__statistic_number {
  @include typography.section();
  color: settings.$colour-text-primary;
  margin-right: 4px;
}

.home-page-hero__statistic_title {
  color: settings.$colour-text-primary;
  margin-right: 1rem;
}

.home-page-hero__sciety_feed_link {
  @include common.primary-button();
  width: unset;
  margin-left: 0;
  margin-bottom: 1.5rem;

  @media screen and (min-width: common.$button-stacking-breakpoint) {
    margin-bottom: 1.5rem;
  }
}
