@use 'sass:math';
@use '../sass/settings';
@use '../sass/functions';
@use '../sass/baseline';
@use '../sass/typography';
@use '../sass/breakpoints';
@use '../sass/button';
@use '../sass/list';
@use '../sass/layout';
@use 'common';

$_header-height-in-px: 60px;

@mixin landing-page-media-query() {
  @media only screen and (min-width: #{math.div(430px, settings.$base-font-measure)}em) {
    @content;
  }
}

.landing-page-header {
  @include common.container-horizontal-spacing();
  padding-top: functions.px-to-rem(12px);
  padding-bottom: functions.px-to-rem(12px);
  display: flex;
  height: functions.px-to-rem($_header-height-in-px);
}

.landing-page-header__menu_link {
  display: inline-block;
  float: left;

  @supports (display: flex) {
    display: flex;
    float: none;
  }

  @include breakpoints.not-narrow() {
    display: none;
  }

  &::before {
    @include layout.visually-hidden();
    content: 'Open the menu';
  }

}


.landing-page-header__link_container {
  margin-left: auto;
  display: flex;
}

.landing-page-header__follow_link {
  @include typography.button();

  display: none;

  margin-right: functions.px-to-rem(20px);
  align-items: center;

  &:link,
  &:visited {
    color: settings.$colour-text-primary;

    &:hover,
    &:active {
      color: settings.$colour-text-primary;
    }
  }


  @include landing-page-media-query() {
    display: inline-flex;
  }
}

.landing-page-header__follow_link_text {
  display: none;

  @include breakpoints.not-narrow() {
    display: unset;
  }
}

.landing-page-header__login_button {
  @include button.button-link();
  padding-top: 0.6rem;
}

.landing-page-header__signup_button {
  @include common.secondary-button();
  width: 6rem;
  padding-top: 0.6rem;
  margin-bottom: 0;
  margin-right: 0;
}

.landing-page-footer {
  grid-column: 2 / -1;
  justify-self: center;
  margin-bottom: baseline.increments(2);
}

.landing-page-footer__links {
  @include list.basics();
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}

.landing-page-footer__link {
  margin-right: 1rem;

  &:last-child {
    margin-right: 0;
  }
}
