@use '../sass/settings';
@use '../sass/baseline';
@use '../sass/typography';
@use 'common';

.home-page-personas {
  @include common.container-horizontal-spacing();
  margin-bottom: baseline.increments(6);
  text-align: center;
  padding-top: common.$section-top-padding;
}

.home-page-personas__title {
  @include typography.section();
  margin-bottom: baseline.increments(2.5);
}

.home-page-personas__content {
  @media screen and (min-width: common.$home-page-breakpoint) {
    @supports (display: flex) {
      display: flex;
      justify-content: center;
      align-items: flex-end;
    }
  }
}

.home-page-persona {
  margin-bottom: baseline.increments(6);

  @media screen and (min-width: common.$home-page-breakpoint) {
    margin-bottom: 0;

    &:first-child {
      margin-right: 4rem;
    }
  }
}

.home-page-persona__image {
  width: 100%;
  max-width: 468px;
  margin-bottom: baseline.increments(1);
}

.home-page-persona__text {
  @include typography.body-1();
}
