@use 'sass:math';

@use '../sass/baseline';
@use '../sass/breakpoints';
@use '../sass/functions';
@use '../sass/settings';

.drawer {
  max-width: settings.$drawer-width;
  float: left;
  z-index: 2;
  @supports (display: grid) {
    max-width: none;
    float: none;
  }
  display: none;
  position: sticky;
  top: 0;
  background-color: settings.$colour-navigation-menu-background;
  color: settings.$colour-white;
  width: 100%;
  height: 100vh;
  padding-top: baseline.increments(math.div(19, 8));

  @include breakpoints.not-narrow() {
    display: flex;
    flex-direction: column;
    grid-column: 1 / 1;
    grid-row: 1 / -1;
  }
}
