@use '../sass/button';

.pagination-controls {
  text-align: center;
}

.pagination-controls__next_link {
  @include button.button-link-secondary();
  display: inline-block;
  margin-bottom: 1.5rem;
}
