@use '../sass/baseline';
@use '../sass/breakpoints';
@use '../sass/functions';
@use '../sass/settings';

.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  main {
    flex-grow: 1;
  }
}

.page-content {
  background-color: settings.$colour-page-background;
  padding-bottom: baseline.increments(6);
  display: block;

  @supports (display: flex) {
    display: flex;
  }

  @include breakpoints.not-narrow() {
    grid-column: 2;

    margin-left: settings.$drawer-width;
    @supports (display: flex) {
      margin-left: unset;
    }
  }
}
