@use 'sass:math';

@use '../sass/baseline';
@use '../sass/breakpoints';
@use '../sass/functions';
@use '../sass/settings';

.page-container {
  min-height: 100vh;
  @supports (display: grid) {
    display: grid;
  }
  grid-template-rows: auto 1fr;

  @include breakpoints.not-narrow() {
    grid-template-columns: functions.px-to-rem(settings.$drawer-width) 1fr;
  }
}

.page-content {
  background-color: settings.$colour-page-background;
  padding-bottom: baseline.increments(6);
  display: block;

  @supports (display: flex) {
    display: flex;
  }

  @include breakpoints.not-narrow() {
    grid-column: 2;

    margin-left: settings.$drawer-width;
    @supports (display: flex) {
      margin-left: unset;
    }
  }
}
