@use '../sass/baseline';
@use '../sass/breakpoints';
@use '../sass/functions';
@use '../sass/settings';

.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page-content {
  background-color: settings.$colour-page-background;
  padding-bottom: baseline.increments(6);
  display: block;
  flex-grow: 1;

  @supports (display: flex) {
    display: flex;
  }

  @include breakpoints.not-narrow() {
    grid-column: 2;
  }
}
