@use 'sass:math';
@use '../sass/settings';
@use '../sass/functions';

@use '../sass/baseline';
@use '../sass/breakpoints';
@use '../sass/typography';
@use '../sass/list';
@use '../sass/card';

@mixin container() {
  border-bottom: 2px solid transparent;
}

@mixin tab() {
  @include typography.button();
  line-height: math.div(20px, 14px);
  min-width: functions.px-to-rem(111px); // to prevent three tabs wrapping at lowest resolution (360px)
  display: inline-block;
  margin-bottom: -2px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: #37474f;
  padding: functions.px-to-rem(13px) 1rem functions.px-to-rem(15px);
}

@mixin tab-link() {
  &:link,
  &:visited {
    color: settings.$colour-text-primary;

    &:hover,
    &:active {
      color: settings.$colour-accent;
    }
  }
}

@mixin tab-heading {
  border-bottom: 2px solid settings.$colour-accent;
}

.tab-list {
  @include container();
  @include list.basics();
  margin-bottom: 0;
}

.tab {
  @include tab();

  > a {
    @include tab-link();
  }
}

.tab--active {
  @include tab-heading();
}

.main-content--meta .tab-panel {
  @include card.basics();

  margin-bottom: baseline.increments(6);
}
