@use 'sass:math';
@use '../sass/settings';
@use '../sass/functions';

@use '../sass/breakpoints';
@use '../sass/typography';
@use '../sass/list';
@use '../sass/card';

$_breakpoint-not-narrow: 740px;

.tab-list {
  @include list.basics();
  border-bottom: 2px solid transparent;
  margin-bottom: 0;
  padding-left: 1.25rem;

  @include breakpoints.not-narrow() {
    padding-left: 0;
  }
}

.tab {
  @include typography.button();

  padding: 0;
  margin-bottom: functions.px-to-rem(14px);
  line-height: math.div(20px, 14px);
  text-transform: uppercase;
  font-weight: bold;

  @include breakpoints.not-narrow() {
    display: inline-block;
    margin-bottom: -2px;
    text-align: center;
    padding: functions.px-to-rem(13px) 0.8rem functions.px-to-rem(15px);
  }

  > a {
    &:link,
    &:visited {
      color: settings.$colour-text-primary;

      &:hover,
      &:active {
        color: settings.$colour-accent;
      }
    }

    @media screen and (max-width: functions.px-to-em($_breakpoint-not-narrow)) {
      &:link,
      &:visited {
        color: settings.$colour-accent;

        /* stylelint-disable max-nesting-depth */
        &:hover,
        &:active {
          color: settings.$colour-accent-hover;
        }
        /* stylelint-enable max-nesting-depth */

      }
    }
  }
}

.tab--active {
  @include breakpoints.not-narrow() {
    border-bottom: 2px solid settings.$colour-accent;
  }
}
