@use 'sass:math';
@use '../sass/settings';
@use '../sass/functions';

@use '../sass/breakpoints';
@use '../sass/typography';
@use '../sass/list';
@use '../sass/card';

@mixin container() {
  border-bottom: 2px solid transparent;
}

$_breakpoint-not-narrow: 740px;

@mixin tab() {
  @include typography.button();
  line-height: math.div(20px, 14px);
  display: inline-block;
  margin-bottom: -2px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  padding: functions.px-to-rem(13px) 0.8rem functions.px-to-rem(15px);

  @media screen and (max-width: functions.px-to-em($_breakpoint-not-narrow)) {
    display: block;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: functions.px-to-rem(14px);
    text-align: unset;
  }
}

@mixin tab-link() {
  &:link,
  &:visited {
    color: settings.$colour-text-primary;

    &:hover,
    &:active {
      color: settings.$colour-accent;
    }
  }

  @media screen and (max-width: functions.px-to-em($_breakpoint-not-narrow)) {
    &:link,
    &:visited {
      color: settings.$colour-accent;

      &:hover,
      &:active {
        color: settings.$colour-accent-hover;
      }
    }
  }
}

@mixin tab-heading {
  border-bottom: 2px solid settings.$colour-accent;

  @media screen and (max-width: functions.px-to-em($_breakpoint-not-narrow)) {
    border-width: 0;
  }
}

.tab-list {
  @include container();
  @include list.basics();
  margin-bottom: 0;
}

.tab {
  @include tab();

  > a {
    @include tab-link();
  }
}

.tab--active {
  @include tab-heading();
}
