@use "button";
@use "list";
@use "functions";
@use "settings";

.about-page-figure {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: functions.px-to-rem(32px);

  img {
    width: 100%;
    margin-bottom: functions.px-to-rem(8px);
  }

  figcaption {
    text-align: center;
    font-style: italic;
  }
}

.about-page-call-to-action {
  display: flex;
  justify-content: center;

	a {
	  @include button.primary-link();
	  margin-bottom: functions.px-to-rem(24px);
	}
}

.about-page-blog-links {
  @include list.basics();

  li {
    padding-top: functions.px-to-rem(32px);
    padding-bottom: functions.px-to-rem(32px);
    border-bottom: settings.$colour-furniture solid 1px;

    a {
      display: flex;
      justify-content: space-between;
      align-items: center;

      font-weight: bold;
      color: settings.$colour-text-primary;
    }

    a::after {
      content: "❯";
    }
  }
}
