@use 'sass:color';
@use 'button';
@use 'functions';
@use 'layout';
@use 'list';
@use 'settings';

.explore-page-search-form {
  margin-bottom: layout.$vertical-spacing-coupled-to-page-header;
}

.browse-by-category {
  grid-column: 1/-1;
}

.browse-by-category-list {
  @include list.basics();
  display: flex;
  flex-flow: row wrap;
  gap: functions.px-to-rem(16px);
}

.browse-by-category-list__link {
  @include button.experimental-category-link();
}
