@use 'sass:math';

@use '../sass/settings';
@use '../sass/functions';

@use '../sass/baseline';
@use '../sass/typography';

@use '../sass/button';
@use 'common';


$_search-form-gutter: 4px;
$_search-button-width: functions.px-to-rem(70px);

.landing-page-hero {
  @include common.container-horizontal-spacing();
  display: flex;
  justify-content: space-around;
}

.landing-page-hero__search_form {
  width: 100%;
  max-width: functions.px-to-rem(400px); // limit form width to match width of preceding copy
  position: relative;
  margin-bottom: baseline.increments(1);
}

.landing-page-hero__search_text {
  width: 100%;
  height: baseline.increments(6);
  border: settings.$border-width solid settings.$colour-furniture;
  border-radius: settings.$border-radius;
  padding-top: baseline.increments(math.div(17, 8));
  padding-bottom: baseline.increments(math.div(17, 8));
  padding-left: functions.px-to-rem($_search-form-gutter);
  padding-right: $_search-button-width + 2 * functions.px-to-rem($_search-form-gutter);
  color: settings.$colour-text-primary;
  background-color: settings.$colour-landing-page-search;
}

.landing-page-hero__search_button {
  @include button.button();
  position: absolute;
  top: $_search-form-gutter;
  bottom: $_search-form-gutter;
  right: $_search-form-gutter;
  width: $_search-button-width;
}

.landing-page-hero__content {
  margin-bottom: baseline.increments(4);

  @media screen and (min-width: common.$landing-page-breakpoint) {
    margin-top: baseline.increments(7.5); // Offset content from top of image
    padding-right: 2rem;
  }
}

.landing-page-hero__content_title,
.landing-page-hero__content_byline {
  color: settings.$colour-text-primary;
}

.landing-page-hero__content_title {
  @include typography.headline();
}

.landing-page-hero__content_byline {
  @include typography.body-1();
}

.landing-page-hero__picture {
  max-width: functions.px-to-rem(512px);
}

.landing-page-hero__image {
  display: none;

  @media screen and (min-width: common.$landing-page-breakpoint) {
    @supports(display: flex) {
      display: block;
    }
    width: 100%;
  }
}

.landing-page-hero__statistics {
  margin-bottom: 1.5rem;
}

.landing-page-hero__statistic_number {
  @include typography.section();
  color: settings.$colour-text-primary;
}

.landing-page-hero__statistic_title {
  color: settings.$colour-text-primary;
  margin-right: 1rem;
}
