@use '../sass/settings';
@use '../sass/functions';
@use '../sass/baseline';
@use '../sass/typography';
@use '../sass/breakpoints';
@use '../sass/button';
@use '../sass/list';
@use 'common';

$_header-height-in-px: 60px;

.landing-page-header {
  @include common.container-horizontal-spacing();
  padding-top: functions.px-to-rem(12px);
  padding-bottom: functions.px-to-rem(12px);
  display: flex;
  height: functions.px-to-rem($_header-height-in-px);
}

.landing-page-header__link_container {
  margin-left: auto;
  display: flex;
}

.landing-page-header__follow_link {
  display: none;
  @media screen and (min-width: common.$landing-page-breakpoint) {
    @include typography.button();
    margin-right: 1.5rem;
    display: inline-flex;
    align-items: center;

    &:link,
    &:visited {
      color: settings.$colour-text-primary;

      &:hover,
      &:active {
        color: settings.$colour-text-primary;
      }
    }
  }
}

.landing-page-header__follow_link_text {
  display: none;

  @include breakpoints.not-narrow() {
    display: unset;
  }
}

.landing-page-header__follow_icon {
  margin-left: 0.5rem;
}

.landing-page-header__login_button {
  @include button.button-link();
  padding-top: 0.6rem;
}

.landing-page-header__signup_button {
  @include common.secondary-button();
  width: 6rem;
  padding-top: 0.6rem;
  margin-bottom: 0;
}

.landing-page-footer {
  grid-column: 2 / -1;
  justify-self: center;
  margin-bottom: baseline.increments(1.5);
}

.landing-page-footer__links {
  @include list.basics();
  display: flex;
  justify-content: center;
}

.landing-page-footer__link {
  margin-right: 1rem;

  &:last-child {
    margin-right: 0;
  }
}

.landing-page-footer__small_print {
  display: block;
  text-align: center;
  padding-left: functions.px-to-rem(12px);
  padding-right: functions.px-to-rem(12px);
}
