@use '../sass/breakpoints';
@use '../sass/button';
@use '../sass/layout';
@use '../sass/functions';
@use '../sass/settings';
@use '../sass/typography';
@use '../sass/baseline';
@use '../sass/list';
@use '../sass/card';

$_landing-page-breakpoint: 60.25em;

$_section-top-padding: baseline.increments(5);

$_page-gutter--small: 1rem;
$_page-gutter--large: 3rem;

@mixin container-horizontal-spacing() {
  padding-left: $_page-gutter--small;
  padding-right: $_page-gutter--small;

  @media screen and (min-width: $_landing-page-breakpoint) {
    padding-left: $_page-gutter--large;
    padding-right: $_page-gutter--large;
  }
}

.landing-page {
  margin-top: baseline.increments(2);
  flex-grow: 1;
}

$_header-height-in-px: 60px;

.landing-page-header {
  @include container-horizontal-spacing();
  padding-top: functions.px-to-rem(12px);
  padding-bottom: functions.px-to-rem(12px);
  display: flex;
  justify-content: space-between;
  align-content: center;
  height: functions.px-to-rem($_header-height-in-px);
}

.landing-page-header__follow_link {
  @include typography.sizing(14px, 1.75);
  font-family: settings.$font-family;
  font-weight: bold;
  margin-right: 1.5rem;
  display: inline-flex;
  align-items: center;
  margin-left: auto;

  &:link,
  &:visited {
    color: settings.$colour-text-primary;

    &:hover,
    &:active {
      color: settings.$colour-text-primary;
    }
  }
}

.landing-page-header__follow_link_text {
  display: none;

  @include breakpoints.not-narrow() {
    display: unset;
  }
}

.landing-page-header__follow_icon {
  margin-left: 0.5rem;
}

.landing-page-header__login_button {
  @include button.button-link-new();
}

$_search-form-gutter: 4px;
$_search-button-width: functions.px-to-rem(70px);

.landing-page-hero {
  @include container-horizontal-spacing();
  display: flex;
  justify-content: center;

  @media screen and (min-width: $_landing-page-breakpoint) {
    margin-top: baseline.increments(25); // Breathing space above image
  }
}

.landing-page-hero__search_form {
  width: 100%;
  max-width: functions.px-to-rem(400px); // limit form width to match width of preceding copy
  position: relative;
  margin-bottom: baseline.increments(4);
}

.landing-page-hero__search_text {
  @include typography.sizing(14px, 1.75);
  width: 100%;
  height: baseline.increments(6);
  border: settings.$border-width solid settings.$colour-furniture;
  border-radius: settings.$border-radius;
  padding-top: baseline.increments(17/8);
  padding-bottom: baseline.increments(17/8);
  padding-left: functions.px-to-rem($_search-form-gutter);
  padding-right: $_search-button-width + 2 * functions.px-to-rem($_search-form-gutter);
  letter-spacing: 0.1px;
  color: settings.$colour-text-primary;
  background-color: settings.$colour-landing-page-search;
}

.landing-page-hero__search_button {
  @include button.button-new();
  position: absolute;
  top: $_search-form-gutter;
  bottom: $_search-form-gutter;
  right: $_search-form-gutter;
  width: $_search-button-width;
}

.landing-page-hero__content {
  @media screen and (min-width: $_landing-page-breakpoint) {
    margin-top: baseline.increments(7.5); // Offset content from top of image
    padding-right: 2rem;
  }
}

.landing-page-hero__content__title,
.landing-page-hero__content__byline {
  color: settings.$colour-text-primary;
  font-family: settings.$font-family;
}

.landing-page-hero__content__title {
  @include typography.sizing(36px, 5.25);
  font-weight: bold;
  letter-spacing: 0.26px;
}

.landing-page-hero__image {
  display: none;

  @media screen and (min-width: $_landing-page-breakpoint) {
    @supports(display: flex) {
      display: block;
    }
    width: 100%;
  }
}

.landing-page-recently-evaluated {
  background-color: settings.$colour-component-background;
  padding-top: $_section-top-padding;
  padding-bottom: baseline.increments(3);

  @include breakpoints.not-narrow {
    @include container-horizontal-spacing();
  }

  @media screen and (min-width: 30.25em) {
    padding-bottom: baseline.increments(6);
  }
}

.landing-page-recently-evaluated * {
  color: settings.$colour-text-primary;
  font-family: settings.$font-family;
}

.landing-page-recently-evaluated__title {
  @include typography.sizing(24px, 3.5);
  font-weight: bold;
  letter-spacing: 0.17px;
  margin-bottom: baseline.increments(2.5);
  text-align: center;
}

.landing-page-recently-evaluated__articles {
  @include list.basics();
  padding-bottom: baseline.increments(5);
  margin-bottom: 0;

  @media screen and (min-width: $_landing-page-breakpoint) {
    @supports (display: flex) {
      display: flex;
      justify-content: space-evenly;
    }
  }
}

.landing-page-recently-evaluated__articles li {
  @include card.list-item;

  @media screen and (min-width: $_landing-page-breakpoint) {
    @supports (display: flex) {
      flex: 1 0;
      max-width: 384px; // maximum desired card width
      margin-bottom: 0;
      margin-right: functions.px-to-rem(24px);

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.landing-page-recently-evaluated__call_to_action {
  text-align: center;
}

.landing-page-card {
  @include card.basics();
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $_landing-page-breakpoint) {
    @supports (display: flex) {
      height: 100%;
    }
  }
}

.landing-page-card__group {
  display: flex;
  align-items: center;
  margin-bottom: baseline.increments(2);
  order: 1;
}

.landing-page-card__title {
  @include card.title();
  order: 2;
}

.landing-page-card__link {
  @include card.link();
}

.landing-page-card__meta {
  @include card.meta();
  order: 3;

  @media screen and (min-width: $_landing-page-breakpoint) {
    margin-top: auto;
  }
}

.landing-page-card__avatar {
  @include card.group-avatar();
  margin-right: functions.px-to-rem(8px);
}

.landing-page-personas {
  @include container-horizontal-spacing();
  margin-bottom: baseline.increments(6);
  text-align: center;
  padding-top: $_section-top-padding;
}

.landing-page-personas__content {
  @media screen and (min-width: $_landing-page-breakpoint) {
    @supports (display: flex) {
      display: flex;
      justify-content: center;
      align-items: flex-end;
    }
  }
}

.landing-page-personas__persona {
  margin-bottom: baseline.increments(6);

  @media screen and (min-width: $_landing-page-breakpoint) {
    margin-bottom: 0;

    &:first-child {
      margin-right: 4rem;
    }
  }
}

.landing-page-personas__image {
  width: 100%;
  max-width: 468px;
  margin-bottom: baseline.increments(1);
}

.landing-page-personas * {
  color: settings.$colour-text-primary;
  font-family: settings.$font-family;
}

.landing-page-personas__title {
  @include typography.sizing(24px, 3.5);
  font-weight: bold;
  letter-spacing: 0.17px;
  margin-bottom: baseline.increments(2.5);
}

@mixin call-to-action-button() {
  @include button.button-link-new();
  display: inline-block;
  width: functions.px-to-rem(192px);
  text-align: center;
  padding-top: baseline.increments(1.625);
  padding-bottom: baseline.increments(1.625);
  margin: 0 0.75rem baseline.increments(3);

  @media screen and (min-width: 30.25em) {
    margin-bottom: 0;
  }
}

.landing-page-calls-to-action {
  @include container-horizontal-spacing();
  padding-top: $_section-top-padding;
  padding-bottom: baseline.increments(3);
  background-color: settings.$colour-component-background;

  @supports (display: flex) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media screen and (min-width: 30.25em) {
    padding-bottom: baseline.increments(6);
  }
}

.landing-page-calls-to-action * {
  color: settings.$colour-text-primary;
  font-family: settings.$font-family;
}

.landing-page-calls-to-action__title {
  @include typography.sizing(24px, 3.5);
  font-weight: bold;
  letter-spacing: 0.17px;
}

.landing-page-call-to-action__text {
  margin-bottom: baseline.increments(5);
}

.landing-page-calls-to-action__buttons {
  text-align: center;
  margin-bottom: baseline.increments(5);
}

.landing-page-calls-to-action__login_button {
  @include call-to-action-button();
}

.landing-page-calls-to-action__byline {
  margin-bottom: 0;
}

.landing-page__secondary_button {
  @include call-to-action-button();

  &:link,
  &:visited {
    background-color: settings.$colour-white;
    color: settings.$colour-accent;

    &:active {
      background-color: settings.$colour-white;
      color: settings.$colour-accent;
    }
  }
}

.landing-page-footer {
  grid-column: 2 / -1;
  justify-self: center;
  font-family: settings.$font-family;
  margin-bottom: baseline.increments(1.5);
}

.landing-page-footer__links {
  @include list.basics();
  display: flex;
  justify-content: center;
}

.landing-page-footer__link {
  margin-right: 1rem;

  &:last-child {
    margin-right: 0;
  }
}

.landing-page-footer__small_print {
  display: block;
  text-align: center;
  padding-left: functions.px-to-rem(12px);
  padding-right: functions.px-to-rem(12px);
}
