@use '../sass/breakpoints';
@use '../sass/button';
@use '../sass/functions';
@use '../sass/settings';
@use '../sass/typography';
@use '../sass/baseline';
@use '../sass/list';
@use '../sass/card';
@use 'common';
@use 'hero/hero';
@use 'recently-evaluated/recently-evaluated';
@use 'personas/personas';

.landing-page {
  margin-top: baseline.increments(2);
  flex-grow: 1;
}

$_header-height-in-px: 60px;

.landing-page-header {
  @include common.container-horizontal-spacing();
  padding-top: functions.px-to-rem(12px);
  padding-bottom: functions.px-to-rem(12px);
  display: flex;
  justify-content: space-between;
  align-content: center;
  height: functions.px-to-rem($_header-height-in-px);
}

.landing-page-header__follow_link {
  @include typography.sizing(14px, 1.75);
  font-family: settings.$font-family;
  font-weight: bold;
  margin-right: 1.5rem;
  display: inline-flex;
  align-items: center;
  margin-left: auto;

  &:link,
  &:visited {
    color: settings.$colour-text-primary;

    &:hover,
    &:active {
      color: settings.$colour-text-primary;
    }
  }
}

.landing-page-header__follow_link_text {
  display: none;

  @include breakpoints.not-narrow() {
    display: unset;
  }
}

.landing-page-header__follow_icon {
  margin-left: 0.5rem;
}

.landing-page-header__login_button {
  @include button.button-link-new();
}

@mixin call-to-action-button() {
  @include button.button-link-new();
  display: inline-block;
  width: functions.px-to-rem(192px);
  text-align: center;
  padding-top: baseline.increments(1.625);
  padding-bottom: baseline.increments(1.625);
  margin: 0 0.75rem baseline.increments(3);

  @media screen and (min-width: 30.25em) {
    margin-bottom: 0;
  }
}

.landing-page-calls-to-action {
  @include common.container-horizontal-spacing();
  padding-top: common.$section-top-padding;
  padding-bottom: baseline.increments(3);
  background-color: settings.$colour-component-background;

  @supports (display: flex) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media screen and (min-width: 30.25em) {
    padding-bottom: baseline.increments(6);
  }
}

.landing-page-calls-to-action * {
  color: settings.$colour-text-primary;
  font-family: settings.$font-family;
}

.landing-page-calls-to-action__title {
  @include typography.sizing(24px, 3.5);
  font-weight: bold;
  letter-spacing: 0.17px;
}

.landing-page-call-to-action__text {
  margin-bottom: baseline.increments(5);
}

.landing-page-calls-to-action__buttons {
  text-align: center;
  margin-bottom: baseline.increments(5);
}

.landing-page-calls-to-action__login_button {
  @include call-to-action-button();
}

.landing-page-calls-to-action__byline {
  margin-bottom: 0;
}

.landing-page__secondary_button {
  @include call-to-action-button();

  &:link,
  &:visited {
    background-color: settings.$colour-white;
    color: settings.$colour-accent;

    &:active {
      background-color: settings.$colour-white;
      color: settings.$colour-accent;
    }
  }
}

.landing-page-footer {
  grid-column: 2 / -1;
  justify-self: center;
  font-family: settings.$font-family;
  margin-bottom: baseline.increments(1.5);
}

.landing-page-footer__links {
  @include list.basics();
  display: flex;
  justify-content: center;
}

.landing-page-footer__link {
  margin-right: 1rem;

  &:last-child {
    margin-right: 0;
  }
}

.landing-page-footer__small_print {
  display: block;
  text-align: center;
  padding-left: functions.px-to-rem(12px);
  padding-right: functions.px-to-rem(12px);
}
