@use '../sass/settings';
@use '../sass/baseline';
@use '../sass/breakpoints';
@use '../sass/card';
@use '../sass/layout';

.my-feed-page-cta {
  @include layout.page-content-horizontal-margins();
}

.my-feed-page-feed-container h2 {
  margin-left: 1rem;
  margin-right: 1rem;

  @include breakpoints.not-narrow() {
    margin-left: 0;
    margin-right: 0;
  }
}

.my-feed__list {
  @include card.list();
}

.my-feed__list_item {
  @include card.list-item();
}
