@use '../../sass/breakpoints';
@use '../../sass/card';
@use '../../sass/layout';
@use '../../sass/settings';
@use '../../sass/typography';
@use '../../sass/page-header';
@use '../../sass/avatar';
@use '../../sass/button';
@use '../../sass/functions';

$_remove-article-icon-size: 24px;
$_edit-details-icon-size: 24px;
$_edit-details-icon-offset: 8px;

.articles-list__item {
  @include card.list-item();
}

.page-header.page-header--list {
  margin-bottom: 2rem;
}

.page-header--list .page-header__subheading {
  @include typography.subheading();
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.page-header--list .page-header__avatar {
  @include avatar.border();
  width: avatar.$size--medium;
  height: avatar.$size--medium;
  margin-right: 0.5rem;
}

.page-header--list .page-header__description {
  margin-bottom: 0.5rem;
}

.page-header--list .page-header__meta {
  @include typography.details();
  @include typography.list-separator();
  margin-bottom: 1rem;
}

.page-header__edit_details_link {
  @include button.button-link();
  background-image: url('/static/images/edit-note-icon.svg');
  background-repeat: no-repeat;
  background-size: functions.px-to-rem($_edit-details-icon-size);
  background-position: functions.px-to-rem($_edit-details-icon-offset) 0.25rem;
  padding-left: functions.px-to-rem($_edit-details-icon-size + $_edit-details-icon-offset);
}

.articles-page-count {
  @include typography.details();
  @include layout.page-content-horizontal-margins();
  margin-bottom: 1rem;
}

.articles-static-message {
  @include layout.page-content-horizontal-margins();
}

svg.saved-articles-control__icon {
  fill: settings.$colour-text-primary;
}

.saved-articles-control {
  @include button.basics();
  padding: 0;
  display: block;
  height: $_remove-article-icon-size;
  width: $_remove-article-icon-size;
  background-color: transparent;

  &:hover svg.saved-articles-control__icon {
    fill: settings.$colour-accent;
  }
}
