@use '../../sass/breakpoints';
@use '../../sass/card';
@use '../../sass/layout';
@use '../../sass/settings';
@use '../../sass/typography';
@use '../../sass/page-header';
@use '../../sass/avatar';
@use '../../sass/button';
@use '../../sass/functions';

$_edit-details-icon-size: 24px;
$_edit-details-icon-offset: 8px;

.success-banner {
  border: 5px solid #00703c;
  margin-bottom: functions.px-to-rem(48px);

  p {
    padding: functions.px-to-rem(settings.$default-form-gutter);
  }
}

.success-banner__heading {
  padding: functions.px-to-rem(settings.$default-form-gutter);
  background-color: #00703c;
  color: settings.$colour-white;

  h2 {
    @include typography.heading-3();
    margin-bottom: 0;
  }
}

.page-header.page-header--list {
  margin-bottom: 0;
}

.page-header--list .page-header__subheading {
  @include typography.subheading();
  display: flex;
  align-items: center;
  margin-bottom: functions.px-to-rem(8px);
}

.page-header--list .page-header__avatar {
  @include avatar.border();
  width: avatar.$size--medium;
  height: avatar.$size--medium;
  margin-right: functions.px-to-rem(8px);
}

.page-header--list .page-header__description {
  margin-bottom: functions.px-to-rem(8px);
}

.page-header--list .page-header__meta {
  @include typography.details();
  @include typography.list-separator();
  margin-bottom: functions.px-to-rem(16px);
}

.list-page-content {
  grid-column: 1/-1;
}

.list-page-actions {
  display: flex;
  flex-wrap: wrap;
  gap: functions.px-to-rem(settings.$click-target-separation);
  margin-bottom: functions.px-to-rem(32px);
}

.list-page-actions__edit_details_link {
  @include button.primary-link();
  background-image: url('/static/images/edit-note-icon.svg');
  background-repeat: no-repeat;
  background-size: functions.px-to-rem($_edit-details-icon-size);
  background-position: functions.px-to-rem($_edit-details-icon-offset) 0.25rem;
  padding-left: functions.px-to-rem($_edit-details-icon-size + $_edit-details-icon-offset);
}

.list-page-actions__related_articles {
  @include button.secondary-link();
}

.list-page-actions__subscribe {
  @include button.primary-link();
}

.articles-page-count {
  @include typography.details();
  margin-bottom: functions.px-to-rem(16px);
}

.saved-articles-control--remove {
  @include button.secondary();
}

.saved-articles-control--annotate {
  @include button.primary-link();
}