@use '../sass/settings';
@use '../sass/button';

.annotation-form-content {
  width: 100%;
  margin-bottom: 0.5rem;
}

.annotation-form-article-id {
  display: block;
  margin-bottom: 0.5rem;
}

.annotation-form-controls {
  display: flex;
}

.annotation-form-submit {
  @include button.button();
}

.annotation-form-reset {
  @include button.secondary-button();
  margin-left: auto;
}
