@use '../sass/settings';
@use '../sass/baseline';
@use '../sass/button';

.annotation-form-content {
  width: 100%;
  margin-bottom: baseline.increments(1);
}

.annotation-form-article-id {
  display: block;
  margin-bottom: baseline.increments(1);
}

.annotation-form-controls {
  display: flex;
}

.annotation-form-submit {
  @include button.button();
}

.annotation-form-reset {
  @include button.button-inverted();
  margin-left: auto;
}
