@use 'sass:color';
@use 'functions';
@use 'link';
@use 'settings';
@use 'typography';

@mixin _link($text, $background, $background-hover) {
  @include typography.button();

  display: inline-block;
  padding: functions.px-to-rem(9px) functions.px-to-rem(12px);
  border-radius: settings.$border-radius;

  color: $text;
  background-color: $background;

  @include link.normal-state() {
    color: $text;
    background-color: $background;
  }

  &:any-link {
    &:active,
    &:hover {
      color: $text;
      text-decoration: none;
    }

    &:active {
      background-color: $background;
    }

    &:hover {
      background-color: $background-hover;
    }

    &:focus {
      color: $text;
      text-decoration: none;
    }
  }
}

@mixin _button($text, $background, $background-hover) {
  border-width: 0;
  border-radius: settings.$border-radius;
  padding: functions.px-to-rem(9px) functions.px-to-rem(12px);

  color: $text;
  background-color: $background;

  &:hover {
    background-color: $background-hover;
  }
}

@mixin primary {
  @include _button(
    $text: settings.$colour-white,
    $background: settings.$colour-accent,
    $background-hover: settings.$colour-accent-hover,
  );
}

@mixin primary-link {
  @include _link(
    $text: settings.$colour-white,
    $background: settings.$colour-accent,
    $background-hover: settings.$colour-accent-hover,
  );
}

@mixin secondary() {
  @include _button(
    $text: settings.$colour-text-primary,
    $background: settings.$colour-background-grey,
    $background-hover: color.adjust(settings.$colour-background-grey, $lightness: -12%),
  );
}

@mixin secondary-link() {
  @include _link(
    $text: settings.$colour-text-primary,
    $background: settings.$colour-background-grey,
    $background-hover: color.adjust(settings.$colour-background-grey, $lightness: -12%),
    );
}

@mixin experimental-category-link() {
  @include _link(
    $text: settings.$colour-text-primary,
    $background: settings.$colour-white,
    $background-hover: settings.$colour-background-grey,
    );
  border: 1px solid settings.$colour-furniture;
}
