@use 'layout';
@use 'card';

.supplementary-info {
  @include layout.allow-edge-to-edge-content-when-narrow();
  @include layout.column-two();
}

.supplementary-list {
  @include card.list();
}

.supplementary-list__item {
  @include card.list-item();
}
