@use '../../sass/functions';
@use '../../sass/baseline';
@use '../../sass/typography';
@use '../../sass/card';
@use '../common';

.evaluation-card {
  @include card.basics();
  display: flex;
  flex-direction: column;

  @media screen and (min-width: common.$home-page-breakpoint) {
    @supports (display: flex) {
      height: 100%;
    }
  }
}

.evaluation-card__group {
  @include typography.body-1();
  display: flex;
  align-items: center;
  margin-bottom: baseline.increments(2);
  order: 1;
}

.evaluation-card__title {
  @include typography.title-2();
  margin-bottom: baseline.increments(2);
  order: 2;
}

.evaluation-card__link {
  @include card.link();
}

.evaluation-card__meta {
  @include card.meta();
  order: 3;

  @media screen and (min-width: common.$home-page-breakpoint) {
    margin-top: auto;
  }
}

.evaluation-card__avatar {
  @include card.avatar();
  margin-right: functions.px-to-rem(8px);
}
