@use '../../sass/settings';
@use '../../sass/functions';
@use '../../sass/baseline';
@use '../../sass/typography';
@use '../../sass/breakpoints';
@use '../../sass/list';
@use '../../sass/card';
@use '../common';
@use './evaluation-card';
@use './user-list-card';

.home-page-cards {
  background-color: settings.$colour-component-background;
  padding-top: common.$section-top-padding;
  padding-bottom: baseline.increments(3);

  @include breakpoints.not-narrow {
    @include common.container-horizontal-spacing();
  }

  @media screen and (min-width: 30.25em) {
    padding-bottom: baseline.increments(6);
  }
}

.home-page-cards__title {
  @include typography.section();
  margin-bottom: baseline.increments(2.5);
  text-align: center;
}

.home-page-cards__cards {
  @include list.basics();
  padding-bottom: baseline.increments(5);
  margin-bottom: 0;

  @media screen and (min-width: common.$home-page-breakpoint) {
    @supports (display: flex) {
      display: flex;
      justify-content: space-evenly;
    }
  }
}

.home-page-cards__cards li {
  @include card.list-item;

  @media screen and (min-width: common.$home-page-breakpoint) {
    @supports (display: flex) {
      flex: 1 0;
      max-width: 384px; // maximum desired card width
      margin-bottom: 0;
      margin-right: functions.px-to-rem(24px);

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.home-page-cards__explanatory_text {
  text-align: center;
  padding-left: 16px;
  padding-right: 16px;
}

.home-page-cards__call_to_action {
  text-align: center;
}

.home-page-cards__button {
  @include common.secondary-button();
}
