@use '../sass/card';
@use '../sass/functions';
@use '../sass/layout';
@use '../sass/typography';
@use '../sass/breakpoints';
@use 'cards';

.sciety-feed-page-numbers {
  @include typography.details();
  @include layout.page-content-horizontal-margins();
  font-weight: bold;
  margin-bottom: 1rem;
}

.sciety-feed-list {
  @include card.list();
  margin-bottom: 1.5rem;
}

.sciety-feed-list__item {
  @include card.list-item();
}

.supplementary-info--sciety-feed {
  @include breakpoints.not-narrow() {
    padding-top: functions.px-to-rem(30px);
  }
}
