@use '../sass/card';
@use '../sass/functions';
@use '../sass/layout';
@use '../sass/typography';
@use '../sass/breakpoints';
@use '../sass/feed-page-numbers';
@use 'cards';

.sciety-feed-page-numbers {
  @include feed-page-numbers.feed-page-numbers();
}

.sciety-feed-list {
  @include card.list();
  margin-bottom: 1.5rem;
}

.sciety-feed-list__item {
  @include card.list-item();
}

.supplementary-info--sciety-feed {
  @include breakpoints.not-narrow() {
    padding-top: functions.px-to-rem(30px);
  }
}
