@use '../sass/card';
@use '../sass/list';
@use '../sass/settings';
@use '../sass/baseline';
@use '../sass/functions';
@use '../sass/layout';
@use '../sass/typography';
@use '../sass/breakpoints';

.sciety-feed-page-numbers {
  @include typography.details();
  @include layout.basic-horizontal-spacing();
  font-weight: bold;
  margin-bottom: 1rem;
}

.sciety-feed-list {
  @include card.list();
  margin-bottom: 1.5rem;
}

.sciety-feed-list__item {
  @include card.list-item();
}

.sciety-feed-card {
  @include card.basics();
  padding: 0;
}

.sciety-feed-card__link {
  display: block;
  padding: 1rem;
}

a.sciety-feed-card__link:link,
a.sciety-feed-card__link:visited {
  color: settings.$colour-text-primary;

  &:hover,
  &:active {
    color: settings.$colour-text-primary;
  }
}

.sciety-feed-card__event_title {
  display: flex;
  align-items: center;
}

.sciety-feed-card__event_date {
  margin-left: auto;
  padding-left: 1rem;
}

.sciety-feed-card__avatar {
  @include card.avatar();
  margin-right: 1rem;
}

.sciety-feed-card__event_title_text {
  @include card.title();
  margin-bottom: 0;
}

.sciety-feed-card__article_details {
  margin-top: 2rem;
}

.supplementary-info--sciety-feed {
  @include breakpoints.not-narrow() {
    padding-top: functions.px-to-rem(30px);
  }
}
