@use '../../../sass/breakpoints';
@use '../../../sass/button';
@use '../../../sass/functions';
@use '../../../sass/layout';
@use '../../../sass/settings';
@use '../../../sass/typography';

@use 'local-settings';

.article-actions {
  @include layout.page-content-horizontal-margins();
  margin-bottom: local-settings.$component-vertical-spacing;

  @supports (display: grid) {
    @include breakpoints.two-column-display {
      @include layout.page-header-top-space();
      grid-column: 10 / 13;
      grid-row: 1 / 3;
    }
  }
}

.article-actions-heading {
  @include typography.heading-3();
}

.full-article-button {
  @include button.button-link();
  margin-bottom: 2rem;

  @include breakpoints.two-column-display {
    margin-bottom: 5rem;
  }
}

.logged-out-call-to-action {
  @include button.button-link-teal();
}

.list-name {
  font-size: functions.px-to-rem(18px);
  margin-bottom: 0.5rem;
}

.save-article-form {
  margin-bottom: 1.5rem;
}

.save-article-button {
  @include button.button-teal();
  margin-right: 2em;
}

.saved-to-list {
  @include typography.button();
  display: flex;
  align-items: center;
}

.saved-to-list:link,
.saved-to-list:visited {
  @include typography.subtle-link();
}

.saved-to-list__icon {
  margin-right: functions.px-to-rem(3px);
}
