@use '../../../sass/breakpoints';
@use '../../../sass/button';
@use '../../../sass/card';
@use '../../../sass/functions';
@use '../../../sass/layout';
@use '../../../sass/list';
@use '../../../sass/settings';
@use '../../../sass/typography';

@use 'local-settings';

.article-actions {
  @include layout.page-content-horizontal-margins();
  margin-bottom: local-settings.$component-vertical-spacing;

  @include breakpoints.two-column-display {
    grid-column: 10 / 13;
  }
}

.article-actions-heading {
  @include typography.heading-3();
}

.full-article-button {
  @include button.button-link();
  margin-bottom: 2rem;
}

.see-related-articles-button {
  @include button.button-link-teal();

  margin-bottom: 2rem;

  @include breakpoints.two-column-display {
    margin-bottom: 5rem;
  }
}

.logged-out-call-to-action {
  @include button.button-link-teal();

  margin-bottom: 1.5rem;
}

.list-name {
  font-size: functions.px-to-rem(18px);
  margin-bottom: 0.5rem;
}

.save-article-form {
  margin-bottom: 1.5rem;
}

.save-article-button {
  @include button.button-teal();
  margin-right: 2em;
}

.saved-to-list {
  @include typography.button();
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.saved-to-list:link,
.saved-to-list:visited {
  @include typography.subtle-link();
}

.saved-to-list__icon {
  margin-right: functions.px-to-rem(3px);
}

.list-management {
  @include card.basics();
}

.list-management__listed-in {
  margin-bottom: 2rem;
}

.listed-in-list {
  @include list.basics();

  margin-bottom: 0;

  li {
    margin-bottom: 0.5rem;
  }
}
