@use '../../../sass/breakpoints';
@use '../../../sass/settings';
@use '../../../sass/list';

@use 'local-settings';

.page-header.page-header--article {
  margin-top: 0;
  margin-bottom: local-settings.$component-vertical-spacing;
  grid-column: 1/-1;
}

.article-author-list {
  @include list.basics();
  margin-top: 0;
  margin-bottom: 0;

  + * {
    clear: left;
  }

  @supports (display: flow-root) {
    display: flow-root;

    + * {
      clear: unset;
    }
  }
}

.article-author-list > li {
  @include list.author-separator-terminator();
  float: left;
  font-weight: bold;
}

.curation-statements {
  @include list.basics();
  margin-top: 3rem;
}

.curation-statement {
  border-top: 1px solid settings.$colour-furniture;
  padding-top: 3rem;
  margin-bottom: 3rem;
}

.curation-statement-header {
  display: flex;
  justify-content: space-between;

  img {
    max-height: 2rem;
  }
}
