@import "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css";

ol.ui,
ul.ui {
  list-style-type: none;
  padding-left: 0;
}

@supports (font-variant-position: sub) {
  sub {
    font-size: inherit;
    font-variant-position: sub;
    position: static;
  }
}

@supports (font-variant-position: super) {
  sup {
    font-size: inherit;
    font-variant-position: super;
    position: static;
  }
}

.ui.form fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

legend.ui.header {
  display: block;
  width: 100%;
}

/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/

article, aside, main, ol, p, section, ul {
  margin-top: 0;
  margin-bottom: 1.125rem;
}

hr {
  border: 0;
  border-top: 1px solid #e0e0e0;
  height: 0;
  margin: 2.25rem 0;
}

.content-header {
  font-family: "Noto Sans", Arial, Helvetica, sans-serif;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 2.9375rem;
  padding-top: 6rem;
  padding-bottom: 3rem;
}

.content-header__details {
  color: rgb(136, 136, 136);
  font-size: .875rem;
  line-height: 1.71429;
  list-style-type: none;
  margin-bottom: 1.5rem;
  padding-left: 0;
}

.author-list li {
  display: inline;
}

.author-list li:after {
  content: ",\a0";
}

.author-list {
  list-style-type: none;
  margin-bottom: 1.5rem;
  padding-left: 0;
}

.author-list li {
  display: inline;
}

.author-list li:after {
  content: ",\a0";
}

.author-list li:last-child:after {
  content: "";
}

.abstract__link {
  color: rgb(2, 136, 209);
  font-family: "Noto Sans", Arial, Helvetica, sans-serif;
  font-size: .875rem;
  line-height: 1.71429;
  text-decoration: none;
}

.abstract__link:after {
  content: "\a0➔";
}

.abstract__link:hover {
  text-decoration: underline;
}

.review-summary-list__list {
  list-style-type: none;
  padding-left: 0;
}

.review-summary {
  margin-bottom: 3rem;
}

.review-summary__title {
  font-size: .875rem;
  line-height: 1.71429;
  margin-bottom: 1.125rem;
}

.review-summary__link {
  color: rgb(2, 136, 209);
  font-family: "Noto Sans", Arial, Helvetica, sans-serif;
  font-size: .875rem;
  line-height: 1.71429;
  text-decoration: none;
}

.review-summary__link:after {
  content: "\a0➔";
}

.review-summary__link:hover {
  text-decoration: underline;
}

/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/

.home-page header {
  text-align: center;
}

/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/

.editorial-community-reviewed-articles {
  margin-top: 3rem;
}
