@import "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css";

ol.ui,
ul.ui {
  list-style-type: none;
  padding-left: 0;
}

ol.ui.list:not(.bulleted):not(.ordered),
ul.ui.list:not(.bulleted):not(.ordered) {
  margin-left: 0;
}

ol.ui.list:not(.bulleted):not(.ordered) li:before,
ul.ui.list:not(.bulleted):not(.ordered) li:before {
  content: '';
}

ol.ui.horizontal.list li.item {
  margin-left: 0;
}

ol.ui.horizontal.list li.item::before {
  content: '';
  margin: 0;
}

ol.ui.horizontal.list li.item .content::after {
  content: ',\0a0';
}

ol.ui.horizontal.list li.item:last-child .content::after {
  content: '';
}

@supports (font-variant-position: sub) {
  sub {
    font-size: inherit;
    font-variant-position: sub;
    position: static;
  }
}

@supports (font-variant-position: super) {
  sup {
    font-size: inherit;
    font-variant-position: super;
    position: static;
  }
}

.ui.form fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

legend.ui.header {
  display: block;
  width: 100%;
}

/*- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/

.editorial-community-reviewed-articles {
  margin-top: 3rem;
}
