@import "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css";

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Styles that override Semantic UI
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/*
Prevent styling of <a> elements that aren't links
*/

a:not([href]) {
  color: inherit;
  text-decoration: inherit;
}

/*
Make sure that links inside a .ui.menu that use <ol> or <ul> retain the intended styling
*/

.ui.menu > .item a:not(.ui) {
  color: inherit;
  text-decoration: inherit;
}

.ui.menu > .item a:hover:not(.ui) {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.03);
  color: rgba(0,0,0,.95);
}

.ui.text.menu > .item a:hover:not(.ui) {
  opacity: 1;
  background-color: transparent;
}

/*
Use real subscript and superscript characters where possible
*/

@supports (font-variant-position: sub) {
  sub {
    font-size: inherit;
    font-variant-position: sub;
    position: static;
  }
}

@supports (font-variant-position: super) {
  sup {
    font-size: inherit;
    font-variant-position: super;
    position: static;
  }
}

/*
Reset <fieldset> in a .ui.form
*/

.ui.form fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

/*
Make sure that .ui.list that use <ol> or <ul> don't have bullets or numbers without using .bulleted or .ordered
*/

ol.ui,
ul.ui {
  list-style-type: none;
  padding-left: 0;
}

ol.ui.list:not(.bulleted):not(.ordered),
ul.ui.list:not(.bulleted):not(.ordered) {
  margin-left: 0;
}

ol.ui.list:not(.bulleted):not(.ordered) li:before,
ul.ui.list:not(.bulleted):not(.ordered) li:before {
  content: '';
}

p:last-child {
  margin-bottom: 1em;
}

/*
Fix the vertical alignment in the event feed
*/
.ui.feed>.event>.content .date {
  display: block;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Styles that supplement Semantic UI
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/*
Allow a form <legend> to be a .ui.header
*/

legend.ui.header {
  display: block;
  width: 100%;
}

/*
Allow commas on the end of each .ui.list .item by adding .comma.separated
*/

.ui[class*="comma separated"].horizontal.list:not(.bulleted):not(.ordered) > .item {
  margin-left: 0;
}

.ui[class*="comma separated"].horizontal.list:not(.bulleted):not(.ordered) > .item:before {
  margin: 0;
}

.ui[class*="comma separated"].list > .item:after {
  content: ',\0a0';
  display: inline;
  visibility: inherit;
}

.ui[class*="comma separated"].list > .item:last-child:after {
  content: '.';
}
