@use '../sass/settings';
@use '../sass/card';
@use '../sass/functions';
@use '../sass/baseline';
@use '../sass/typography';
@use '../sass/breakpoints';
@use '../sass/layout';
@use '../sass/list';
@use '../sass/avatar';

@use './followers';

.page-header.page-header--group {
  margin-bottom: baseline.increments(3);
}

.group-page-follow-toggle {
  @include layout.basic-horizontal-spacing();
  margin-bottom: baseline.increments(6);
}

.group-page-lists {
  margin-bottom: baseline.increments(3);
}

.group-page-description {
  margin-bottom: baseline.increments(3);
  padding: 1rem;
  background-color: settings.$colour-white;

  @include breakpoints.not-narrow {
    border-radius: settings.$border-radius;
  }
}

.page-header--group {
  .page-header__avatar {
    @include avatar.border();
    width: avatar.$size--large;
    height: avatar.$size--large;
    flex: 0 0 avatar.$size--large;
    margin-right: 1rem;
  }
}

.group-page-lists-heading {
  margin-left: 1rem;
  margin-right: 1rem;

  @include breakpoints.not-narrow {
    margin-left: 0;
    margin-right: 0;
  }
}
