@use '../sass/settings';
@use '../sass/card';
@use '../sass/functions';
@use '../sass/baseline';
@use '../sass/typography';
@use '../sass/breakpoints';

@use '../sass/list';

.sciety-grid--group {
  margin: 0 auto;

  > .page-header--group {
    grid-column: 1 / -1;
  }

  @include breakpoints.not-narrow {
    > .group-page-description {
      grid-column: 1 / 7;
    }

    > .group-page-side-bar {
      grid-column: 8 / -1;
    }
  }
}

.group-page-description {
  grid-column: 1 / -1;
  margin-bottom: baseline.increments(4);
  padding: 1rem;
  background-color: settings.$colour-white;
}

.group-page-side-bar {
  grid-column: 1 / -1;
  margin-bottom: baseline.increments(4);
}

.followers {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: baseline.increments(8);

  @include breakpoints.not-narrow {
    margin-left: 0;
    margin-right: 0;
  }
}

.group-page-follow-toggle {
  grid-column: 1 / -1;
  margin-bottom: baseline.increments(3);
}

.page-header--group {
  .page-header__identity {
    display: flex;
    align-items: center;
    margin-bottom: baseline.increments(3);
  }

  .page-header__avatar {
    width: 76px;
    height: 76px;
    flex: 0 0 76px;
    margin-right: 1rem;
    border-radius: 50%;
  }

  .page-header__title {
    margin-bottom: 0;
  }
}

.group-page-lists-heading {
  margin-left: 1rem;
  margin-right: 1rem;

  @include breakpoints.not-narrow {
    margin-left: 0;
    margin-right: 0;
  }
}
