@use '../sass/settings';
@use '../sass/card';
@use '../sass/functions';
@use '../sass/baseline';
@use '../sass/typography';
@use '../sass/breakpoints';
@use '../sass/layout';
@use '../sass/list';

@use './user-card';

.page-header.page-header--group {
  margin-bottom: baseline.increments(3);
}

.group-page-follow-toggle {
  @include layout.basic-horizontal-spacing();
  margin-bottom: baseline.increments(6);
}

.group-page-lists {
  margin-bottom: baseline.increments(3);
}

.group-page-description {
  margin-bottom: baseline.increments(3);
  padding: 1rem;
  background-color: settings.$colour-white;

  @include breakpoints.not-narrow {
    border-radius: settings.$border-radius;
  }
}

.page-header--group {
  .page-header__identity {
    display: flex;
    align-items: center;
    margin-bottom: baseline.increments(3);
  }

  .page-header__avatar {
    width: 76px;
    height: 76px;
    flex: 0 0 76px;
    margin-right: 1rem;
    border-radius: 50%;
  }

  .page-header__title {
    margin-bottom: 0;
  }
}

.group-page-lists-heading {
  margin-left: 1rem;
  margin-right: 1rem;

  @include breakpoints.not-narrow {
    margin-left: 0;
    margin-right: 0;
  }
}

.group-page-followers-list {
  @include card.list();
}

.group-page-followers-list__item {
  @include card.list-item();
}
