@use '../sass/layout';

.page-header {
  @include layout.page-header-top-space();
  margin-bottom: 3rem;

  p {
    margin-bottom: 0.5rem;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.page-header__identity {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;

  h1 {
    margin-bottom: 0;
  }
}
