@use '../sass/baseline';
@use '../sass/functions';
@use '../sass/list';
@use '../sass/settings';
@use '../sass/typography';
@use '../sass/breakpoints';
@use '../sass/layout';
@use '../sass/card';
@use '../sass/avatar';

.page-header--user {
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: baseline.increments(3);

  .page-header__avatar {
    @include avatar.border();
    width: avatar.$size--large;
    height: avatar.$size--large;
    flex: 0 0 avatar.$size--large;
    margin-right: 1rem;
  }

  h1 {
    margin-bottom: 0;
  }

  .page-header__handle {
    @include typography.page-label();
  }
}

.followed-groups-list {
  @include card.list();
}

.followed-groups-list__item {
  @include card.list-item();
}

.saved-articles-list {
  @include card.list();

  margin-bottom: 3rem;
}

.saved-articles-list__item {
  @include card.list-item();
}

.static-message {
  padding-top: baseline.increments(2);
  margin-left: 1rem;
  margin-right: 1rem;

  @include breakpoints.not-narrow() {
    margin-left: 0;
    margin-right: 0;
  }
}
