@use 'list';
@use 'functions';
@use 'button';

.currently-featured-lists {
	margin-bottom: functions.px-to-rem(16px);

	ul {
		@include list.basics();
	}
}

.currently-featured-lists__item {
	display: flex;
	justify-content: space-between;
	margin-bottom: functions.px-to-rem(8px);

	button {
		@include button.secondary();
	}
}