@use 'list';
@use 'functions';
@use 'button';

.currently-featured-lists {
	margin-bottom: functions.px-to-rem(16px);
}

.list-names-with-actions {
	@include list.basics();

	li {
		display: flex;
	justify-content: space-between;
	margin-bottom: functions.px-to-rem(8px);

	button {
		@include button.secondary();
	}
	}
}
