@use '../../sass/card';
@use 'functions';
@use '../../sass/layout';
@use '../../shared-sass/typography';
@use 'breakpoints';
@use '../../sass/feed-page-numbers';

.sciety-feed-page-numbers {
  @include feed-page-numbers.feed-page-numbers();
}

.supplementary-info--sciety-feed {
  @include breakpoints.not-narrow() {
    padding-top: functions.px-to-rem(30px);
  }
}

.sciety-feed-card {
  $_is-entire-card-linked: true;
  @include card.basics($_is-entire-card-linked);
}

.sciety-feed-card__event_title {
  display: flex;
  align-items: center;
}

.sciety-feed-card__link {
  @include card.entire-card-link();
}

.sciety-feed-card__event_date {
  margin-left: auto;
  padding-left: 1rem;
}

.sciety-feed-card__avatar {
  @include card.avatar();
  margin-right: 1rem;
}

.sciety-feed-card__event_title_text {
  @include card.title();
  margin-bottom: 0;
}

.sciety-feed-card__details {
  margin-top: 2rem;

  > :last-child {
    margin-bottom: 0;
  }
}

.sciety-feed-card__details_title {
  margin-bottom: 0.25rem;
}
