@use 'sass:math';

@use '../../sass/baseline';
@use '../../sass/breakpoints';
@use '../../sass/button';
@use '../../sass/functions';
@use '../../sass/settings';
@use '../../sass/typography';
@use '../../sass/layout';
@use '../../sass/list';
@use '../../sass/states';

$_outer-vertical-spacing: 2rem;

.pre-footer {
  @include layout.page-content-horizontal-margins();
  @include breakpoints.not-narrow() {
    margin-left: auto;
    margin-right: auto;
  }

  border-top: 1px solid settings.$colour-furniture;
  padding-top: $_outer-vertical-spacing;
  margin-bottom: $_outer-vertical-spacing;
  max-width: functions.px-to-rem(1200px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pre-footer__slogan {
  @include typography.heading-2();
  margin-bottom: 1rem;
}

.pre-footer__call_to_action {
  @include button.button-link();
}

.main-footer {
  background-color: settings.$colour-navigation-menu-background;
  padding-top: $_outer-vertical-spacing;
  padding-bottom: $_outer-vertical-spacing;
  text-align: center;
}

.main-footer__navigation {
  @include list.basics();

  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.main-footer__navigation_item {
  $_item-spacing: 32px;
  margin-left: functions.px-to-rem(math.div($_item-spacing, 2));
  margin-right: functions.px-to-rem(math.div($_item-spacing, 2));
  padding-bottom: 1rem;
}

.main-footer__link {
  @include typography.sizing(18px, 2.5);
  display: block;
  font-weight: bold;
  border-bottom: settings.$navigation-link-border-width solid settings.$colour-white;
  padding-bottom: functions.px-to-rem(settings.$navigation-link-border-distance);

  &:link,
  &:visited {
    color: settings.$colour-white;

    @include states.link() {
      color: settings.$colour-accent-hover-on-dark-background;
      border-color: transparent;
    }
  }
}

.main-footer__small_print {
  @include typography.sizing(14px, 2);
  color: settings.$colour-white;

  a:link {
    font-weight: normal;
    text-decoration: underline;
  }

  a:link,
  a:visited {
    color: inherit;

    @include states.link() {
      color: settings.$colour-accent-hover-on-dark-background;
    }
  }
}
