@use 'breakpoints';
@use 'button';
@use 'card';
@use 'functions';
@use 'layout';
@use 'list';
@use 'typography';
@use 'local-settings';

.article-actions {
  margin-bottom: local-settings.$component-vertical-spacing;

  @include layout.column-two;

  @include breakpoints.two-column-display {
    padding-left: functions.px-to-rem(40px);
    grid-row: unset;
  }
}

.article-actions-heading {
  @include typography.heading-3;
}

.article-actions-reviewing-groups {
  margin-bottom: functions.px-to-rem(32px);

  @include list.basics;
}

.article-actions-reviewing-groups__item {
  margin-bottom: functions.px-to-rem(16px);
}

.full-article-button {
  margin-bottom: functions.px-to-rem(32px);

  @include button.primary-link;
}

.see-related-articles-button {
  margin-bottom: functions.px-to-rem(32px);

  @include button.secondary-link;

  @include breakpoints.two-column-display {
    margin-bottom: functions.px-to-rem(80px);
  }
}

.logged-out-call-to-action {
  margin-bottom: functions.px-to-rem(24px);

  @include button.secondary-link;
}

.saved-to-list {
  display: flex;
  align-items: center;
  margin-bottom: functions.px-to-rem(24px);

  @include typography.button;
}

.saved-to-list:any-link {
  @include typography.subtle-link;
}

.saved-to-list__icon {
  margin-right: functions.px-to-rem(3px);
}

.list-management {
  @include card.basics;
}

.list-management__listed-in {
  margin-bottom: functions.px-to-rem(32px);
}

.listed-in-list {
  margin-bottom: 0;

  @include list.basics;

  li {
    margin-bottom: functions.px-to-rem(8px);
  }
}

.article-actions__save_article {
  @include button.primary-link;
}
