@use 'breakpoints';
@use 'button';
@use 'card';
@use 'functions';
@use 'layout';
@use '../../../../sass/list';
@use 'typography';

@use 'local-settings';

.article-actions {
  @include layout.column-two();
  margin-bottom: local-settings.$component-vertical-spacing;

  @include breakpoints.two-column-display {
    padding-left: functions.px-to-rem(40px);
    grid-row: unset;
  }
}

.article-actions-heading {
  @include typography.heading-3();
}

.article-actions-reviewing-groups {
  @include list.basics();
  margin-bottom: functions.px-to-rem(32px);
}

.article-actions-reviewing-groups__item {
  margin-bottom: functions.px-to-rem(16px);
}

.full-article-button {
  @include button.primary-link();
  margin-bottom: functions.px-to-rem(32px);
}

.see-related-articles-button {
  @include button.secondary-link();

  margin-bottom: functions.px-to-rem(32px);

  @include breakpoints.two-column-display {
    margin-bottom: functions.px-to-rem(80px);
  }
}

.logged-out-call-to-action {
  @include button.secondary-link();

  margin-bottom: functions.px-to-rem(24px);
}

.saved-to-list {
  @include typography.button();
  display: flex;
  align-items: center;
  margin-bottom: functions.px-to-rem(24px);
}

.saved-to-list:link,
.saved-to-list:visited {
  @include typography.subtle-link();
}

.saved-to-list__icon {
  margin-right: functions.px-to-rem(3px);
}

.list-management {
  @include card.basics();
}

.list-management__listed-in {
  margin-bottom: functions.px-to-rem(32px);
}

.listed-in-list {
  @include list.basics();

  margin-bottom: 0;

  li {
    margin-bottom: functions.px-to-rem(8px);
  }
}

.article-actions__save_article {
  @include button.primary-link();
}
