@use '../sass/functions';
@use '../sass/settings';
@use '../sass/typography';
@use '../sass/baseline';

$_form-guttering: 8px;

.page-header.page-header--edit-list-details-form-page {
  margin-bottom: baseline.increments(3);
}

.edit-list-details-form {
  background-color: settings.$colour-white;
  padding: functions.px-to-rem(settings.$sciety-default-gutter);
}

.edit-list-details-form__label {
  display: block;
  font-weight: bold;
  margin-bottom: functions.px-to-rem($_form-guttering);
}

.edit-list-details-form__field {
  display: block;
  margin-bottom: functions.px-to-rem(settings.$sciety-default-gutter);
}

.edit-list-details-form__field--description {
  margin-bottom: functions.px-to-rem($_form-guttering);
}

.edit-list-details-form__description_constraints {
  @include typography.details();
}
