@use '../sass/functions';
@use '../sass/settings';

.edit-list-details-form {
  background-color: settings.$colour-white;
  padding: functions.px-to-rem(settings.$sciety-default-gutter);
}

.edit-list-details-form__label {
  display: block;
  font-weight: bold;
}

.edit-list-details-form__field {
  display: block;
}
