@use '../sass/functions';
@use '../sass/settings';
@use '../sass/typography';
@use '../sass/baseline';
@use '../sass/button';
@use '../sass/card';
@use '../sass/breakpoints';

$_form-guttering: 8px;

.page-header.page-header--edit-list-details-form-page {
  margin-bottom: baseline.increments(2);
  @include breakpoints.not-narrow {
    margin-bottom: baseline.increments(3);
  }
  
  h1 {
    margin-bottom: 0;
  }
}

.edit-list-details-form {
  @include card.basics();
}

.edit-list-details-form__label {
  display: block;
  font-weight: bold;
  margin-bottom: functions.px-to-rem($_form-guttering);
}

.edit-list-details-form__field {
  display: block;
  width: 100%;
  margin-bottom: functions.px-to-rem($_form-guttering);
  padding: functions.px-to-rem($_form-guttering);
  border: settings.$border-width solid settings.$colour-furniture;
  border-radius: settings.$border-radius;
}

.edit-list-details-form__constraints {
  @include typography.details();
}

.edit-list-details-form__cancel {
  @include button.button-link-secondary();
  margin-right: functions.px-to-rem(16px);
}

.edit-list-details-form__save {
  @include button.button();
}
