@use 'sass:math';

@use 'settings';;

@function px-to-rem($px) {
  @if $px == 0 {
    @return 0;
  }
  @return math.div($px, settings.$base-font-measure) * 1rem;
}

@function px-to-em($px) {
  @if $px == 0 {
    @return 0;
  }
  @return math.div($px, settings.$base-font-measure) * 1em;
}
