@use 'settings';
@use 'contain-image';
@use 'functions';
@use 'button';
@use '../../../../sass/list';
@use 'common';

.home-page-groups {
  padding-left: functions.px-to-rem(settings.$default-gutter);
  padding-right: functions.px-to-rem(settings.$default-gutter);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: common.$section-vertical-separation;
  max-width: common.$home-page-section-max-width;
}

.home-page-groups__title {
  @include common.section-heading-on-not-narrow();
  margin-bottom: functions.px-to-rem(32px);
}

.home-page-groups-list {
  @include list.basics();
  margin-bottom: functions.px-to-rem(32px);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: functions.px-to-rem(56px) functions.px-to-rem(56px);
}

.home-page-groups__button_wrapper {
  display: flex;
  justify-content: center;
}

.home-page-groups__button {
  @include button.secondary-link();
  margin: 0 auto;
}
