@use 'settings';
@use 'functions';
@use 'typography';
@use 'breakpoints';

@use 'hero-ctas';

$_width-at-which-image-is-too-narrow: 1680px;

@mixin _vertical-spacing-in-hero() {
  margin-bottom: functions.px-to-rem(20px);

  @include breakpoints.not-narrow() {
    margin-bottom: functions.px-to-rem(40px);
  }

}

.home-page-hero-wrapper {
  background-color: settings.$colour-brand;

  img {
    display: none;
  }

  @include breakpoints.site-header() {
    display: grid;
    grid-template-columns: 1fr auto 1fr;

    img {
      display: unset;
      opacity: 0.4;
      overflow: hidden;
    }
  }
}

.home-page-hero__left_image {
  justify-self: end;

  @media screen and (min-width: functions.px-to-em($_width-at-which-image-is-too-narrow)) {
    justify-self: start;
  }
}

.home-page-hero__right_image {
  justify-self: start;

  @media screen and (min-width: functions.px-to-em($_width-at-which-image-is-too-narrow)) {
    justify-self: end;
  }
}

.home-page-hero {
  color: settings.$colour-white;
  padding-bottom: functions.px-to-rem(48px);
  padding-right: functions.px-to-rem(settings.$default-gutter);
  padding-left: functions.px-to-rem(settings.$default-gutter);
  padding-top: functions.px-to-rem(20px);

  @include breakpoints.site-header() {
    padding-top: functions.px-to-rem(193px);
  }
}

.home-page-hero__content_title {
  @include typography.sizing(32px, 38px);
  margin-top: functions.px-to-rem(20px);
  margin-bottom: functions.px-to-rem(8px);
  text-align: center;

  @include breakpoints.not-narrow() {
    @include typography.sizing(54px, 62px);
    margin-bottom: functions.px-to-rem(40px);
    margin-top: 0;
  }
}

.home-page-hero__content_byline {
  @include _vertical-spacing-in-hero();
  @include typography.sizing(20px, 26px);
  text-align: center;

  @include breakpoints.not-narrow() {
    @include typography.sizing(24px, 28px);
    margin-bottom: functions.px-to-rem(76px);
  }
}
