@use '../sass/card';
@use '../sass/list';
@use '../sass/settings';
@use '../sass/baseline';

.all-events-list {
  @include card.list();
  margin-bottom: 1.5rem;
}

.all-events-list__item {
  @include card.list-item();
}

a.all-events-list__item_link:link,
a.all-events-list__item_link:visited {
  color: settings.$colour-text-primary;

  &:hover,
  &:active {
    color: settings.$colour-text-primary;
  }
}

.all-events-card {
  @include card.basics();
  display: flex;
}
