@use '../sass/card';
@use '../sass/list';
@use '../sass/settings';
@use '../sass/baseline';
@use '../sass/functions';
@use '../sass/layout';
@use '../sass/typography';

.all-events-page-numbers {
  @include typography.details();
  @include layout.basic-horizontal-spacing();
  font-weight: bold;
  margin-bottom: 1rem;
}

.all-events-list {
  @include card.list();
  margin-bottom: 1.5rem;
}

.all-events-list__item {
  @include card.list-item();
}

a.all-events-list__item_link:link,
a.all-events-list__item_link:visited {
  color: settings.$colour-text-primary;

  &:hover,
  &:active {
    color: settings.$colour-text-primary;
  }
}

.all-events-card {
  @include card.basics();
}

.all-events-card__event_title {
  display: flex;
  align-items: center;
}

.all-events-card__event_date {
  margin-left: auto;
  padding-left: 1rem;
}

.all-events-card__avatar {
  @include card.avatar();
  margin-right: 1rem;
}

.all-events-card__event_title_text {
  @include typography.heading-base();
  font-size: functions.px-to-rem(18px);
  margin-bottom: 0;
}

.all-events-card__article_details {
  margin-top: 2rem;
}
