@use '../../sass/baseline';
@use '../../sass/breakpoints';
@use '../../sass/button';
@use '../../sass/functions';
@use '../../sass/settings';
@use '../../sass/typography';
@use '../../sass/layout';
@use '../../sass/list';
@use '../../sass/states';

$_outer-vertical-spacing: baseline.increments(4);

.page-footer {
  background-color: settings.$colour-page-background;

  @include breakpoints.not-narrow() {
    grid-column: 2;
  }
}

.pre-footer {
  @include layout.page-content-horizontal-margins();
  @include breakpoints.not-narrow() {
    margin-left: functions.px-to-rem(settings.$sciety-grid-two-columns-column-gap);
    margin-right: functions.px-to-rem(settings.$sciety-grid-two-columns-column-gap);
  }

  border-top: 1px solid settings.$colour-furniture;
  padding-top: $_outer-vertical-spacing;
  margin-bottom: $_outer-vertical-spacing;
  max-width: functions.px-to-rem(1200px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pre-footer__slogan {
  @include typography.heading-2();
  margin-bottom: baseline.increments(2);
}

.pre-footer__call_to_action {
  @include button.button-link();
}

.main-footer {
  height: 10rem;
  background-color: settings.$colour-navigation-menu-background;
  padding-top: $_outer-vertical-spacing;
  padding-bottom: $_outer-vertical-spacing;
  text-align: center;
}

.main-footer__navigation {
  @include list.basics();

  display: flex;
  justify-content: center;

  li {
    margin-right: functions.px-to-rem(35px);
  }

  li:last-child {
    margin-right: 0;
  }
}

.main-footer__link {
  font-size: functions.px-to-rem(18px);
  font-weight: bold;
  border-bottom: 2px solid settings.$colour-white;
  padding-bottom: functions.px-to-rem(4px);

  &:link,
  &:visited {
    color: settings.$colour-white;

    @include states.link() {
      color: settings.$colour-accent-hover-on-dark-background;
      border-color: transparent;
    }
  }
}

.main-footer__small_print {
  @include typography.sizing(14px, 2);
  color: settings.$colour-white;

  a:link {
    font-weight: normal;
    text-decoration: underline;
  }

  a:link,
  a:visited {
    color: inherit;

    @include states.link() {
      color: settings.$colour-accent-hover-on-dark-background;
    }
  }
}
