@use '../sass/layout';

.learn-about-page-video {
  object-fit: contain;
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
}

.learn-about-page-transcript {
  @include layout.page-content-horizontal-margins();
}

.learn-about-page-copy {
  @include layout.column-two();
  @include layout.page-content-horizontal-margins();
}
