@use '../sass/baseline';
@use '../sass/breakpoints';
@use '../sass/card';
@use '../sass/layout';

.sciety-grid--logged-in-home-page {
  @include layout.sciety-grid-columns();
}

.logged-in-home-page-header {
  @include layout.page-header-top-space();
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: #{baseline.increments(7)};

  @include breakpoints.not-narrow() {
    margin-left: 0;
    margin-right: 0;
  }
}

.logged-in-home-page-feed-container h2 {
  margin-left: 1rem;
  margin-right: 1rem;

  @include breakpoints.not-narrow() {
    margin-left: 0;
    margin-right: 0;
  }
}

.your-feed__list {
  @include card.list();
}

.your-feed__list_item {
  @include card.list-item();
}
