@use '../../sass/button';
@use '../../sass/list';
@use '../../sass/functions';
@use '../../sass/settings';


.about-page-call-to-action {
	@include button.primary-link();
	margin-bottom: functions.px-to-rem(24px);
}

.about-page__blog_links_list {
	@include list.basics();

	li {
		padding-top: functions.px-to-rem(32px);
		padding-bottom: functions.px-to-rem(32px);
		border-bottom: settings.$colour-furniture solid 1px;
	}

}