@use 'sass:math';

@use '../../sass/breakpoints';
@use '../../sass/functions';
@use '../../sass/layout';
@use '../../sass/settings';
@use '../../sass/states';
@use '../../sass/typography';
@use '../../sass/list';
@use '../../sass/schemed-header-colours';

$_search-icon-size: functions.px-to-rem(24px);
$_left-links-width-not-narrow: 280px;

@mixin site-header-secondary-button-link() {
  @include typography.button();
  border-radius: settings.$border-radius;
  border: settings.$border-width solid settings.$colour-furniture;
  padding: 0.5rem functions.px-to-rem(12px - settings.$border-width);

  &:link,
  &:visited {
    color: var(--colour-text-navigation-link);

    @include states.link() {
      background-color: settings.$colour-furniture;
      color: settings.$colour-brand;
      ;
    }
  }
}

.site-header {
  @include schemed-header-colours.light();
  background-color: var(--colour-site-header-background);
  width: 100%;
  height: functions.px-to-rem(settings.$site-header-height);
  display: flex;

  @include breakpoints.site-header() {
    display: grid;
    grid-template-columns: 1fr auto minmax(auto, functions.px-to-rem(settings.$max-site-width - $_left-links-width-not-narrow)) 1fr;
  }

  &::before,
  &::after {
    content: '';
    display: block
  }
}

.site-header--dark {
  @include schemed-header-colours.dark();
}

.site-header__left_links {
  padding-left: functions.px-to-rem(settings.$sciety-default-gutter);
  padding-right: functions.px-to-rem(settings.$sciety-default-gutter);
  border-bottom: 1px solid var(--colour-site-header-border);
  @include breakpoints.site-header() {
    width: functions.px-to-rem($_left-links-width-not-narrow);
  }
}

.site-header__left_links_list {
  @include list.basics();

  display: flex;
  align-items: center;
  height: 100%;
}

.site-header__left_links_list_item--logo {
  display: none;

  @include breakpoints.site-header() {
    display: initial;
    line-height: 0;
  }
}

.site-header__logo_link {
  margin-right: functions.px-to-rem(settings.$site-header-click-target-separation);
  display: block;
}

.site-header__logo {
  height: functions.px-to-rem(34px);
}

.site-header__right_links {
  display: flex;
  flex-grow: 1;
  align-items: center;
  padding-top: 0;
  border-bottom: 1px solid var(--colour-site-header-border);
}

.site-header__left_links_list_item--menu {
  @include breakpoints.site-header() {
    display: none;
  }
}

.site-header__menu_link {
  display: flex;
  margin-right: functions.px-to-rem(16px);

  &::before {
    @include layout.visually-hidden();
    content: 'Open the menu';
  }
}

.site-header__search_link {
  @include site-header-secondary-button-link();

  display: flex;
  align-items: center;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  background-color: settings.$colour-white;
}

.site-header__search_icon {
  width: $_search-icon-size;
  height: $_search-icon-size;
}

.site-header__search_label {
  @include layout.visually-hidden();

  @include breakpoints.site-header() {
    @include layout.visually-unhidden();
    color: settings.$colour-brand;
  }
}
