@use 'sass:math';

@use '../../sass/breakpoints';
@use '../../sass/functions';
@use '../../sass/layout';
@use '../../sass/settings';
@use '../../sass/states';
@use '../../sass/typography';
@use '../../sass/list';
@use '../../sass/scheme';

$_search-icon-size: functions.px-to-rem(24px);
$_white-box-width-not-narrow: 280px;

@mixin site-header-secondary-button-link() {
  @include typography.button();
  @include scheme.set-colours(border-color, --furniture-colour, --dark-mode-furniture-colour);
  border-radius: settings.$border-radius;
  border-width: settings.$border-width;
  border-style: solid;
  padding: 0.5rem functions.px-to-rem(12px - settings.$border-width);

  &:link,
  &:visited {
    color: settings.$colour-text-navigation-link;

    @include states.link() {
      background-color: settings.$colour-furniture;
      color: settings.$colour-text-navigation-link;
    }
  }
}

.site-header {
  display: grid;
  grid-template-columns: 1fr auto minmax(auto, functions.px-to-rem(settings.$max-site-width - $_white-box-width-not-narrow)) 1fr;
  width: 100%;

  &:not(.site-header--menu) {
    box-shadow: 0 8px 11px #cfd8dc6b;
    height: functions.px-to-rem(settings.$site-header-height);
    z-index: 1;
  }
}

.site-header__white_box {
  padding-left: functions.px-to-rem(settings.$sciety-default-gutter);
  padding-right: functions.px-to-rem(settings.$sciety-default-gutter);
  @include breakpoints.site-header() {
    width: functions.px-to-rem($_white-box-width-not-narrow);
  }
}

.site-header__white_box_list {
  @include list.basics();

  display: flex;
  align-items: center;
  height: 100%;
}

.site-header__white_box_list_item--logo {
  display: none;

  @include breakpoints.site-header() {
    display: initial;
    line-height: 0;
  }
}

.site-header__logo_link {
  margin-right: functions.px-to-rem(settings.$site-header-click-target-separation);
  display: block;
}

.site-header__logo {
  height: functions.px-to-rem(34px);
}

.site-header__grey_box {
  padding-top: 1rem;
  flex-grow: 1;

  @supports (display: flex) {
    display: flex;
    align-items: center;
    padding-top: 0;
  }
}

.site-header__white_box_list_item--menu {
  @include breakpoints.site-header() {
    display: none;
  }
}

.site-header__menu_link {
  margin-right: functions.px-to-rem(16px);
  
  float: left;
  @supports (display: flex) {
    display: flex;
    float: none;
  }

  &::before {
    @include layout.visually-hidden();
    content: 'Open the menu';
  }
}

.site-header__search_link {
  @include site-header-secondary-button-link();

  display: flex;
  align-items: center;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.site-header__search_icon {
  width: $_search-icon-size;
  height: $_search-icon-size;
}

.site-header__search_label {
  @include layout.visually-hidden();

  @include breakpoints.site-header() {
    @include layout.visually-unhidden();
  }
}
