@use 'sass:math';

@use '../../sass/baseline';
@use '../../sass/breakpoints';
@use '../../sass/functions';
@use '../../sass/layout';
@use '../../sass/settings';

$_search-icon-size: functions.px-to-rem(28px);

.site-header {
  display: flex;
  padding-bottom: baseline.increments(1);
  background-color: settings.$colour-site-header-background-darker;
  width: 100%;

  @supports (display: flex) {
    width: unset;
  }

  @include breakpoints.not-narrow() {
    grid-column: 2;
    width: calc(100% - #{settings.$drawer-width});

    @supports (display: flex) {
      width: unset;
    }
  }

  &:not(.site-header--menu) {
    background-image: linear-gradient(0deg, rgb(233, 235, 240) 0, rgb(207, 216, 220) 
    settings.$top-nav-shadow-height - 1, settings.$colour-site-header-background-darker settings.$top-nav-shadow-height);
    height: functions.px-to-rem(settings.$site-header-plus-shadow-height);
  }
}

.site-header__white_box {
  display: flex;
  align-items: center;
  margin-left: functions.px-to-rem(settings.$menu-icons-left-spacing);
}

.site-header__grey_box {
  padding-top: math.div(functions.px-to-rem(settings.$site-header-height) - $_search-icon-size, 2);
  flex-grow: 1;

  @supports (display: flex) {
    max-width: functions.px-to-rem(settings.$max-site-width);
    display: flex;
    align-items: center;
    padding-top: 0;
  }
}

.site-header__menu_link {
  display: inline-block;
  float: left;
  margin-right: functions.px-to-rem(16px);
  @supports (display: flex) {
    display: flex;
    float: none;
  }

  @include breakpoints.not-narrow() {
    display: none;
  }

  &::before {
    @include layout.visually-hidden();
    content: 'Open the menu';
  }
}
