@use '../../sass/functions';
@use '../../sass/list';
@use '../../sass/button';
@use 'sass-utilities' as utilities;
@use '../../sass/states';
@use '../../sass/typography';
@use '../../sass/layout';
@use 'breakpoints';
@use 'avatar';
@use '../../sass/schemed-header-colours';

$_space-allocated-to-avatar-and-handle: 120px;
$_avatar-right-margin: 6px;
$_navigation-text-top-spacing: functions.px-to-rem(utilities.$navigation-link-border-distance + utilities.$navigation-link-border-width);
$_navigation-text-bottom-spacing: functions.px-to-rem(utilities.$navigation-link-border-distance);
$_avatar-height-coupled-to-buttons: 34px;

.utility-bar {
  @include schemed-header-colours.light();
  display: flex;
  margin-right: 0;
  flex-grow: 1;
  align-self: center;

  @include breakpoints.site-header() {
    margin-right: functions.px-to-rem(utilities.$default-gutter);
  }
}

.utility-bar--dark {
  @include schemed-header-colours.dark();
}

.utility-bar__list {
  @include list.basics();
  display: flex;
  justify-content: flex-start;
  margin-bottom: 0;
  margin-left: auto;
}

.utility-bar__list_item {
  padding-right: functions.px-to-rem(24px);
  flex-shrink: 0;
  display: flex;
  align-items: center;

  &:first-child {
    margin-left: auto;
  }

  &:last-child {
    padding-right: 0;
  }
}

.utility-bar__list_item--navigation {
  display: none;

  @include breakpoints.site-header() {
    display: flex;
  }
}

.utility-bar__list_nav_link {
  @include typography.button();
  padding-top: $_navigation-text-top-spacing;
  padding-bottom: $_navigation-text-bottom-spacing;
  border-bottom: utilities.$navigation-link-border-width solid transparent;
  display: block;

  &:link,
  &:visited {
    color: var(--colour-text-navigation-link);

    @include states.link() {
      color: var(--colour-text-primary);
      border-color: var(--colour-text-primary);
    }
  }
}

.utility-bar__list_link_primary_button {
  @include button.primary-link();
}

.utility-bar__list_link_secondary_button {
  @include typography.button();
  border-radius: utilities.$border-radius;
  border: utilities.$border-width solid utilities.$colour-furniture;
  padding: functions.px-to-rem(8px) functions.px-to-rem(12px - utilities.$border-width);

  &:link,
  &:visited {
    color: var(--colour-text-navigation-link);

    @include states.link() {
      background-color: utilities.$colour-furniture;
      color: utilities.$colour-brand;
      ;
    }
  }
}

.utility-bar-user-profile {
  display: flex;
  line-height: 1;

  &:link,
  &:visited {
    color: var(--colour-text-primary);

    &:hover,
    &:active {
      color: var(--colour-text-primary);
    }
  }

  &::before {
    @include layout.visually-hidden();
    content: 'Go to profile';
  }
}

.utility-bar-user-profile__avatar {
  @include avatar.border();
  background-color: utilities.$colour-white;
  width: functions.px-to-rem($_avatar-height-coupled-to-buttons);
  height: auto;
  margin-right: functions.px-to-rem(20px);
  display: inline-block;

  @include breakpoints.site-header() {
    width: functions.px-to-rem(avatar.$size--in-site-header);
    margin-right: functions.px-to-rem($_avatar-right-margin);
  }
}

.utility-bar-user-profile__handle {
  padding-top: $_navigation-text-top-spacing;
  padding-bottom: $_navigation-text-bottom-spacing;
  display: none;

  @include breakpoints.site-header() {
    display: unset;
    max-width: functions.px-to-rem($_space-allocated-to-avatar-and-handle - avatar.$size--in-site-header - $_avatar-right-margin);
    overflow: hidden;
    text-overflow: ellipsis;
  }

  @include breakpoints.site-header-show-full-user-handle($_space-allocated-to-avatar-and-handle) {
    max-width: none;
  }
}
