@use 'sass-utilities' as utilities;
@use '../../../sass/button';
@use '../../../sass/card';
@use '../../../sass/contain-image';
@use '../../../sass/functions';
@use '../../../sass/typography';
@use 'breakpoints';
@use '../../../sass/layout';
@use '../../../sass/list';

.page-header.page-header--group {
  margin-bottom: 1.5rem;
}

.page-header__visual_heading {
  width: 100%;
  height: 200px;

  @include breakpoints.not-narrow() {
    width: 400px;
    height: 200px;
  }
}

.page-header__large_logo {
  @include contain-image.contain-image();
  object-position: 50% 50%;

  @include breakpoints.not-narrow() {
    object-position: left 50%;
  }
}

.group-page-follow-toggle {
  margin-bottom: 3rem;
}

.follow-button {
  @include button.primary();
}

.unfollow-button {
  @include button.secondary();
}

.group-page-tab-panel-content {
  padding-top: 2rem;
}
