@use 'contain-image';
@use 'breakpoints';

.page-header__visual_heading {
  width: 100%;
  height: 200px;

  @include breakpoints.not-narrow() {
    width: 400px;
    height: 200px;
  }
}

.page-header__large_logo {
  @include contain-image.contain-image();
  object-position: 50% 50%;

  @include breakpoints.not-narrow() {
    object-position: left 50%;
  }
}

.page-header p.group-page-short-description {
  margin-bottom: 1.5rem;
}

.group-sub-page-back-link {
  display: block;
}
