@use '../../../sass/settings';
@use '../../../sass/button';
@use '../../../sass/card';
@use '../../../sass/functions';
@use '../../../sass/typography';
@use '../../../sass/breakpoints';
@use '../../../sass/layout';
@use '../../../sass/list';
@use '../../../sass/avatar';

.page-header.page-header--group {
  margin-bottom: 1.5rem;
}

.group-page-follow-toggle {
  @include layout.page-content-horizontal-margins();
  margin-bottom: 3rem;
}

.page-header--group {
  .page-header__avatar {
    @include avatar.border();
    width: avatar.$size--large;
    height: avatar.$size--large;
    flex: 0 0 avatar.$size--large;
    margin-right: 1rem;
  }
}

.page-header__large_logo {
  width: 320px;

  @include breakpoints.not-narrow() {
    width: 400px;
  }
}

.follow-button {
  @include button.primary();
}

.unfollow-button {
  @include button.secondary();
}
