@use '../../sass/button';
@use '../../sass/form';
@use '../../sass/settings';

.save-article-page-form {
  @include form.form();
}

.save-article-page-form__fieldset {
  border: settings.$border-width solid settings.$colour-furniture;
  border-radius: settings.$border-radius;
  margin-bottom: settings.$default-form-vertical-spacing;
}

.save-article-page-form__legend {
  @include form.label();
}

.save-article-page-form__button {
  @include button.secondary();
}
