@use '../../sass/button';
@use '../../sass/form';
@use '../../sass/settings';

.save-article-page-form {
  @include form.form-with-borders-and-white-background();
}

.save-article-page-form__fieldset {
  border: settings.$border-width solid settings.$colour-furniture;
  border-radius: settings.$border-radius;
  margin-bottom: settings.$default-form-vertical-spacing;
}

.save-article-page-form__legend {
  @include form.labelling();
}

.save-article-page-form__helper_text {
  @include form.helper-text();
}

.save-article-page-form__button {
  @include form.submit-button();
}
