@use '../../sass/functions';
@use '../../sass/settings';
@use '../../sass/typography';
@use '../../sass/baseline';
@use '../../sass/button';
@use '../../sass/card';
@use '../../sass/breakpoints';

.page-header.page-header--edit-list-details-form-page {
  margin-bottom: baseline.increments(2);
  @include breakpoints.not-narrow {
    margin-bottom: baseline.increments(3);
  }
  
  h1 {
    margin-bottom: 0;
  }
}

.edit-list-details-form {
  @include card.basics();
}

.edit-list-details-form__label {
  display: block;
  font-weight: bold;
  margin-bottom: functions.px-to-rem(settings.$sciety-default-form-gutter);
}

.edit-list-details-form__helper_text {
  margin-bottom: functions.px-to-rem(settings.$sciety-default-form-gutter);
}

.edit-list-details-form__field {
  display: block;
  width: 100%;
  margin-bottom: functions.px-to-rem(settings.$sciety-default-form-gutter);
  padding: functions.px-to-rem(settings.$sciety-default-form-gutter);
  border: settings.$border-width solid settings.$colour-furniture;
  border-radius: settings.$border-radius;
}

.edit-list-details-form__constraints {
  @include typography.details();
  margin-bottom: functions.px-to-rem(settings.$sciety-default-form-vertical-spacing);
}

.edit-list-details-form__save {
  @include button.button();
  margin-right: functions.px-to-rem(settings.$sciety-default-form-element-separation);
}

.edit-list-details-form__cancel {
  @include button.button-link-secondary();
}
