@use 'breakpoints';

.page-header.page-header--edit-list-details-form-page {
  margin-bottom: 1rem;
  @include breakpoints.not-narrow {
    margin-bottom: 1.5rem;
  }

  h1 {
    margin-bottom: 0;
  }
}
