@use '../../sass/baseline';
@use '../../sass/breakpoints';
@use '../../sass/form';

.page-header.page-header--edit-list-details-form-page {
  margin-bottom: 1rem;
  @include breakpoints.not-narrow {
    margin-bottom: baseline.increments(3);
  }

  h1 {
    margin-bottom: 0;
  }
}

.edit-list-details-form {
  @include form.form();
}

.edit-list-details-form__section {
  @include form.section();
}

.edit-list-details-form__label {
  @include form.label();
}

.edit-list-details-form__helper_text {
  @include form.helper-text();
}

.edit-list-details-form__field {
  @include form.field();
}

.edit-list-details-form__constraints {
  @include form.constraints();
}

.edit-list-details-form__save {
  @include form.submit-button();
}

.edit-list-details-form__cancel {
  @include form.cancel-button();
}
