@use '../sass/settings';
@use '../sass/functions';
@use '../sass/typography';
@use '../sass/button';
@use '../sass/card';

$_avatar-size: 48px;
$_icon-size: 24px;
$_icon-inline-offset: 6px;

.page-header--user-list .page-header__subheading {
  @include typography.subheading();
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.page-header--user-list .page-header__avatar {
  width: $_avatar-size;
  height: $_avatar-size;
  border-radius: settings.$border-radius;
  border: settings.$avatar-border;
  margin-right: 0.5rem;
}

.saved-articles-control {
  @include button.basics();
  background-color: transparent;
}

.user-list-subscribe {
  @include button.button-link();
  background-image: url('/static/images/subscribe-bell.svg');
  background-size: functions.px-to-rem($_icon-size);
  background-repeat: no-repeat;
  background-position: functions.px-to-rem($_icon-inline-offset) center;
  padding-left: functions.px-to-rem($_icon-inline-offset * 2 + $_icon-size);
}

.user-list-page-blog-card {
  @include card.basics();
}

.user-list-page-blog-card__title {
  @include card.title();
}

.user-list-page-supplementary {
  margin-bottom: 3rem;
}
